<div class="db-site-loader --show">
  <svg class="svg-icon-loader db-svg"
    width="433"
    height="433"
    viewBox="0 0 433 433"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g id="g_01">
      <g id="g_02">
        <g id="g_03">
          <g id="g_04">
            <g id="g_05">
              <path id="path_01"
                d="M219.505 179.561C219.94 178.189 217.216 175.155 217.216 175.155C217.216 175.155 181.737 171.801 162.841 197.896C143.945 223.992 168.207 249.281 168.207 249.281C167.515 251.622 167.663 254.131 168.623 256.377C169.584 258.623 171.298 260.466 173.472 261.59C179.222 264.556 191.417 263.332 191.417 263.332C191.417 263.332 194.204 270.074 198.084 270.842C201.964 271.61 206.51 267.386 206.51 267.386C206.51 267.386 211.157 273.947 216.467 273.048C220.109 272.003 223.189 269.565 225.035 266.265C225.035 266.265 230.194 272.515 234.438 272.024C238.682 271.533 242.402 264.31 242.402 264.31C248.162 265.261 254.053 265.055 259.729 263.705C260.734 263.481 261.675 263.036 262.484 262.402C263.293 261.768 263.949 260.961 264.403 260.041C264.857 259.12 265.099 258.11 265.109 257.084C265.12 256.058 264.9 255.042 264.465 254.112C268.293 251.384 271.514 247.897 273.926 243.868C276.338 239.84 277.889 235.358 278.481 230.703C279.714 218.001 274.111 204.817 265.537 193.932C254.082 179.457 226.185 176.056 226.185 176.056C226.752 177.135 227.042 178.336 227.029 179.553C227.016 180.771 226.701 181.966 226.112 183.031C224.802 185.009 221.801 186.678 219.379 188.024C217.68 188.969 216.266 189.755 215.919 190.379C215.675 190.849 216.928 193.887 218.254 197.102C219.755 200.741 221.349 204.607 220.968 205.225C220.252 206.389 209.629 193.289 211.227 188.96C211.78 187.493 214.232 185.106 216.329 183.064C217.926 181.509 219.317 180.154 219.505 179.561ZM219.387 249.495C221.067 246.498 216.123 241.142 213.318 241.11L213.333 240.961C210.501 240.897 203.691 244.811 207.241 248.978C209.528 251.547 212.957 248.87 212.957 248.87C212.957 248.87 217.408 253.095 219.387 249.495ZM264.951 222.453C262.919 218.421 259.453 215.288 255.229 213.668L255.259 213.671C252.988 213.006 250.607 212.804 248.257 213.075C245.906 213.347 243.635 214.088 241.579 215.253C239.522 216.418 237.722 217.984 236.285 219.857C234.848 221.731 233.804 223.873 233.216 226.158C232.494 228.421 232.242 230.806 232.474 233.17C232.706 235.534 233.417 237.826 234.565 239.907C235.712 241.989 237.272 243.817 239.149 245.28C241.026 246.742 243.182 247.81 245.485 248.417C249.938 249.219 254.531 248.337 258.364 245.943C262.198 243.549 264.998 239.815 266.216 235.471C267.434 231.127 266.983 226.485 264.951 222.453ZM163.986 218.443C166.508 208.636 175.688 203.327 184.643 206.544C189.194 208.474 192.9 211.967 195.091 216.387C197.282 220.807 197.811 225.863 196.584 230.637C194.068 240.686 184.614 246.028 175.564 242.531C171.082 240.538 167.455 237.02 165.334 232.607C163.213 228.194 162.735 223.173 163.986 218.443Z" 
                clip-rule="evenodd"
                fill-rule="evenodd"
                fill="#FFFFFF">
              </path>
              <path id="path_02"
                d="M199.627 274.543C204.38 272.537 207.861 279.285 207.861 279.285L207.951 279.294C207.951 279.294 211.149 275.27 213.9 275.538C217.271 275.955 219.851 280.479 219.851 280.479C219.851 280.479 224.491 275.603 227.122 275.858C228.942 276.241 230.552 277.289 231.637 278.795C231.637 278.795 236.252 285.683 232.78 290.342C230.926 292.961 224.783 294.05 218.464 294.761C200.738 296.682 195.63 292.394 193.743 287.877C193.118 285.318 193.355 282.625 194.418 280.215C195.482 277.804 197.312 275.811 199.627 274.543Z"
                fill="#FFFFFF">
              </path>
            </g>
            <g id="g_06">
              <path id="path_03"
                d="M248.959 227.521C248.959 227.521 252.369 223.546 252.63 223.971C252.891 224.396 250.513 229.271 250.513 229.271C250.513 229.271 255.041 232.786 252.982 234.985C250.924 237.184 248.802 231.934 248.802 231.934C248.802 231.934 245.692 238.737 243.424 236.548C241.156 234.36 247.142 229.405 247.142 229.405C247.142 229.405 244.872 225.371 245.309 224.614C245.745 223.856 248.959 227.521 248.959 227.521Z"
                fill="#B1FF29">
              </path>
              <path id="path_04"
                d="M182.589 217.662C182.33 217.206 178.92 221.181 178.92 221.181L178.77 221.166C178.77 221.166 175.677 217.513 175.24 218.271C174.804 219.028 177.074 223.062 177.074 223.062C177.074 223.062 171.052 228.075 173.353 230.236C175.653 232.397 178.734 225.591 178.734 225.591C178.734 225.591 180.885 230.844 182.944 228.645C185.002 226.446 180.474 222.931 180.474 222.931C180.474 222.931 182.847 218.117 182.589 217.662Z"
                fill="#B1FF29">
              </path>
            </g>
            <g id="g_07">
              <path id="path_05"
                d="M159.665 153.195C165.094 155.334 170.807 156.678 176.623 157.183C176.846 157.128 176.967 156.714 177.158 156.062C178.325 152.076 182.1 139.186 227.384 144.821C272.26 150.404 272.856 159.329 273.074 162.586C273.112 163.154 273.138 163.55 273.386 163.726C275.054 164.908 288.473 163.96 289.825 162.8C291.176 161.64 291.947 144.365 230.141 138.214C168.334 132.063 158.161 151.878 159.665 153.195Z"
                fill="#B522EB">
              </path>
              <path id="path_06"
                d="M161.711 251.641L161.174 257.172C160.899 258.618 160.65 258.801 159.511 259.635C159.374 259.735 159.223 259.846 159.059 259.968C157.528 261.11 153.387 260.498 151.365 260.152C149.301 259.778 146.76 259.602 144.066 259.415C136.488 258.89 127.693 258.28 124.866 252.956C121.429 246.649 122.554 230.398 122.554 230.398C122.554 230.398 125.097 208.252 125.485 206.429C125.536 206.192 125.603 205.79 125.691 205.257C126.287 201.676 127.864 192.206 131.961 187.666C136.668 182.449 152.321 182.138 152.321 182.138L154.871 158.371C154.958 157.872 155.237 157.428 155.65 157.131C156.063 156.835 156.576 156.71 157.08 156.784L177.747 161.793C177.994 161.85 178.226 161.955 178.432 162.101C178.638 162.248 178.813 162.434 178.946 162.647C179.08 162.861 179.17 163.099 179.211 163.347C179.252 163.595 179.244 163.849 179.186 164.094L173.202 184.015C173.202 184.015 157.079 194.457 153.869 210.085C152.689 216.085 152.717 222.26 153.95 228.253C155.184 234.246 157.599 239.939 161.056 245.003L161.711 251.641ZM152.099 199.677C152.714 193.343 146.213 198.055 143.057 202.551C140.159 206.892 138.369 211.869 137.841 217.054C136.666 223.414 137.373 229.978 139.874 235.952C141.931 240.295 147.767 245.544 151.1 242.656C152.331 240.469 151.26 236.936 150.003 232.789C148.838 228.946 147.513 224.576 147.713 220.264C148.323 213.248 149.796 206.334 152.099 199.677Z"
                clip-rule="evenodd"
                fill-rule="evenodd"
                fill="#B522EB">
              </path>
              <path id="path_07"
                d="M268.366 253.711C268.366 253.711 267.308 259.011 267.274 260.599C267.269 260.851 267.257 261.11 267.245 261.372C267.18 262.765 267.11 264.265 268.016 265.414C269.092 266.779 274.096 268.465 286.715 268.28C297.975 268.114 300.141 265.966 303.219 262.914C303.59 262.546 303.975 262.164 304.391 261.771C308.251 258.123 310.357 247.011 310.771 227.179C310.856 223.195 310.936 202.761 306.801 197.106C302.666 191.451 291.651 190.052 291.651 190.052L293.449 168.733C293.472 168.247 293.303 167.771 292.976 167.408C292.649 167.045 292.192 166.824 291.703 166.793L271.387 167.192C270.339 167.09 269.967 169.365 270.049 170.394L270.199 194.993C277.437 204.503 281.197 216.177 280.857 228.087C280.33 246.587 268.366 253.711 268.366 253.711ZM285.709 207.366C289.258 206.299 296.129 217.383 296.173 230.625C296.199 242.815 283.761 255.445 279.011 253.633C276.805 252.792 277.915 250.764 279.79 247.335C281.954 243.38 285.137 237.562 285.429 229.552C285.622 224.447 284.959 219.971 284.428 216.392C283.684 211.375 283.202 208.121 285.709 207.366Z"
                clip-rule="evenodd"
                fill-rule="evenodd"
                fill="#B522EB">
              </path>
            </g>
          </g>
        </g>
      </g>
      <g id="g_08">
        <g id="g_09">
          <path id="Union_04" d="M300.468 97.4198C299.668 96.8546 298.863 96.2997 298.053 95.755L285.349 113.327C286.14 113.859 286.926 114.401 287.708 114.953L300.468 97.4198Z" fill="url(#paint0_linear_2492_453)"/>
          <path id="Union_05" d="M232.985 342.455C233.957 342.336 234.927 342.207 235.896 342.066L235.473 339.156C234.526 339.293 233.578 339.42 232.629 339.535L232.985 342.455Z" fill="url(#paint1_linear_2492_453)"/>
          <path id="Union_06" d="M238.796 341.61C239.761 341.447 240.724 341.273 241.686 341.087L241.129 338.199C240.189 338.381 239.248 338.551 238.305 338.71L238.796 341.61Z" fill="url(#paint2_linear_2492_453)"/>
          <path id="Union_07" d="M244.562 340.497C245.519 340.29 246.473 340.071 247.426 339.841L246.735 336.982C245.805 337.207 244.873 337.42 243.939 337.623L244.562 340.497Z" fill="url(#paint3_linear_2492_453)"/>
          <path id="Union_08" d="M250.27 339.119C251.216 338.867 252.159 338.604 253.1 338.33L252.278 335.506C251.359 335.774 250.437 336.031 249.513 336.277L250.27 339.119Z" fill="url(#paint4_linear_2492_453)"/>
          <path id="Union_09" d="M255.907 337.477C256.84 337.181 257.771 336.875 258.698 336.557L257.745 333.775C256.839 334.085 255.931 334.385 255.019 334.673L255.907 337.477Z" fill="url(#paint5_linear_2492_453)"/>
          <path id="Union_10" d="M261.463 335.573C262.381 335.235 263.296 334.885 264.207 334.524L263.125 331.79C262.235 332.142 261.341 332.483 260.445 332.814L261.463 335.573Z" fill="url(#paint6_linear_2492_453)"/>
          <path id="Union_11" d="M266.924 333.412C267.825 333.031 268.723 332.639 269.616 332.236L268.407 329.555C267.535 329.948 266.658 330.331 265.778 330.704L266.924 333.412Z" fill="url(#paint7_linear_2492_453)"/>
          <path id="Union_12" d="M272.277 330.998C273.159 330.575 274.037 330.142 274.911 329.697L273.577 327.076C272.724 327.51 271.867 327.934 271.005 328.347L272.277 330.998Z" fill="url(#paint8_linear_2492_453)"/>
          <path id="Union_13" d="M277.513 328.335C278.373 327.871 279.229 327.397 280.081 326.912L278.626 324.356C277.794 324.83 276.958 325.293 276.118 325.746L277.513 328.335Z" fill="url(#paint9_linear_2492_453)"/>
          <path id="Union_14" d="M282.615 325.428C283.453 324.925 284.285 324.411 285.113 323.887L283.54 321.403C282.731 321.915 281.918 322.416 281.101 322.908L282.615 325.428Z" fill="url(#paint10_linear_2492_453)"/>
          <path id="Union_15" d="M287.578 322.286C288.39 321.744 289.198 321.192 290 320.63L288.311 318.222C287.528 318.771 286.74 319.31 285.947 319.839L287.578 322.286Z" fill="url(#paint11_linear_2492_453)"/>
          <path id="Union_16" d="M292.389 318.913C293.174 318.334 293.954 317.746 294.728 317.147L292.929 314.821C292.173 315.405 291.411 315.98 290.645 316.545L292.389 318.913Z" fill="url(#paint12_linear_2492_453)"/>
          <path id="Union_17" d="M297.035 315.32C297.792 314.706 298.543 314.082 299.289 313.448L297.384 311.207C296.655 311.827 295.922 312.436 295.182 313.036L297.035 315.32Z" fill="url(#paint13_linear_2492_453)"/>
          <path id="Union_18" d="M301.506 311.517C302.234 310.868 302.956 310.21 303.672 309.541L301.665 307.391C300.966 308.044 300.26 308.688 299.549 309.321L301.506 311.517Z" fill="url(#paint14_linear_2492_453)"/>
          <path id="Union_19" d="M305.796 307.513C306.147 307.17 306.497 306.824 306.845 306.476C307.193 306.128 307.538 305.779 307.881 305.428L305.778 303.372C305.443 303.715 305.105 304.057 304.765 304.397C304.425 304.737 304.084 305.074 303.741 305.409L305.796 307.513Z" fill="url(#paint15_linear_2492_453)"/>
          <path id="Union_20" d="M309.911 303.302C310.579 302.586 311.238 301.864 311.887 301.136L309.691 299.179C309.057 299.891 308.414 300.596 307.761 301.296L309.911 303.302Z" fill="url(#paint16_linear_2492_453)"/>
          <path id="Union_21" d="M313.817 298.919C314.451 298.173 315.075 297.422 315.689 296.665L313.405 294.812C312.806 295.551 312.196 296.285 311.577 297.013L313.817 298.919Z" fill="url(#paint17_linear_2492_453)"/>
          <path id="Union_22" d="M317.517 294.358C318.116 293.584 318.704 292.804 319.282 292.019L316.915 290.275C316.35 291.042 315.775 291.803 315.19 292.559L317.517 294.358Z" fill="url(#paint18_linear_2492_453)"/>
          <path id="Union_23" d="M320.999 289.631C321.561 288.829 322.113 288.022 322.654 287.209L320.207 285.578C319.679 286.371 319.14 287.159 318.591 287.942L320.999 289.631Z" fill="url(#paint19_linear_2492_453)"/>
          <path id="Union_24" d="M324.256 284.744C324.781 283.916 325.294 283.084 325.798 282.246L323.277 280.732C322.785 281.549 322.284 282.362 321.772 283.171L324.256 284.744Z" fill="url(#paint20_linear_2492_453)"/>
          <path id="Union_25" d="M327.281 279.711C327.766 278.86 328.24 278.003 328.704 277.143L326.115 275.748C325.662 276.588 325.199 277.424 324.725 278.256L327.281 279.711Z" fill="url(#paint21_linear_2492_453)"/>
          <path id="Union_26" d="M330.067 274.541C330.511 273.667 330.945 272.79 331.368 271.908L328.716 270.636C328.303 271.497 327.88 272.354 327.445 273.208L330.067 274.541Z" fill="url(#paint22_linear_2492_453)"/>
          <path id="Union_27" d="M332.606 269.247C333.009 268.353 333.401 267.455 333.782 266.554L331.073 265.409C330.701 266.288 330.318 267.165 329.925 268.037L332.606 269.247Z" fill="url(#paint23_linear_2492_453)"/>
          <path id="Union_28" d="M334.893 263.838C335.254 262.927 335.604 262.012 335.943 261.094L333.183 260.076C332.853 260.972 332.511 261.866 332.159 262.756L334.893 263.838Z" fill="url(#paint24_linear_2492_453)"/>
          <path id="Union_29" d="M336.926 258.329C337.244 257.402 337.55 256.472 337.846 255.539L335.042 254.651C334.754 255.562 334.454 256.47 334.144 257.376L336.926 258.329Z" fill="url(#paint25_linear_2492_453)"/>
          <path id="Union_30" d="M338.699 252.731C338.973 251.79 339.236 250.846 339.488 249.901L336.646 249.144C336.4 250.068 336.144 250.989 335.876 251.908L338.699 252.731Z" fill="url(#paint26_linear_2492_453)"/>
          <path id="Union_31" d="M340.21 247.056C340.44 246.103 340.659 245.149 340.867 244.192L337.992 243.568C337.79 244.503 337.576 245.435 337.351 246.365L340.21 247.056Z" fill="url(#paint27_linear_2492_453)"/>
          <path id="Union_32" d="M341.456 241.317C341.641 240.355 341.816 239.392 341.979 238.427L339.079 237.937C338.92 238.879 338.749 239.82 338.568 240.76L341.456 241.317Z" fill="url(#paint28_linear_2492_453)"/>
          <path id="Union_33" d="M342.435 235.527C342.576 234.558 342.706 233.587 342.824 232.616L339.905 232.26C339.789 233.209 339.662 234.157 339.525 235.104L342.435 235.527Z" fill="url(#paint29_linear_2492_453)"/>
          <path id="Union_34" d="M343.144 229.698C343.24 228.724 343.325 227.748 343.399 226.773L340.466 226.552C340.394 227.505 340.311 228.458 340.218 229.409L343.144 229.698Z" fill="url(#paint30_linear_2492_453)"/>
          <path id="Union_35" d="M343.586 223.843C343.637 222.865 343.677 221.887 343.705 220.909L340.766 220.823C340.738 221.779 340.699 222.735 340.649 223.689L343.586 223.843Z" fill="url(#paint31_linear_2492_453)"/>
          <path id="Union_36" d="M343.758 217.973C343.764 216.995 343.759 216.016 343.742 215.038L340.802 215.087C340.818 216.043 340.823 216.999 340.817 217.955L343.758 217.973Z" fill="url(#paint32_linear_2492_453)"/>
          <path id="Union_37" d="M343.659 212.103C343.62 211.125 343.57 210.147 343.509 209.171L340.574 209.355C340.634 210.309 340.683 211.264 340.72 212.219L343.659 212.103Z" fill="url(#paint33_linear_2492_453)"/>
          <path id="Union_38" d="M343.293 206.242C343.209 205.268 343.114 204.293 343.008 203.32L340.084 203.639C340.188 204.59 340.281 205.541 340.362 206.494L343.293 206.242Z" fill="url(#paint34_linear_2492_453)"/>
          <path id="Union_39" d="M342.656 200.406C342.528 199.436 342.388 198.467 342.238 197.5L339.332 197.952C339.479 198.897 339.615 199.844 339.74 200.791L342.656 200.406Z" fill="url(#paint35_linear_2492_453)"/>
          <path id="Union_40" d="M341.753 194.605C341.58 193.642 341.397 192.68 341.202 191.72L338.319 192.305C338.51 193.243 338.689 194.182 338.858 195.123L341.753 194.605Z" fill="url(#paint36_linear_2492_453)"/>
          <path id="Union_41" d="M340.585 188.85C340.369 187.896 340.141 186.944 339.902 185.993L337.05 186.71C337.283 187.639 337.506 188.569 337.717 189.501L340.585 188.85Z" fill="url(#paint37_linear_2492_453)"/>
          <path id="Union_42" d="M339.154 183.156C338.893 182.213 338.622 181.272 338.339 180.333L335.523 181.181C335.799 182.097 336.064 183.017 336.319 183.938L339.154 183.156Z" fill="url(#paint38_linear_2492_453)"/>
          <path id="Union_43" d="M337.462 177.534C337.158 176.603 336.844 175.675 336.518 174.75L333.744 175.727C334.062 176.63 334.369 177.536 334.666 178.446L337.462 177.534Z" fill="url(#paint39_linear_2492_453)"/>
          <path id="Union_44" d="M335.513 171.995C335.167 171.079 334.81 170.167 334.442 169.258L331.716 170.361C332.075 171.249 332.424 172.14 332.762 173.035L335.513 171.995Z" fill="url(#paint40_linear_2492_453)"/>
          <path id="Union_45" d="M333.311 166.552C332.923 165.654 332.525 164.759 332.115 163.868L329.443 165.096C329.843 165.966 330.232 166.84 330.611 167.718L333.311 166.552Z" fill="url(#paint41_linear_2492_453)"/>
          <path id="Union_46" d="M330.859 161.216C330.431 160.337 329.991 159.462 329.541 158.591L326.929 159.94C327.368 160.791 327.797 161.646 328.216 162.505L330.859 161.216Z" fill="url(#paint42_linear_2492_453)"/>
          <path id="Union_47" d="M328.165 155.999C327.696 155.141 327.217 154.287 326.727 153.438L324.18 154.907C324.658 155.736 325.126 156.57 325.584 157.408L328.165 155.999Z" fill="url(#paint43_linear_2492_453)"/>
          <path id="Union_48" d="M325.232 150.911C324.724 150.077 324.207 149.246 323.679 148.421L321.201 150.005C321.717 150.812 322.223 151.623 322.718 152.439L325.232 150.911Z" fill="url(#paint44_linear_2492_453)"/>
          <path id="Union_49" d="M322.067 145.964C321.522 145.154 320.967 144.349 320.402 143.549L318 145.246C318.552 146.028 319.095 146.814 319.627 147.605L322.067 145.964Z" fill="url(#paint45_linear_2492_453)"/>
          <path id="Union_50" d="M318.679 141.167C318.098 140.384 317.508 139.606 316.907 138.834L314.585 140.639C315.172 141.394 315.749 142.154 316.316 142.919L318.679 141.167Z" fill="url(#paint46_linear_2492_453)"/>
          <path id="Union_51" d="M315.075 136.531C314.459 135.776 313.834 135.026 313.199 134.282L310.962 136.191C311.582 136.918 312.193 137.651 312.795 138.389L315.075 136.531Z" fill="url(#paint47_linear_2492_453)"/>
          <path id="Union_52" d="M311.265 132.067C310.615 131.341 309.956 130.619 309.288 129.904L307.139 131.912C307.793 132.611 308.437 133.316 309.071 134.027L311.265 132.067Z" fill="url(#paint48_linear_2492_453)"/>
          <path id="Union_53" d="M311.5 121.806C311.152 121.458 310.803 121.112 310.452 120.769L303.117 127.799C303.46 128.134 303.802 128.472 304.142 128.812C304.482 129.152 304.82 129.494 305.155 129.837L312.536 122.854C312.193 122.503 311.848 122.154 311.5 121.806Z" fill="url(#paint49_linear_2492_453)"/>
          <path id="Union_54" d="M312.498 114.359C311.783 113.69 311.062 113.031 310.335 112.382L298.928 123.883C299.638 124.517 300.343 125.161 301.042 125.815L312.498 114.359Z" fill="url(#paint50_linear_2492_453)"/>
          <path id="Union_55" d="M307.813 98.8602C307.041 98.2594 306.262 97.6687 305.479 97.088L290.035 116.638C290.801 117.205 291.561 117.782 292.316 118.369L307.813 98.8602Z" fill="url(#paint51_linear_2492_453)"/>
          <path id="Union_56" d="M310.66 105.588C309.916 104.953 309.166 104.328 308.411 103.713L294.565 120.16C295.303 120.761 296.036 121.372 296.763 121.993L310.66 105.588Z" fill="url(#paint52_linear_2492_453)"/>
          <path id="Union_57" d="M292.213 97.5726C291.387 97.0446 290.557 96.5269 289.722 96.0196L280.515 110.235C281.33 110.731 282.142 111.236 282.948 111.752L292.213 97.5726Z" fill="url(#paint53_linear_2492_453)"/>
          <path id="Union_58" d="M282.416 100.621C281.567 100.132 280.713 99.6524 279.855 99.1839L275.546 107.37C276.384 107.828 277.218 108.296 278.048 108.774L282.416 100.621Z" fill="url(#paint54_linear_2492_453)"/>
          <path id="Union_59" d="M274.363 103.412C273.492 102.962 272.617 102.523 271.738 102.094L270.449 104.737C271.307 105.156 272.162 105.585 273.013 106.025L274.363 103.412Z" fill="url(#paint55_linear_2492_453)"/>
          <path id="Union_60" d="M269.086 100.839C268.195 100.43 267.3 100.031 266.402 99.6433L265.236 102.343C266.113 102.722 266.987 103.111 267.858 103.511L269.086 100.839Z" fill="url(#paint56_linear_2492_453)"/>
          <path id="Union_61" d="M263.695 98.5117C262.786 98.1439 261.874 97.787 260.959 97.441L259.919 100.192C260.813 100.53 261.704 100.879 262.592 101.238L263.695 98.5117Z" fill="url(#paint57_linear_2492_453)"/>
          <path id="Union_62" d="M258.203 96.4352C257.279 96.1097 256.351 95.7952 255.42 95.4917L254.508 98.2877C255.417 98.5842 256.324 98.8914 257.227 99.2094L258.203 96.4352Z" fill="url(#paint58_linear_2492_453)"/>
          <path id="Union_63" d="M252.621 94.6143C251.682 94.3319 250.741 94.0606 249.798 93.8002L249.016 96.6352C249.937 96.8895 250.857 97.1547 251.773 97.4306L252.621 94.6143Z" fill="url(#paint59_linear_2492_453)"/>
          <path id="Union_64" d="M246.96 93.0516C246.01 92.8128 245.058 92.585 244.103 92.3684L243.452 95.2363C244.384 95.448 245.315 95.6705 246.243 95.9038L246.96 93.0516Z" fill="url(#paint60_linear_2492_453)"/>
          <path id="Union_65" d="M241.234 91.7521C240.274 91.5572 239.312 91.3735 238.349 91.2009L237.831 94.0957C238.772 94.2644 239.711 94.4439 240.649 94.6342L241.234 91.7521Z" fill="url(#paint61_linear_2492_453)"/>
          <path id="Union_66" d="M235.454 90.7159C234.487 90.5654 233.518 90.426 232.548 90.2977L232.163 93.2133C233.11 93.3386 234.057 93.4748 235.002 93.6219L235.454 90.7159Z" fill="url(#paint62_linear_2492_453)"/>
          <path id="Union_67" d="M229.633 89.9466C228.66 89.8406 227.686 89.7458 226.711 89.6622L226.46 92.5924C227.412 92.674 228.364 92.7667 229.315 92.8702L229.633 89.9466Z" fill="url(#paint63_linear_2492_453)"/>
          <path id="Union_68" d="M223.784 89.4447C222.807 89.3835 221.83 89.3334 220.852 89.2946L220.735 92.2332C221.69 92.2712 222.645 92.3201 223.6 92.3799L223.784 89.4447Z" fill="url(#paint64_linear_2492_453)"/>
          <path id="Union_69" d="M217.917 89.2118C216.938 89.1955 215.959 89.1903 214.981 89.1964L214.999 92.1373C215.955 92.1314 216.911 92.1364 217.867 92.1524L217.917 89.2118Z" fill="url(#paint65_linear_2492_453)"/>
          <path id="Union_70" d="M211.937 88.0359C210.959 88.0645 209.981 88.1043 209.004 88.1553L209.265 92.305C210.22 92.2551 211.175 92.2162 212.131 92.1883L211.937 88.0359Z" fill="url(#paint66_linear_2492_453)"/>
          <path id="Union_71" d="M205.794 86.8266C204.818 86.9001 203.843 86.9849 202.869 87.0809L203.544 92.7358C204.496 92.6421 205.448 92.5593 206.402 92.4875L205.794 86.8266Z" fill="url(#paint67_linear_2492_453)"/>
          <path id="Union_72" d="M199.723 86.2752C198.752 86.3936 197.782 86.5232 196.813 86.664L197.851 93.4292C198.797 93.2916 199.745 93.165 200.694 93.0494L199.723 86.2752Z" fill="url(#paint68_linear_2492_453)"/>
          <path id="Union_73" d="M193.632 85.9886C192.667 86.1517 191.704 86.326 190.742 86.5115L192.194 94.3856C193.133 94.2043 194.075 94.0341 195.017 93.8747L193.632 85.9886Z" fill="url(#paint69_linear_2492_453)"/>
          <path id="Union_74" d="M188.268 87.1251C187.311 87.3327 186.357 87.5516 185.404 87.7815L186.589 95.6024C187.519 95.3778 188.451 95.1641 189.385 94.9613L188.268 87.1251Z" fill="url(#paint70_linear_2492_453)"/>
          <path id="Union_75" d="M182.233 89.2351C181.287 89.4869 180.343 89.7498 179.402 90.0239L181.046 97.0779C181.965 96.8102 182.887 96.5534 183.81 96.3075L182.233 89.2351Z" fill="url(#paint71_linear_2492_453)"/>
          <path id="Union_76" d="M176.494 91.9325C175.561 92.228 174.631 92.5346 173.704 92.8523L175.578 98.8101C176.484 98.4998 177.392 98.2004 178.303 97.9117L176.494 91.9325Z" fill="url(#paint72_linear_2492_453)"/>
          <path id="Union_77" d="M171.589 95.6779C170.671 96.0166 169.756 96.3663 168.845 96.7271L170.198 100.795C171.088 100.443 171.981 100.101 172.878 99.7705L171.589 95.6779Z" fill="url(#paint73_linear_2492_453)"/>
          <path id="Union_78" d="M166.4 99.172C165.499 99.5532 164.601 99.9453 163.708 100.348L164.917 103.029C165.789 102.636 166.666 102.253 167.546 101.88L166.4 99.172Z" fill="url(#paint74_linear_2492_453)"/>
          <path id="Union_79" d="M161.046 101.586C160.164 102.009 159.286 102.443 158.412 102.887L159.746 105.509C160.599 105.075 161.456 104.651 162.317 104.238L161.046 101.586Z" fill="url(#paint75_linear_2492_453)"/>
          <path id="Union_80" d="M155.811 104.25C154.951 104.714 154.094 105.188 153.243 105.673L154.698 108.229C155.53 107.755 156.366 107.292 157.206 106.839L155.811 104.25Z" fill="url(#paint76_linear_2492_453)"/>
          <path id="Union_81" d="M150.707 107.157C149.87 107.66 149.037 108.174 148.209 108.698L149.783 111.183C150.591 110.671 151.405 110.169 152.222 109.678L150.707 107.157Z" fill="url(#paint77_linear_2492_453)"/>
          <path id="Union_82" d="M145.744 110.3C144.932 110.841 144.125 111.393 143.323 111.956L145.011 114.364C145.794 113.814 146.583 113.276 147.376 112.747L145.744 110.3Z" fill="url(#paint78_linear_2492_453)"/>
          <path id="Union_83" d="M140.935 113.672C140.15 114.25 139.37 114.839 138.596 115.437L140.395 117.764C141.151 117.179 141.913 116.604 142.679 116.04L140.935 113.672Z" fill="url(#paint79_linear_2492_453)"/>
          <path id="Union_84" d="M136.289 117.264C135.533 117.878 134.781 118.502 134.036 119.136L135.941 121.377C136.669 120.757 137.403 120.148 138.142 119.548L136.289 117.264Z" fill="url(#paint80_linear_2492_453)"/>
          <path id="Union_85" d="M131.818 121.067C131.09 121.716 130.368 122.374 129.652 123.043L131.658 125.193C132.358 124.54 133.064 123.896 133.775 123.263L131.818 121.067Z" fill="url(#paint81_linear_2492_453)"/>
          <path id="Union_86" d="M126.547 126.178C126.199 126.526 125.854 126.876 125.511 127.227L127.614 129.282C127.949 128.939 128.287 128.598 128.627 128.258C128.967 127.918 129.309 127.58 129.651 127.245L127.596 125.142C127.245 125.485 126.895 125.83 126.547 126.178Z" fill="url(#paint82_linear_2492_453)"/>
          <path id="Union_87" d="M123.413 129.282C122.744 129.998 122.086 130.72 121.437 131.448L123.633 133.404C124.266 132.693 124.91 131.988 125.563 131.288L123.413 129.282Z" fill="url(#paint83_linear_2492_453)"/>
          <path id="Union_88" d="M119.505 133.666C118.871 134.412 118.247 135.163 117.633 135.92L119.917 137.773C120.517 137.033 121.126 136.3 121.746 135.571L119.505 133.666Z" fill="url(#paint84_linear_2492_453)"/>
          <path id="Union_89" d="M115.806 138.226C115.208 139.001 114.619 139.78 114.041 140.565L116.409 142.31C116.973 141.543 117.548 140.781 118.133 140.025L115.806 138.226Z" fill="url(#paint85_linear_2492_453)"/>
          <path id="Union_90" d="M112.325 142.954C111.762 143.756 111.21 144.564 110.669 145.376L113.116 147.007C113.645 146.214 114.184 145.426 114.733 144.643L112.325 142.954Z" fill="url(#paint86_linear_2492_453)"/>
          <path id="Union_91" d="M109.067 147.84C108.543 148.668 108.029 149.501 107.526 150.338L110.047 151.853C110.538 151.035 111.04 150.222 111.552 149.414L109.067 147.84Z" fill="url(#paint87_linear_2492_453)"/>
          <path id="Union_92" d="M106.043 152.873C105.558 153.725 105.083 154.581 104.62 155.442L107.209 156.837C107.662 155.996 108.125 155.16 108.598 154.329L106.043 152.873Z" fill="url(#paint88_linear_2492_453)"/>
          <path id="Union_93" d="M103.257 158.043C102.813 158.917 102.379 159.795 101.956 160.677L104.608 161.949C105.021 161.087 105.444 160.23 105.879 159.377L103.257 158.043Z" fill="url(#paint89_linear_2492_453)"/>
          <path id="Union_94" d="M100.717 163.338C100.314 164.232 99.9223 165.13 99.541 166.031L102.25 167.176C102.622 166.297 103.005 165.42 103.398 164.548L100.717 163.338Z" fill="url(#paint90_linear_2492_453)"/>
          <path id="Union_95" d="M97.5687 168.682C97.208 169.594 96.8582 170.508 96.5195 171.427L100.14 172.508C100.471 171.612 100.812 170.718 101.165 169.828L97.5687 168.682Z" fill="url(#paint91_linear_2492_453)"/>
          <path id="Union_96" d="M94.6462 173.816C94.3285 174.743 94.0219 175.673 93.7264 176.606L98.2805 177.935C98.5691 177.024 98.8686 176.115 99.1788 175.21L94.6462 173.816Z" fill="url(#paint92_linear_2492_453)"/>
          <path id="Union_97" d="M91.9081 179.085C91.6341 180.026 91.3711 180.969 91.1194 181.915L96.6771 183.441C96.923 182.517 97.1798 181.596 97.4475 180.677L91.9081 179.085Z" fill="url(#paint93_linear_2492_453)"/>
          <path id="Union_98" d="M89.7335 184.744C89.5035 185.696 89.2848 186.651 89.0771 187.607L95.3302 189.016C95.533 188.082 95.7467 187.15 95.9713 186.219L89.7335 184.744Z" fill="url(#paint94_linear_2492_453)"/>
          <path id="Union_99" d="M88.5278 190.47C88.3423 191.431 88.168 192.395 88.0049 193.36L94.2441 194.648C94.4035 193.706 94.5737 192.765 94.7549 191.825L88.5278 190.47Z" fill="url(#paint95_linear_2492_453)"/>
          <path id="Union_100" d="M88.223 196.64C88.0822 197.609 87.9525 198.579 87.8342 199.551L93.4187 200.325C93.5343 199.376 93.6609 198.428 93.7985 197.481L88.223 196.64Z" fill="url(#paint96_linear_2492_453)"/>
          <path id="Union_101" d="M88.3221 202.751C88.2261 203.725 88.1414 204.7 88.0679 205.676L92.8567 206.033C92.9285 205.08 93.0113 204.127 93.105 203.176L88.3221 202.751Z" fill="url(#paint97_linear_2492_453)"/>
          <path id="Union_102" d="M88.5274 208.701C88.4764 209.678 88.4366 210.656 88.408 211.634L92.5571 211.762C92.585 210.806 92.6239 209.851 92.6738 208.896L88.5274 208.701Z" fill="url(#paint98_linear_2492_453)"/>
          <path id="Union_103" d="M88.9621 214.464C88.9561 215.443 88.9612 216.421 88.9776 217.4L92.5209 217.498C92.5049 216.542 92.4999 215.586 92.5059 214.63L88.9621 214.464Z" fill="url(#paint99_linear_2492_453)"/>
          <path id="Union_104" d="M89.6644 220.482C89.7032 221.46 89.7532 222.437 89.8145 223.414L92.7497 223.23C92.6898 222.275 92.6409 221.32 92.603 220.365L89.6644 220.482Z" fill="url(#paint100_linear_2492_453)"/>
          <path id="Union_105" d="M83.691 226.33C83.7746 227.305 83.8694 228.279 83.9754 229.252L93.2389 228.946C93.1354 227.995 93.0427 227.043 92.9611 226.091L83.691 226.33Z" fill="url(#paint101_linear_2492_453)"/>
          <path id="Union_106" d="M79.8115 233.417C79.9397 234.387 80.0791 235.355 80.2296 236.323L93.9909 234.633C93.8438 233.688 93.7076 232.741 93.5823 231.794L79.8115 233.417Z" fill="url(#paint102_linear_2492_453)"/>
          <path id="Union_107" d="M78.1364 240.916C78.309 241.879 78.4927 242.841 78.6876 243.8L95.0035 240.28C94.8131 239.342 94.6336 238.402 94.4649 237.461L78.1364 240.916Z" fill="url(#paint103_linear_2492_453)"/>
          <path id="Union_108" d="M78.8182 247.352C79.0348 248.306 79.2626 249.259 79.5014 250.209L96.2736 245.874C96.0403 244.946 95.8178 244.015 95.6061 243.083L78.8182 247.352Z" fill="url(#paint104_linear_2492_453)"/>
          <path id="Union_109" d="M83.3218 252.863C83.5822 253.806 83.8535 254.747 84.1359 255.686L97.7996 251.404C97.5237 250.487 97.2586 249.568 97.0042 248.646L83.3218 252.863Z" fill="url(#paint105_linear_2492_453)"/>
          <path id="Union_110" d="M89.7607 257.463C90.0642 258.393 90.3787 259.321 90.7041 260.246L99.5785 256.858C99.2606 255.955 98.9534 255.048 98.6568 254.139L89.7607 257.463Z" fill="url(#paint106_linear_2492_453)"/>
          <path id="Union_111" d="M94.7372 262.174C95.0832 263.09 95.4401 264.002 95.8079 264.911L101.607 262.223C101.248 261.336 100.899 260.444 100.561 259.55L94.7372 262.174Z" fill="url(#paint107_linear_2492_453)"/>
          <path id="Union_112" d="M100.013 266.033C100.4 266.931 100.799 267.826 101.208 268.717L103.881 267.489C103.481 266.618 103.092 265.744 102.713 264.867L100.013 266.033Z" fill="url(#paint108_linear_2492_453)"/>
          <path id="Union_113" d="M102.463 271.369C102.892 272.248 103.331 273.123 103.781 273.994L106.394 272.644C105.955 271.793 105.525 270.938 105.107 270.08L102.463 271.369Z" fill="url(#paint109_linear_2492_453)"/>
          <path id="Union_114" d="M102.808 277.949C103.276 278.807 103.755 279.661 104.245 280.51L109.144 277.678C108.665 276.848 108.197 276.014 107.74 275.176L102.808 277.949Z" fill="url(#paint110_linear_2492_453)"/>
          <path id="Union_115" d="M103.439 284.505C103.946 285.34 104.463 286.17 104.991 286.995L112.122 282.579C111.606 281.773 111.101 280.961 110.605 280.146L103.439 284.505Z" fill="url(#paint111_linear_2492_453)"/>
          <path id="Union_116" d="M105.406 290.612C105.951 291.421 106.506 292.226 107.071 293.026L115.323 287.339C114.771 286.557 114.229 285.771 113.696 284.979L105.406 290.612Z" fill="url(#paint112_linear_2492_453)"/>
          <path id="Union_117" d="M108.418 296.654C108.998 297.437 109.589 298.215 110.19 298.988L119.293 291.392C118.706 290.637 118.129 289.877 117.561 289.111L108.418 296.654Z" fill="url(#paint113_linear_2492_453)"/>
          <path id="Union_118" d="M112.751 301.175C113.367 301.93 113.992 302.68 114.627 303.424L122.363 296.393C121.742 295.666 121.131 294.933 120.53 294.196L112.751 301.175Z" fill="url(#paint114_linear_2492_453)"/>
          <path id="Union_119" d="M118.751 303.965C119.401 304.692 120.06 305.413 120.729 306.129L126.185 300.672C125.531 299.973 124.887 299.268 124.252 298.558L118.751 303.965Z" fill="url(#paint115_linear_2492_453)"/>
          <path id="Union_120" d="M123.937 306.98C124.28 307.331 124.625 307.68 124.973 308.028C125.321 308.376 125.67 308.722 126.021 309.065L130.207 304.786C129.864 304.45 129.522 304.113 129.182 303.772C128.842 303.432 128.504 303.091 128.169 302.748L123.937 306.98Z" fill="url(#paint116_linear_2492_453)"/>
          <path id="Union_121" d="M128.906 310.633C129.622 311.302 130.343 311.961 131.07 312.61L134.396 308.702C133.686 308.067 132.981 307.423 132.281 306.77L128.906 310.633Z" fill="url(#paint117_linear_2492_453)"/>
          <path id="Union_122" d="M134.651 312.829C135.396 313.464 136.145 314.089 136.9 314.704L138.758 312.424C138.02 311.823 137.288 311.212 136.56 310.592L134.651 312.829Z" fill="url(#paint118_linear_2492_453)"/>
          <path id="Union_123" d="M139.238 316.502C140.011 317.103 140.789 317.694 141.572 318.274L143.323 315.912C142.558 315.345 141.798 314.767 141.043 314.18L139.238 316.502Z" fill="url(#paint119_linear_2492_453)"/>
          <path id="Union_124" d="M143.953 319.999C144.753 320.564 145.558 321.119 146.368 321.663L148.009 319.223C147.218 318.691 146.432 318.149 145.65 317.597L143.953 319.999Z" fill="url(#paint120_linear_2492_453)"/>
          <path id="Union_125" d="M148.825 323.275C149.651 323.803 150.481 324.32 151.316 324.828L152.843 322.314C152.028 321.819 151.217 321.313 150.41 320.797L148.825 323.275Z" fill="url(#paint121_linear_2492_453)"/>
          <path id="Union_126" d="M153.842 326.324C154.691 326.813 155.545 327.292 156.403 327.761L157.813 325.18C156.975 324.722 156.141 324.254 155.311 323.776L153.842 326.324Z" fill="url(#paint122_linear_2492_453)"/>
          <path id="Union_127" d="M158.995 329.137C159.866 329.587 160.741 330.027 161.62 330.455L162.909 327.812C162.051 327.393 161.196 326.964 160.345 326.525L158.995 329.137Z" fill="url(#paint123_linear_2492_453)"/>
          <path id="Union_128" d="M164.271 331.711C165.162 332.12 166.057 332.519 166.955 332.907L168.121 330.207C167.243 329.828 166.369 329.439 165.499 329.039L164.271 331.711Z" fill="url(#paint124_linear_2492_453)"/>
          <path id="Union_129" d="M169.662 334.039C170.571 334.406 171.483 334.763 172.399 335.109L173.439 332.358C172.544 332.02 171.653 331.672 170.765 331.312L169.662 334.039Z" fill="url(#paint125_linear_2492_453)"/>
          <path id="Union_130" d="M175.155 336.114C176.08 336.44 177.007 336.754 177.938 337.058L178.85 334.262C177.941 333.965 177.035 333.658 176.131 333.34L175.155 336.114Z" fill="url(#paint126_linear_2492_453)"/>
          <path id="Union_131" d="M180.736 337.936C181.675 338.218 182.616 338.49 183.559 338.75L184.342 335.915C183.42 335.661 182.501 335.395 181.584 335.12L180.736 337.936Z" fill="url(#paint127_linear_2492_453)"/>
          <path id="Union_132" d="M184.33 351.77C185.28 352.009 186.232 352.236 187.187 352.453L189.905 337.313C188.973 337.102 188.043 336.879 187.114 336.646L184.33 351.77Z" fill="url(#paint128_linear_2492_453)"/>
          <path id="Union_133" d="M188.441 368.138C189.401 368.333 190.362 368.516 191.325 368.689L195.527 338.454C194.586 338.286 193.646 338.106 192.709 337.916L188.441 368.138Z" fill="url(#paint129_linear_2492_453)"/>
          <path id="Union_134" d="M193.512 381.125C194.48 381.276 195.449 381.415 196.419 381.543L201.196 339.337C200.248 339.212 199.301 339.075 198.356 338.928L193.512 381.125Z" fill="url(#paint130_linear_2492_453)"/>
          <path id="Union_135" d="M200.231 387.993C201.204 388.099 202.178 388.194 203.153 388.277L206.898 339.958C205.946 339.876 204.994 339.783 204.043 339.68L200.231 387.993Z" fill="url(#paint131_linear_2492_453)"/>
          <path id="Union_136" d="M207.367 387.513C208.344 387.574 209.321 387.624 210.299 387.663L212.623 340.317C211.668 340.279 210.713 340.23 209.758 340.17L207.367 387.513Z" fill="url(#paint132_linear_2492_453)"/>
          <path id="Union_137" d="M214.11 381.145C215.089 381.161 216.067 381.167 217.046 381.161L218.359 340.413C217.403 340.419 216.447 340.414 215.491 340.398L214.11 381.145Z" fill="url(#paint133_linear_2492_453)"/>
          <path id="Union_138" d="M221.093 369.353C222.072 369.324 223.049 369.284 224.027 369.233L224.094 340.245C223.139 340.295 222.183 340.334 221.228 340.362L221.093 369.353Z" fill="url(#paint134_linear_2492_453)"/>
          <path id="Union_139" d="M227.421 351.469C228.397 351.396 229.372 351.311 230.346 351.215L229.813 339.814C228.862 339.908 227.909 339.991 226.956 340.063L227.421 351.469Z" fill="url(#paint135_linear_2492_453)"/>
        </g>
      </g>
    </g>
    <defs>
      <linearGradient id="paint0_linear_2492_453" x1="374.883" y1="238.438" x2="62.8803" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint1_linear_2492_453" x1="374.883" y1="238.438" x2="62.8801" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint2_linear_2492_453" x1="374.883" y1="238.438" x2="62.8797" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint3_linear_2492_453" x1="374.884" y1="238.437" x2="62.8809" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint4_linear_2492_453" x1="374.883" y1="238.437" x2="62.8804" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint5_linear_2492_453" x1="374.883" y1="238.438" x2="62.8799" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint6_linear_2492_453" x1="374.883" y1="238.438" x2="62.8798" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint7_linear_2492_453" x1="374.883" y1="238.437" x2="62.8806" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint8_linear_2492_453" x1="374.883" y1="238.438" x2="62.8798" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint9_linear_2492_453" x1="374.883" y1="238.438" x2="62.8805" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint10_linear_2492_453" x1="374.882" y1="238.438" x2="62.8794" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint11_linear_2492_453" x1="374.883" y1="238.438" x2="62.8797" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint12_linear_2492_453" x1="374.883" y1="238.438" x2="62.8805" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint13_linear_2492_453" x1="374.884" y1="238.437" x2="62.8808" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint14_linear_2492_453" x1="374.883" y1="238.437" x2="62.8799" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint15_linear_2492_453" x1="374.883" y1="238.438" x2="62.8797" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint16_linear_2492_453" x1="374.883" y1="238.437" x2="62.8806" y2="196.291" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint17_linear_2492_453" x1="374.883" y1="238.437" x2="62.8803" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint18_linear_2492_453" x1="374.883" y1="238.438" x2="62.8804" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint19_linear_2492_453" x1="374.883" y1="238.438" x2="62.8803" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint20_linear_2492_453" x1="374.883" y1="238.437" x2="62.8802" y2="196.291" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint21_linear_2492_453" x1="374.883" y1="238.438" x2="62.8804" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint22_linear_2492_453" x1="374.884" y1="238.437" x2="62.8807" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint23_linear_2492_453" x1="374.883" y1="238.438" x2="62.8804" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint24_linear_2492_453" x1="374.883" y1="238.438" x2="62.88" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint25_linear_2492_453" x1="374.883" y1="238.438" x2="62.8799" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint26_linear_2492_453" x1="374.883" y1="238.438" x2="62.8799" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint27_linear_2492_453" x1="374.883" y1="238.438" x2="62.8801" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint28_linear_2492_453" x1="374.883" y1="238.438" x2="62.88" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint29_linear_2492_453" x1="374.883" y1="238.438" x2="62.8804" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint30_linear_2492_453" x1="374.882" y1="238.438" x2="62.8797" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint31_linear_2492_453" x1="374.883" y1="238.438" x2="62.8801" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint32_linear_2492_453" x1="374.883" y1="238.438" x2="62.8803" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint33_linear_2492_453" x1="374.883" y1="238.437" x2="62.8799" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint34_linear_2492_453" x1="374.884" y1="238.437" x2="62.8808" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint35_linear_2492_453" x1="374.883" y1="238.438" x2="62.88" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint36_linear_2492_453" x1="374.883" y1="238.438" x2="62.8798" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint37_linear_2492_453" x1="374.883" y1="238.437" x2="62.8806" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint38_linear_2492_453" x1="374.883" y1="238.438" x2="62.8801" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint39_linear_2492_453" x1="374.883" y1="238.438" x2="62.88" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint40_linear_2492_453" x1="374.883" y1="238.438" x2="62.8801" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint41_linear_2492_453" x1="374.883" y1="238.438" x2="62.8801" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint42_linear_2492_453" x1="374.883" y1="238.438" x2="62.8801" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint43_linear_2492_453" x1="374.883" y1="238.438" x2="62.8803" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint44_linear_2492_453" x1="374.883" y1="238.438" x2="62.88" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint45_linear_2492_453" x1="374.883" y1="238.438" x2="62.88" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint46_linear_2492_453" x1="374.884" y1="238.438" x2="62.8808" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint47_linear_2492_453" x1="374.884" y1="238.437" x2="62.881" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint48_linear_2492_453" x1="374.883" y1="238.438" x2="62.8805" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint49_linear_2492_453" x1="374.883" y1="238.438" x2="62.8803" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint50_linear_2492_453" x1="374.883" y1="238.437" x2="62.8807" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint51_linear_2492_453" x1="374.883" y1="238.438" x2="62.8807" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint52_linear_2492_453" x1="374.883" y1="238.437" x2="62.8806" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint53_linear_2492_453" x1="374.883" y1="238.438" x2="62.88" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint54_linear_2492_453" x1="374.884" y1="238.438" x2="62.8807" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint55_linear_2492_453" x1="374.883" y1="238.438" x2="62.8799" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint56_linear_2492_453" x1="374.882" y1="238.438" x2="62.8797" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint57_linear_2492_453" x1="374.883" y1="238.438" x2="62.8799" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint58_linear_2492_453" x1="374.883" y1="238.438" x2="62.8802" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint59_linear_2492_453" x1="374.883" y1="238.438" x2="62.8803" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint60_linear_2492_453" x1="374.883" y1="238.437" x2="62.88" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint61_linear_2492_453" x1="374.883" y1="238.438" x2="62.88" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint62_linear_2492_453" x1="374.883" y1="238.438" x2="62.8802" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint63_linear_2492_453" x1="374.883" y1="238.438" x2="62.88" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint64_linear_2492_453" x1="374.884" y1="238.438" x2="62.8809" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint65_linear_2492_453" x1="374.883" y1="238.438" x2="62.8806" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint66_linear_2492_453" x1="374.883" y1="238.438" x2="62.8803" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint67_linear_2492_453" x1="374.883" y1="238.438" x2="62.8797" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint68_linear_2492_453" x1="374.883" y1="238.438" x2="62.8807" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint69_linear_2492_453" x1="374.883" y1="238.438" x2="62.88" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint70_linear_2492_453" x1="374.883" y1="238.438" x2="62.8801" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint71_linear_2492_453" x1="374.883" y1="238.438" x2="62.8805" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint72_linear_2492_453" x1="374.883" y1="238.438" x2="62.8799" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint73_linear_2492_453" x1="374.883" y1="238.438" x2="62.8802" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint74_linear_2492_453" x1="374.883" y1="238.437" x2="62.8804" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint75_linear_2492_453" x1="374.883" y1="238.437" x2="62.8804" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint76_linear_2492_453" x1="374.883" y1="238.437" x2="62.8804" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint77_linear_2492_453" x1="374.883" y1="238.438" x2="62.8805" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint78_linear_2492_453" x1="374.883" y1="238.438" x2="62.8797" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint79_linear_2492_453" x1="374.884" y1="238.438" x2="62.8807" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint80_linear_2492_453" x1="374.884" y1="238.437" x2="62.8808" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint81_linear_2492_453" x1="374.884" y1="238.437" x2="62.881" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint82_linear_2492_453" x1="374.952" y1="238.507" x2="62.9496" y2="196.361" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint83_linear_2492_453" x1="374.883" y1="238.438" x2="62.8805" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint84_linear_2492_453" x1="374.882" y1="238.438" x2="62.8795" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint85_linear_2492_453" x1="374.883" y1="238.438" x2="62.8798" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint86_linear_2492_453" x1="374.883" y1="238.438" x2="62.8805" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint87_linear_2492_453" x1="374.884" y1="238.438" x2="62.8807" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint88_linear_2492_453" x1="374.883" y1="238.438" x2="62.8806" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint89_linear_2492_453" x1="374.883" y1="238.438" x2="62.8802" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint90_linear_2492_453" x1="374.883" y1="238.438" x2="62.8798" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint91_linear_2492_453" x1="374.883" y1="238.437" x2="62.8805" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint92_linear_2492_453" x1="374.883" y1="238.438" x2="62.8799" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint93_linear_2492_453" x1="374.883" y1="238.438" x2="62.8805" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint94_linear_2492_453" x1="374.883" y1="238.438" x2="62.8799" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint95_linear_2492_453" x1="374.883" y1="238.438" x2="62.8803" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint96_linear_2492_453" x1="374.883" y1="238.438" x2="62.88" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint97_linear_2492_453" x1="374.883" y1="238.438" x2="62.8802" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint98_linear_2492_453" x1="374.883" y1="238.438" x2="62.88" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint99_linear_2492_453" x1="374.882" y1="238.438" x2="62.8797" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint100_linear_2492_453" x1="374.884" y1="238.438" x2="62.8808" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint101_linear_2492_453" x1="374.883" y1="238.438" x2="62.8799" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint102_linear_2492_453" x1="374.883" y1="238.438" x2="62.8797" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint103_linear_2492_453" x1="374.883" y1="238.438" x2="62.8805" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint104_linear_2492_453" x1="374.883" y1="238.438" x2="62.8804" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint105_linear_2492_453" x1="374.883" y1="238.438" x2="62.88" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint106_linear_2492_453" x1="374.883" y1="238.438" x2="62.8798" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint107_linear_2492_453" x1="374.883" y1="238.438" x2="62.8799" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint108_linear_2492_453" x1="374.883" y1="238.438" x2="62.8805" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint109_linear_2492_453" x1="374.883" y1="238.438" x2="62.8799" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint110_linear_2492_453" x1="374.883" y1="238.438" x2="62.8803" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint111_linear_2492_453" x1="374.883" y1="238.438" x2="62.8806" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint112_linear_2492_453" x1="374.883" y1="238.438" x2="62.8804" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint113_linear_2492_453" x1="375.437" y1="237.884" x2="63.4344" y2="195.738" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint114_linear_2492_453" x1="374.883" y1="238.438" x2="62.8806" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint115_linear_2492_453" x1="374.883" y1="238.438" x2="62.8806" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint116_linear_2492_453" x1="374.883" y1="238.438" x2="62.8807" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint117_linear_2492_453" x1="374.883" y1="238.438" x2="62.8804" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint118_linear_2492_453" x1="374.883" y1="238.438" x2="62.8802" y2="196.292" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint119_linear_2492_453" x1="374.918" y1="238.403" x2="62.9152" y2="196.257" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint120_linear_2492_453" x1="374.918" y1="238.403" x2="62.9148" y2="196.257" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint121_linear_2492_453" x1="374.918" y1="238.403" x2="62.9154" y2="196.257" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint122_linear_2492_453" x1="374.918" y1="238.403" x2="62.9151" y2="196.258" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint123_linear_2492_453" x1="374.918" y1="238.403" x2="62.9152" y2="196.257" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint124_linear_2492_453" x1="374.917" y1="238.403" x2="62.9144" y2="196.257" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint125_linear_2492_453" x1="374.918" y1="238.403" x2="62.9149" y2="196.258" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint126_linear_2492_453" x1="374.918" y1="238.403" x2="62.9155" y2="196.257" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint127_linear_2492_453" x1="374.917" y1="238.403" x2="62.9145" y2="196.257" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint128_linear_2492_453" x1="374.918" y1="238.403" x2="62.9147" y2="196.257" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint129_linear_2492_453" x1="374.917" y1="238.403" x2="62.9146" y2="196.257" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint130_linear_2492_453" x1="374.918" y1="238.403" x2="62.9152" y2="196.258" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint131_linear_2492_453" x1="374.918" y1="238.403" x2="62.9151" y2="196.257" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint132_linear_2492_453" x1="374.918" y1="238.403" x2="62.9149" y2="196.258" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint133_linear_2492_453" x1="374.918" y1="238.403" x2="62.915" y2="196.258" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint134_linear_2492_453" x1="374.918" y1="238.403" x2="62.9154" y2="196.257" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
      <linearGradient id="paint135_linear_2492_453" x1="374.918" y1="238.403" x2="62.9152" y2="196.257" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CD37BF"/>
      <stop offset="1" stop-color="#64CB67"/>
      </linearGradient>
    </defs>
  </svg>
</div> 