{% if linklists.socials.links.size > 0 %}

  <ul class="db-socials-list">

    {% for socialItem in linklists.socials.links %}
      
      <li class="db-socials-item">
        <a class="db-socials-link"
          title="{{ socialItem.title }}"
          href="{{ socialItem.url }}"
          target="_blank">

          {% if socialItem.title == 'Spotify' %}

            <!-- Spotify -->
            <svg class="db-svg"
              width="60"
              height="60"
              viewBox="0 0 60 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <rect id="rect_01"
                x="0.5"
                y="0.5"
                width="59"
                height="59"
                rx="29.5"
                stroke="#AA27B1">
              </rect>
              <path id="path_01"
                d="M34.6745 34.0885C34.6745 33.8108 34.5443 33.5894 34.2839 33.4245C32.6085 32.4262 30.6684 31.9271 28.4635 31.9271C27.309 31.9271 26.0634 32.0747 24.7266 32.3698C24.362 32.4479 24.1797 32.6736 24.1797 33.0469C24.1797 33.2205 24.2383 33.3702 24.3555 33.4961C24.4727 33.622 24.6267 33.6849 24.8177 33.6849C24.8611 33.6849 25.0217 33.6502 25.2995 33.5807C26.4453 33.3464 27.5 33.2292 28.4635 33.2292C30.4253 33.2292 32.1484 33.6762 33.6328 34.5703C33.7977 34.6658 33.941 34.7135 34.0625 34.7135C34.2274 34.7135 34.3707 34.6549 34.4922 34.5378C34.6137 34.4206 34.6745 34.2708 34.6745 34.0885ZM35.9245 31.2891C35.9245 30.9418 35.7726 30.6771 35.4687 30.4948C33.4115 29.2708 31.033 28.6589 28.3333 28.6589C27.0052 28.6589 25.6901 28.8411 24.388 29.2057C23.9714 29.3186 23.763 29.5964 23.763 30.0391C23.763 30.2561 23.839 30.4405 23.9909 30.5924C24.1428 30.7444 24.3273 30.8203 24.5443 30.8203C24.605 30.8203 24.7656 30.7856 25.026 30.7161C26.0851 30.4297 27.1745 30.2865 28.2943 30.2865C30.7161 30.2865 32.8342 30.8247 34.6484 31.901C34.8568 32.0139 35.0217 32.0703 35.1432 32.0703C35.3602 32.0703 35.5447 31.9944 35.6966 31.8424C35.8485 31.6905 35.9245 31.5061 35.9245 31.2891ZM37.3307 28.0599C37.3307 27.6519 37.1571 27.3481 36.8099 27.1484C35.7161 26.5148 34.4444 26.0352 32.9948 25.7096C31.5451 25.3841 30.0564 25.2214 28.5286 25.2214C26.7578 25.2214 25.178 25.4253 23.7891 25.8333C23.5894 25.8941 23.4223 26.0048 23.2878 26.1654C23.1532 26.326 23.0859 26.5365 23.0859 26.7969C23.0859 27.066 23.1749 27.2917 23.3529 27.474C23.5308 27.6562 23.7543 27.7474 24.0234 27.7474C24.1189 27.7474 24.2925 27.7127 24.5443 27.6432C25.6988 27.322 27.0312 27.1615 28.5417 27.1615C29.9219 27.1615 31.2652 27.309 32.5716 27.6042C33.878 27.8993 34.9783 28.3116 35.8724 28.8411C36.0547 28.9453 36.2283 28.9974 36.3932 28.9974C36.645 28.9974 36.8641 28.9084 37.0508 28.7305C37.2374 28.5525 37.3307 28.329 37.3307 28.0599ZM40 30C40 31.8142 39.553 33.4874 38.6589 35.0195C37.7648 36.5516 36.5516 37.7648 35.0195 38.6589C33.4874 39.553 31.8142 40 30 40C28.1858 40 26.5126 39.553 24.9805 38.6589C23.4484 37.7648 22.2352 36.5516 21.3411 35.0195C20.447 33.4874 20 31.8142 20 30C20 28.1858 20.447 26.5126 21.3411 24.9805C22.2352 23.4484 23.4484 22.2352 24.9805 21.3411C26.5126 20.447 28.1858 20 30 20C31.8142 20 33.4874 20.447 35.0195 21.3411C36.5516 22.2352 37.7648 23.4484 38.6589 24.9805C39.553 26.5126 40 28.1858 40 30Z"
                fill="#CAC7D0">
              </path>
            </svg>

          {% elsif socialItem.title == 'Discord' %}

            <!-- Discord -->
            <svg class="db-svg"
              width="60"
              height="60"
              viewBox="0 0 60 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <rect id="rect_01"
                x="0.5"
                y="0.5"
                width="59"
                height="59"
                rx="29.5"
                stroke="#AA27B1">
              </rect>
              <path id="path_01"
                d="M37.6244 23.3272C36.1979 22.7026 34.6926 22.2568 33.1461 22.0009C33.1321 21.9987 33.1177 22.0006 33.1049 22.0065C33.0921 22.0124 33.0815 22.0219 33.0746 22.0337C32.8807 22.3617 32.6662 22.7907 32.5163 23.1265C30.8493 22.8851 29.1537 22.8851 27.4866 23.1265C27.3195 22.7524 27.1303 22.3875 26.9201 22.0337C26.9131 22.022 26.9025 22.0126 26.8897 22.0067C26.877 22.0009 26.8626 21.9989 26.8486 22.0009C25.3018 22.2554 23.7962 22.7015 22.3703 23.3272C22.3581 23.3317 22.3479 23.34 22.3414 23.3509C19.4897 27.4165 18.7074 31.3823 19.091 35.2984C19.0924 35.3167 19.1047 35.3351 19.1199 35.3469C20.7805 36.5206 22.6379 37.4166 24.6129 37.997C24.6269 38.0012 24.6419 38.001 24.6557 37.9965C24.6695 37.992 24.6815 37.9835 24.6899 37.972C25.1134 37.421 25.4902 36.8399 25.8147 36.2285C25.8214 36.2159 25.8237 36.2016 25.8213 36.1876C25.8188 36.1737 25.8116 36.1609 25.8009 36.1511C25.7938 36.1447 25.7854 36.1398 25.7762 36.1367C25.1838 35.9195 24.61 35.6585 24.0602 35.3561C24.0448 35.3478 24.0334 35.3342 24.0283 35.3181C24.0232 35.3019 24.0247 35.2846 24.0327 35.2695C24.0374 35.2597 24.0444 35.2512 24.0533 35.2446C24.1688 35.1619 24.2843 35.0753 24.3943 34.9888C24.404 34.9813 24.4157 34.9765 24.428 34.9749C24.4404 34.9733 24.453 34.9749 24.4644 34.9796C28.0655 36.5486 31.9636 36.5486 35.5207 34.9796C35.5326 34.9747 35.5456 34.9729 35.5585 34.9746C35.5713 34.9762 35.5834 34.9811 35.5936 34.9888C35.7036 35.0753 35.8191 35.1619 35.9346 35.2446C35.9439 35.2511 35.9514 35.2597 35.9564 35.2697C35.9614 35.2797 35.9638 35.2907 35.9632 35.3018C35.9627 35.3128 35.9593 35.3235 35.9533 35.333C35.9473 35.3425 35.939 35.3504 35.9291 35.3561C35.3805 35.6612 34.806 35.9219 34.2117 36.1354C34.2022 36.1386 34.1936 36.1439 34.1865 36.1507C34.1794 36.1575 34.1739 36.1657 34.1704 36.1747C34.1673 36.1835 34.166 36.1928 34.1667 36.202C34.1674 36.2113 34.1701 36.2203 34.1746 36.2285C34.5046 36.8385 34.8827 37.421 35.2979 37.972C35.3063 37.9835 35.3183 37.992 35.3322 37.9965C35.346 38.001 35.361 38.0012 35.3749 37.997C37.3533 37.4184 39.2137 36.5223 40.8763 35.3469C40.8846 35.3414 40.8915 35.3342 40.8965 35.3258C40.9015 35.3174 40.9044 35.308 40.9051 35.2984C41.3644 30.771 40.1365 26.8379 37.6519 23.3522C37.6494 23.3464 37.6457 23.3412 37.6409 23.3369C37.6362 23.3326 37.6306 23.3293 37.6244 23.3272ZM26.3523 32.9133C25.2674 32.9133 24.3751 31.9635 24.3751 30.7985C24.3751 29.6323 25.2509 28.6824 26.3523 28.6824C27.4619 28.6824 28.346 29.6401 28.3295 30.7985C28.3295 31.9635 27.4536 32.9133 26.3523 32.9133ZM33.6617 32.9133C32.5782 32.9133 31.6845 31.9635 31.6845 30.7985C31.6845 29.6323 32.5603 28.6824 33.6617 28.6824C34.7713 28.6824 35.6568 29.6401 35.6389 30.7985C35.6389 31.9635 34.7713 32.9133 33.6617 32.9133Z"
                fill="#CAC7D0">
              </path>
            </svg>

          {% elsif socialItem.title == 'Twitter' %}

            <!-- Twitter -->
            <svg class="db-svg"
              width="60"
              height="60"
              viewBox="0 0 60 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <rect id="rect_01"
                x="0.5"
                y="0.5"
                width="59"
                height="59"
                rx="29.5"
                stroke="#AA27B1">
              </rect>
              <path id="path_01"
                d="M19 20H21H21.5H23.5H26L30.9219 26.5625L36.5 20H40L32.5625 28.75L41 40H39H38.5H36.5H34L28.8438 33.125L23 40H19.5L27.2031 30.9375L19 20ZM30.1719 31.5625L35 38H37L31.2344 30.3125L30.1719 31.5625ZM29.5938 28.125L28.5312 29.375L23 22H25L29.5938 28.125Z"
                fill-rule="evenodd"
                clip-rule="evenodd"
                fill="#CAC7D0">
              </path>
            </svg>

          {% elsif socialItem.title == 'Instagram' %}

            <!-- Instagram -->
            <svg class="db-svg"
              width="60"
              height="60"
              viewBox="0 0 60 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <rect id="rect_01"
                x="0.5"
                y="0.5"
                width="59"
                height="59"
                rx="29.5"
                stroke="#AA27B1">
              </rect>
              <path id="path_01"
                d="M32.0286 20.0012C32.7583 19.9984 33.488 20.0058 34.2176 20.0232L34.4116 20.0302C34.6356 20.0382 34.8566 20.0482 35.1236 20.0602C36.1876 20.1102 36.9136 20.2782 37.5506 20.5252C38.2106 20.7792 38.7666 21.1232 39.3226 21.6792C39.831 22.1788 40.2244 22.7832 40.4756 23.4502C40.7226 24.0872 40.8906 24.8142 40.9406 25.8782C40.9526 26.1442 40.9626 26.3662 40.9706 26.5902L40.9766 26.7842C40.9943 27.5134 41.002 28.2428 40.9996 28.9722L41.0006 29.7182V31.0282C41.003 31.758 40.9954 32.4877 40.9776 33.2172L40.9716 33.4112C40.9636 33.6352 40.9536 33.8562 40.9416 34.1232C40.8916 35.1872 40.7216 35.9132 40.4756 36.5502C40.2252 37.218 39.8317 37.8228 39.3226 38.3222C38.8225 38.8306 38.2179 39.224 37.5506 39.4752C36.9136 39.7222 36.1876 39.8902 35.1236 39.9402C34.8566 39.9522 34.6356 39.9622 34.4116 39.9702L34.2176 39.9762C33.4881 39.994 32.7583 40.0017 32.0286 39.9992L31.2826 40.0002H29.9736C29.2438 40.0027 28.5141 39.995 27.7846 39.9772L27.5906 39.9712C27.3532 39.9626 27.1158 39.9526 26.8786 39.9412C25.8146 39.8912 25.0886 39.7212 24.4506 39.4752C23.7833 39.2246 23.1788 38.8311 22.6796 38.3222C22.1706 37.8225 21.7768 37.2178 21.5256 36.5502C21.2786 35.9132 21.1106 35.1872 21.0606 34.1232C21.0494 33.8859 21.0394 33.6486 21.0306 33.4112L21.0256 33.2172C21.0071 32.4877 20.9988 31.758 21.0006 31.0282V28.9722C20.9978 28.2428 21.0051 27.5134 21.0226 26.7842L21.0296 26.5902C21.0376 26.3662 21.0476 26.1442 21.0596 25.8782C21.1096 24.8132 21.2776 24.0882 21.5246 23.4502C21.7759 22.7829 22.1705 22.1787 22.6806 21.6802C23.1795 21.171 23.7835 20.7768 24.4506 20.5252C25.0886 20.2782 25.8136 20.1102 26.8786 20.0602L27.5906 20.0302L27.7846 20.0252C28.5138 20.0068 29.2432 19.9985 29.9726 20.0002L32.0286 20.0012ZM31.0006 25.0012C30.3381 24.9919 29.6803 25.1143 29.0656 25.3613C28.4508 25.6083 27.8912 25.9751 27.4194 26.4403C26.9476 26.9055 26.573 27.4598 26.3173 28.071C26.0616 28.6822 25.9299 29.3382 25.9299 30.0007C25.9299 30.6633 26.0616 31.3192 26.3173 31.9305C26.573 32.5417 26.9476 33.096 27.4194 33.5612C27.8912 34.0264 28.4508 34.3931 29.0656 34.6402C29.6803 34.8872 30.3381 35.0096 31.0006 35.0002C32.3267 35.0002 33.5984 34.4734 34.5361 33.5358C35.4738 32.5981 36.0006 31.3263 36.0006 30.0002C36.0006 28.6741 35.4738 27.4024 34.5361 26.4647C33.5984 25.527 32.3267 25.0012 31.0006 25.0012ZM31.0006 27.0012C31.3991 26.9939 31.7951 27.066 32.1654 27.2134C32.5357 27.3608 32.8729 27.5806 33.1574 27.8598C33.4418 28.139 33.6678 28.4721 33.822 28.8396C33.9763 29.2071 34.0558 29.6016 34.0558 30.0002C34.0559 30.3988 33.9766 30.7934 33.8224 31.1609C33.6683 31.5285 33.4424 31.8617 33.1581 32.141C32.8737 32.4203 32.5366 32.6401 32.1663 32.7876C31.796 32.9352 31.4001 33.0074 31.0016 33.0002C30.2059 33.0002 29.4429 32.6842 28.8803 32.1216C28.3176 31.5589 28.0016 30.7959 28.0016 30.0002C28.0016 29.2046 28.3176 28.4415 28.8803 27.8789C29.4429 27.3163 30.2059 27.0002 31.0016 27.0002L31.0006 27.0012ZM36.2506 23.5012C35.928 23.5141 35.6229 23.6514 35.3992 23.8842C35.1755 24.117 35.0506 24.4274 35.0506 24.7502C35.0506 25.0731 35.1755 25.3834 35.3992 25.6163C35.6229 25.8491 35.928 25.9863 36.2506 25.9992C36.5821 25.9992 36.9 25.8675 37.1345 25.6331C37.3689 25.3987 37.5006 25.0808 37.5006 24.7492C37.5006 24.4177 37.3689 24.0998 37.1345 23.8653C36.9 23.6309 36.5821 23.4992 36.2506 23.4992V23.5012Z"
                fill="#CAC7D0">
              </path>
            </svg>

          {% else %}

          {% endif %}

        </a>
      </li>

    {% endfor %}

  </ul>

{% endif %}