<div class="db-widget-item --creators">
  <div class="db-widget-box">
    <span>Hello World of</span>
    <h5>
      CREATORS
      <svg class="db-svg"
        width="41"
        height="30"
        viewBox="0 0 41 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path id="path_01"
          d="M27.4417 0.613785C26.6761 -0.182425 25.41 -0.207251 24.6138 0.558336C23.8176 1.32392 23.7927 2.59001 24.5583 3.38622L33.8024 13H2C0.89543 13 0 13.8954 0 15C0 16.1046 0.89543 17 2 17H33.8024L24.5583 26.6138C23.7927 27.41 23.8176 28.6761 24.6138 29.4417C25.41 30.2073 26.6761 30.1824 27.4417 29.3862L39.9417 16.3862C40.6861 15.612 40.6861 14.388 39.9417 13.6138L27.4417 0.613785Z"
          fill="#EEE6E6">
        </path>
      </svg>
    </h5>
    <img class="db-img-figure-01 db-img"
      alt=""
      title=""
      src="{{ 'DB_Widget06_figure-v01-203x293.png' | asset_url }}"
      width=""
      height=""
      loading="lazy"/>
  </div>
</div>