<a class="db-widget-item --emporium"
  title="Emporium"
  href="{{ shop.url }}/pages/emporium">
  <div class="db-widget-box">
    <span>Deadbeat</span>
    <h5>
      EMPORIUM
      <svg class="db-svg"
        width="56"
        height="30"
        viewBox="0 0 56 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path id="path_01"
          d="M42.9437 0.613785C42.1781 -0.182425 40.912 -0.207251 40.1158 0.558336C39.3196 1.32392 39.2947 2.59001 40.0603 3.38622L49.3044 13H0.501954L0.501954 15L0.501954 17H49.3044L40.0603 26.6138C39.2947 27.41 39.3196 28.6761 40.1158 29.4417C40.912 30.2073 42.1781 30.1824 42.9437 29.3862L55.4437 16.3862C56.1881 15.612 56.1881 14.388 55.4437 13.6138L42.9437 0.613785Z"
          fill="#EEE6E6">
        </path>
      </svg>
    </h5>
  </div>
</a>