/*============*/
/*   FOOTER   */
/*============*/
.db-footer {
  padding: 45px 0 0;
  background-image: url('DB_Footer_Newsletter_bg-v04-16936x2800.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0A070E;
  background-size: auto 100%;

  @media only screen and (max-width: 1080px) {
    background-image: none;
  }

  @media only screen and (max-width: 768px) {
    background-image: url('DB_Footer_Newsletter_bg-v05-860x2920.jpg');
    background-size: cover;
  }

  @media only screen and (max-width: 468px) {
    background-position-y: top;
  }

  .db-section--newsletter {
    // background-image: url('DB_Footer_Newsletter_bg-v03-3840x700.jpg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: auto 100%;

    @media only screen and (max-width: 1080px) {
      background-image: url('DB_Footer_Newsletter_bg-v03-3840x700.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }

    @media only screen and (max-width: 768px) {
      background-image: none;
    }

    background-color: transparent;
    height: 470px;
    padding: 0 20px;

    @media only screen and (max-width: 1080px) {
      height: auto;
    }

    .db-container {
      height: 100%;

      .db-row {
        justify-content: space-between;
        align-items: center;
        gap: 20px 180px;
        height: 100%;

        @media only screen and (max-width: 1440px) {
          gap: 20px 100px;
        }

        @media only screen and (max-width: 1080px) {
          flex-direction: column;
          gap: 20px 60px;
        }

        .db-col {
          &:nth-of-type(1) {
            position: relative;
            z-index: 2;
            max-width: 550px;
            min-width: 550px;

            @media only screen and (max-width: 1080px) {
              max-width: 100%;
              min-width: unset;
            }

            .db-site-link {
              display: block;
              width: max-content;
              margin: 0 0 16px;

              @media only screen and (max-width: 1080px) {
                margin: 0 auto 16px;
              }
              
              .db-site-logo {
                max-width: 264px;
                min-width: 264px;
                width: 100%;
                object-fit: cover;
                display: block;
              }
            }

            h4 {
              color: $whiteColor;
              font-family: $primaryFontFamily;
              font-size: 48px;
              font-style: normal;
              font-weight: 700;
              line-height: 1.1em;
              margin: 0 0 16px;

              @media only screen and (max-width: 1080px) {
                text-align: center;
              }

              @media only screen and (max-width: 480px) {
                font-size: 20px;
                margin: 0 auto 8px;
              }
            }

            p {
              color: $whiteColor;
              font-family: $primaryFontFamily;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
              line-height: 1.5em;
              max-width: 340px;
              max-height: calc(1.5em * 3);
              min-height: calc(1.5em * 1);
              height: auto;
              overflow: hidden;
              margin: 0 0 52px;

              @media only screen and (max-width: 1080px) {
                text-align: center;
                min-height: unset;
                margin: 0 auto 24px;
              }

              @media only screen and (max-width: 480px) {
                font-size: 11px;
              }
            }

            .db-form--newsletter {
              max-width: 500px;
              width: 100%;

              @media only screen and (max-width: 1080px) {
                margin: 0 auto;
              }

              @media only screen and (max-width: 768px) {
                min-width: unset;
                margin: 0 auto 16px;
              }

              .db-form-wrap {
                width: 100%;

                .db-form-group {
                  position: relative;
                  width: 100%;
                  &:nth-of-type(1) {
                    display: none;
                  }

                  &:nth-of-type(2) {
                    height: 60px;

                    @media only screen and (max-width: 480px) {
                      height: auto;
                    }

                    .db-form-input {
                      color: $whiteColor;
                      font-family: $primaryFontFamily;
                      font-size: 16px;
                      font-weight: 600;

                      display: block;
                      background-color: #0E0914;
                      width: 100%;
                      height: 100%;
                      padding: 20px 190px 20px 25px;
                      border: 1px solid $primaryColor;
                      border-radius: 60px;

                      @media only screen and (max-width: 480px) {
                        height: 37px;
                        margin: 0 auto 8px;
                      }
                    }

                    .db-btn--form-submit {
                      color: $secondaryColor;
                      font-family: $tertiaryFontFamily;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 700;
                      line-height: 1.25em;
                      letter-spacing: -0.64px;
                      position: absolute;
                      top: 5px;
                      right: 5px;
                      display: block;
                      background-color: transparent;
                      max-width: 165px;
                      min-width: 165px;
                      width: 100%;
                      height: calc(100% - (5px * 2));
                      padding: 5px;
                      border: 1px solid $secondaryColor;
                      border-radius: 50px;

                      @media only screen and (max-width: 480px) {
                        color: $whiteColor;
                        font-size: 14px;
                        position: static;
                        background-color: $secondaryColor;
                        max-width: 100%;
                        height: auto;
                        padding: 12px;
                      }

                      &:hover {
                        color: $whiteColor;
                        background-color: $secondaryColor;

                        @media only screen and (max-width: 480px) {
                          background-color: #75A10A;
                        }
                      }
                    }
                  }
                }
              }

              #mce-responses {
                #mce-error-response,
                #mce-success-response {
                  font-family: $primaryFontFamily;
                  font-size: 15px;
                  font-weight: 600;
                  text-align: center;
                  line-height: 1.25em;
                  padding: 10px 0;
                }

                #mce-error-response {
                  color: #FF2020;
                }

                #mce-success-response {
                  color: $secondaryColor;
                }
              }
            }

            .db-contact-list {
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              align-items: center;
              gap: 16px;

              @media only screen and (max-width: 1080px) {
                justify-content: center;
              }

              .db-contact-item {
                max-width: 260px;
                min-width: 260px;
                width: 100%;

                .db-contact-link {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 10px;
                  width: 100%;
                  padding: 16px;
                  border: 2px solid #AA27B1;
                  border-radius: 5px;

                  .db-contact-label {
                    color: #A120D2;
                    font-family: $primaryFontFamily;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.1em;
                    display: block;
                  }

                  .db-contact-value {
                    color: $whiteColor;
                    font-family: $primaryFontFamily;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.1em;
                    display: block;
                    transition:
                      color $hoverTransitionDuration $transition-timing 0ms;
                  }

                  &:hover {
                    .db-contact-value {
                      color: $secondaryColor;
                    }
                  }
                }
              }
            }
          }

          &:nth-of-type(2) {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;

            .db-img-figure01 {
              position: absolute;
              z-index: 2;
              left: 0;
              bottom: 0;
              height: 512px;

              @media only screen and (max-width: 1080px) {
                position: static;
                width: 100%;
                height: auto;
                margin: 0 auto;
              }
            }

            .db-img-overlay {
              position: absolute;
              z-index: 1;
              bottom: 0;
              display: block;
              width: 100%;
              height: 73px;
              background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.48) 51.51%, rgba(0, 0, 0, 0.37) 68.91%, rgba(0, 0, 0, 0.00) 100%);
              border-radius: 831px;
            }
          }
        }
      }
    }
  }

  .db-section--primary {
    // background-color: #0B070F;
    background-color: transparent;
    @media only screen and (max-width: 1080px) {
      background-color: #0B070F;
    }

    @media only screen and (max-width: 768px) {
      background-color: transparent;
    }

    padding: 30px 20px 63px;

    .db-container {
      @media only screen and (max-width: 768px) {
        max-width: 600px;
      }

      .db-row {
        justify-content: flex-end;
        align-items: flex-start;
        gap: 130px;

        @media only screen and (max-width: 1440px) {
          gap: 40px;
        }

        @media only screen and (max-width: 1080px) {
          flex-wrap: wrap;
          justify-content: space-between;
        }

        .db-col {
          &:nth-of-type(1) {
            max-width: 360px;
            min-width: 360px;
            width: 100%;
            margin: 0 auto 0 0;

            @media only screen and (max-width: 1080px) {
              order: 2;
              width: calc(50% - (40px / 2));
              min-width: unset;
              margin: unset;
            }

            @media only screen and (max-width: 768px) {
              order: 1;
              max-width: 100%;
              width: 100%;
            }

            .db-inner-row {
              justify-content: space-between;
              align-items: center;
              width: 100%;
              gap: 16px;
              margin: 0 0 22px;

              @media only screen and (max-width: 768px) {
                margin: 0;
              }

              .db-elevate-link {
                display: block;
              }
              
              p {
                color: #CAC7D0;
                font-family: sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.3em;
                letter-spacing: -0.64px;
              }
            }

            .db-copyright {
              font-family: $primaryFontFamily;
              text-align: left;
              display: block;

              @media only screen and (max-width: 768px) {
                display: none;
              }
            }
          }

          &:nth-of-type(2) {
            max-width: 305px;
            width: 100%;

            @media only screen and (max-width: 1080px) {
              order: 1;
              max-width: 100%;
            }

            @media only screen and (max-width: 768px) {
              order: 2;
            }

            .db-menu-list {
              column-gap: 130px;

              @media only screen and (max-width: 1440px) {
                column-gap: 100px;
              }

              @media only screen and (max-width: 1080px) {
                column-gap: 60px;
              }

              @media only screen and (max-width: 768px) {
                column-gap: 40px;
              }

              .db-menu-item {
                margin: 0 0 16px;

                .db-menu-link {
                  color: #CAC7D0;
                  font-family: sans-serif;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 1.3em;
                  letter-spacing: -0.56px;
                  white-space: nowrap;
                  display: block;

                  &:hover {
                    color: $secondaryColor;
                  }
                }
              }

              &.--column-count-1 {
                column-count: 1;
              }

              &.--column-count-2 {
                column-count: 2;
              }
            }
          }

          &:nth-of-type(3) {
            width: max-content;

            @media only screen and (max-width: 1080px) {
              order: 3;
              width: calc(50% - (40px / 2));
            }

            @media only screen and (max-width: 768px) {
              order: 3;
              width: 100%;
            }

            h5 {
              color: #CAC7D0;
              font-family: $primaryFontFamily;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 1.1em;
              margin: 0 0 32px;
            }

            .db-socials-list {
              display: flex;
              justify-content: flex-start;
              align-items: stretch;
              gap: 24px;
              width: max-content;

              @media only screen and (max-width: 480px) {
                justify-content: center;
                width: 100%;
              }

              .db-socials-item {
                .db-socials-link {
                  display: block;
                  translate: 0 0;
                  transition:
                    translate 200ms $transition-timing 0ms;

                  .db-svg {}

                  &:hover {
                    translate: 0 -5px;
                  }
                }
              }
            }
          }
        }
      }

      .db-copyright {
        color: #CAC7D0;
        font-family: $secondaryFontFamily;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        line-height: 1.3em;
        letter-spacing: -0.52px;
        display: none;

        @media only screen and (max-width: 768px) {
          display: block;
          margin: 40px auto 0;
        }
      }
    }
  }
}