.db-section--static-elevate-pictures {
  // background: #150E1F;
  background:
    linear-gradient(180deg, #0D0616 0%, #150E1F 100%);
  padding-top: unset;
  padding-bottom: 133px;

  @media only screen and (max-width: 1080px) {
    display: block;
  }

  @media only screen and (max-width: 480px) {
    padding: 79px 33px 61px 24px;
  }

  .db-container {
    .db-row {
      column-gap: 176px;

      @media only screen and (max-width: 1080px) {
        flex-direction: column;
        row-gap: 100px;
      }

      @media only screen and (max-width: 768px) {
        row-gap: 50px;
      }

      @media only screen and (max-width: 480px) {
        row-gap: 41px;
      }

      &:nth-child(1) {
        .db-col {
          &:nth-child(1) {
            max-width: 388px;
            padding-top: 50px;

            @media only screen and (max-width: 480px) {
              padding-top: unset;
              padding-left: 20px;
            }

            h4 {
              color: $white-color;
              font-family: $primary-font-family;
              font-size: 48px;
              font-style: normal;
              font-weight: 700;
              text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
              line-height: 1.1em;

              @media only screen and (max-width: 480px) {
                font-size: 40px;
              }
            }

            h3 {
              color: #A120D2;
              font-family: $primary-font-family;
              font-size: 56px;
              font-style: normal;
              font-weight: 700;
              text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
              line-height: 1.1em;
              letter-spacing: -2.24px;

              @media only screen and (max-width: 480px) {
                font-size: 50px;
              }
            }
          }

          &:nth-child(2) {
            max-width: 840px;
            
            @media only screen and (max-width: 1080px) {
              display: flex;
              flex-direction: column;
              align-items: center;
              align-self: center;
            }

            @media only screen and (max-width: 480px) {
              align-items: flex-start;
              align-self: flex-start;
            }

            .db-image-container {
              max-width: 408px;
              width: 100%;

              @media only screen and (max-width: 768px) {
                max-width: 350px;
              }

              @media only screen and (max-width: 480px) {
                max-width: 322px;
              }

              img {
                display: block;
                object-fit: cover;
                width: 100%;
              }
            }

            .db-elevate-description {
              margin-top: 40px;

              @media only screen and (max-width: 480px) {
                max-width: 373px;
              }

              p {
                color: #CAC7D0;
                font-family: $primary-font-family;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.3em;

                @media only screen and (max-width: 768px) {
                  font-size: 30px;
                }

                @media only screen and (max-width: 480px) {
                  font-size: 24px;
                }
              }
            }
            
            .db-elevate-connect-with-us {
              margin-top: 90px;

              @media only screen and (max-width: 1080px) {
                display: flex;
                flex-direction: column;
                align-items: center;
              }

              @media only screen and (max-width: 480px) {
                margin-top: 65px;
                width: 100%;
              }

              .connect-with-us {
                color: #CAC7D0;
                font-family: $secondary-font-family;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5em;

                @media only screen and (max-width: 480px) {
                  font-size: 16px;
                  text-align: center;
                }
              }

              .db-elevate-website {
                display: inline-flex;
                align-items: center;
                column-gap: 10px;
                margin-top: 32px;
                padding: 16px 30px;
                border-radius: 5px;
                border: 1.5px solid #AA27B1;

                @media only screen and (max-width: 480px) {
                  margin-top: 10px;
                  width: 100%;
                  justify-content: center;
                }
                
                span {
                  color: #A120D2;
                  font-family: $primary-font-family;
                  font-size: 13px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 1.1em;
                }

                a {
                  color: $white-color;
                  font-family: $primary-font-family;
                  font-size: 13px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 1.1em;
                }
              }
            }
          }
        }
      }
    }
  }
}