<div class="db-page db-page--about-us">
  <section class="db-section db-section--about-us">
    <div class="about-us--banner">
      <div class="db-container">
        <div class="title-wrap">

          <h1>
            <span>
              HELL YEAH
            </span>

            <span>
              WE ARE
            </span>
          </h1>

          <h4>
            Welcome to the world of deadbeat, Deadbeat is a transmedia story centered around a radio station in the year 2069, where the undead rule the world.
          </h4>

        </div>

        <div class="db-row">
          <div class="db-col-spacer">
            <div class="db-col">
              <div class="db-logo-container">

                <img class="db-img"
                  alt="Deadbeats Logo"
                  title="Deadbeats Logo"
                  src="{{ 'About-Us__asset-DB-logo.png' | asset_url }}"
                  width=""
                  height=""
                  loading="lazy"
                />

              </div>
            </div>

            <div class="db-col">

              <div class="yaas-inner-row">
                <div class="yaas-inner-col">
                  DEAD IN THE HEAD
                </div>

                <div class="yaas-inner-col">
                  Hi. Hello. Hey. We’re Elevate. We’re a Company. Transmedia company if you’re telling your friends about us. Basically that means we like to tell stories with communities across a bunch of platforms. Which is cool. But not as cool as you for checking us out.
                  <br/>
                  <br/>
                  So Deadbeat.
                  It’s a wild story wrapped around a giant community game. You create your characters, discover new music, go to parties IRL, listen to our radio station, maybe even contribute to it.
                  <br/>
                  <br/>
                  This world your world, this world is out world, from the OC waters to the OC islands. This world was made for you and us.
                </div>

                <div class="yaas-inner-col">
                  <span>Hugs,</span>
                  <span>Elevate</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="db-section db-section--about-us-elevate">
    <div class="db-container">
      <div class="db-row">
        <div class="db-col">
          <h4>
            The Company
          </h4>
          <h3>
            ELEVATE PICTURES
          </h3>
        </div>
        <div class="db-col">
          <div class="db-image-container">
            <img class="db-img"
              alt=""
              title=""
              src="{{ 'About-Us__asset-elevate-v01.png' | asset_url }}"
              width=""
              height=""
              loading="lazy"/>
          </div>
          <div class="db-elevate-description">
            <p>
              Elevate is a transmedia entertainment company chasing simple ideas that can change the world.
              <br />
              <br />
              It means we understand and build ideas that scale across platforms and over time. It means we’re experts in business judo, flipping problems into promise.
            </p>
          </div>
          <div class="db-elevate-connect-with-us">
            <div class="connect-with-us">
              Explore the world of Deadbeat! Connect with us.
            </div>
            <div class="db-elevate-website">
              <span>
                WEBSITE
              </span>
              <a href="https://www.elevatepictures.com/">
                https://www.elevatepictures.com/
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="db-section db-section--about-us-subscribe">
    <div class="db-container">
      <div class="db-row">
        <div class="db-col">
          <img class="db-img"
            alt=""
            title=""
            src="{{ 'About-Us__asset-subscribe-v01.png' | asset_url }}"
            width=""
            height=""
            loading="lazy"/>
          <img class="db-img"
            alt=""
            title=""
            src="{{ 'About-Us__asset-mb-subscribe-v01.png' | asset_url }}"
            width=""
            height=""
            loading="lazy"/>
        </div>
        <div class="db-col">
          <h4>
            CREATE THE STORY WORLD
          </h4>
          <p>
            Get updated to our exciting promotions, limited offers, articles and resources.
          </p>
          <form class="db-form--newsletter db-form validate"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            method="post"
            action="https://elevate-m.us21.list-manage.com/subscribe/post?u=c9161b1e17a490930cf29bfcd&amp;id=b779bd68b4&amp;f_id=00fbdce6f0"
            accept-charset="UTF-8"
            target="_blank">
            <div class="db-form-wrap">
              <div class="db-form-group">
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                  /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                  <input type="text" name="b_c9161b1e17a490930cf29bfcd_b779bd68b4" tabindex="-1" value="">
                </div>
              </div>
              <div class="db-form-group">
                <input class="db-form-input required email"
                  id="mce-EMAIL"
                  type="email"
                  name="EMAIL"
                  placeholder="Enter Your Email Address"
                  required=""
                  value=""
                  autocorrect="off"
                  autocapitalize="off">
                <button class="db-btn--form-subscribe db-btn"
                  id="mc-embedded-subscribe"
                  type="submit"
                  name="subscribe">
                  SUBSCRIBE
                </button>
              </div>
            </div>
            <div id="mce-responses" class="clear foot">
              <div class="response" id="mce-error-response" style="display: none;"></div>
              <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<script>

  const DB_SF_Page_About_Us_Options = {
    name: 'DB SF Page About Us Options',
    created() {
      this.onLoadAnimation();
    },
    methods: {
      onLoadAnimation() {
        console.log('onLoadAnimation');
        setTimeout(() => {
          document.querySelector('.db-site-loader').classList.remove('--show');
          // document.querySelector('.db-section--banner').classList.add('--animate-now');
          document.querySelector('.db-header').classList.add('--animate-now');
        }, 3000);
      },
    }
  }
  Vue.createApp(DB_SF_Page_About_Us_Options).mount('.db-page--about-us');
</script>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
  (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);
</script>