<div class="db-page db-page--home">

  <div class="db-site-loader --show">
    <svg class="svg-icon-loader db-svg"
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 80 80"
      enable-background="new 0 0 80 80"
      xml:space="preserve">
      <rect id="rect_01"
        fill="#95CC0E"
        width="3"
        height="100"
        transform="translate(0) rotate(180 3 50)">
        <animate attributeName="height"
          attributeType="XML"
          dur="1s"
          values="30; 100; 30"
          repeatCount="indefinite">
        </animate>
      </rect>
      <rect id="rect_02"
        x="17"
        fill="#95CC0E"
        width="3"
        height="100"
        transform="translate(0) rotate(180 20 50)">
        <animate attributeName="height"
          attributeType="XML"
          dur="1s"
          values="30; 100; 30"
          repeatCount="indefinite"
          begin="0.1s">
        </animate>
      </rect>
      <rect id="rect_03"
        x="40"
        fill="#95CC0E"
        width="3"
        height="100"
        transform="translate(0) rotate(180 40 50)">
        <animate attributeName="height"
          attributeType="XML"
          dur="1s"
          values="30; 100; 30"
          repeatCount="indefinite"
          begin="0.3s">
        </animate>
      </rect>
      <rect id="rect_04"
        x="60"
        fill="#95CC0E"
        width="3"
        height="100"
        transform="translate(0) rotate(180 58 50)">
        <animate attributeName="height"
          attributeType="XML"
          dur="1s"
          values="30; 100; 30"
          repeatCount="indefinite"
          begin="0.5s">
        </animate>
      </rect>
      <rect id="rect_05"
        x="80"
        fill="#95CC0E"
        width="3"
        height="100"
        transform="translate(0) rotate(180 76 50)">
        <animate attributeName="height"
          attributeType="XML"
          dur="1s"
          values="30; 100; 30"
          repeatCount="indefinite"
          begin="0.1s">
        </animate>
      </rect>
    </svg>
  </div>

  <section class="db-section db-section--banner">
    <div class="db-bg-wrap">
      <video class="db-bg-video"
        id=""
        poster=""
        src="{{ 'DB_bg-radio-station.mp4' | asset_url }}"
        autoplay="true"
        muted
        loop>
      </video>
    </div>
    <div class="db-container">
      <div class="db-row">
        <div class="db-col">
          <h1>
            <span title="Welcome to thess">Welcome to the</span>
            <span title="DEADBEAT">DEADBEAT&nbsp;</span>
            <span title="world">world</span>
          </h1>
          <p>
            Welcome to the story of deadbeat underworld. A post-apocalyptic world devoid of the living.
          </p>
          <div class="db-qr-wrap">
            <svg class="db-qr-code db-svg"
              width="122"
              height="122"
              viewBox="0 0 122 122"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path id="path_01"
                d="M33 41.7003V49.4003H40.7H48.4V41.7003V34.0003H40.7H33V41.7003ZM46.2 41.7003V47.2003H40.7H35.2V41.7003V36.2003H40.7H46.2V41.7003Z"
                fill="#E3C3E6">
              </path>
              <path id="path_02"
                d="M37.4001 41.7002V45.0002H40.7001H44.0001V41.7002V38.4002H40.7001H37.4001V41.7002Z"
                fill="#B1FF29">
              </path>
              <path id="path_03"
                d="M52.8 35.1V36.2H51.7H50.6V38.4V40.6H51.7H52.8V41.7V42.8H51.7H50.6V47.2V51.6H48.4H46.2V52.7V53.8H44H41.8V52.7V51.6H40.7H39.6V52.7V53.8H38.5H37.4V52.7V51.6H35.2H33V57.1V62.6H36.3H39.6V61.5V60.4H38.5H37.4V59.3V58.2H40.7H44V59.3V60.4H45.1H46.2V61.5V62.6H47.3H48.4V61.5V60.4H49.5H50.6V61.5V62.6H51.7H52.8V63.7V64.8H53.9H55V65.9V67H53.9H52.8V68.1V69.2H51.7H50.6V67V64.8H47.3H44V63.7V62.6H42.9H41.8V63.7V64.8H39.6H37.4V65.9V67H36.3H35.2V65.9V64.8H34.1H33V65.9V67H34.1H35.2V68.1V69.2H34.1H33V70.3V71.4H36.3H39.6V70.3V69.2H38.5H37.4V68.1V67H39.6H41.8V69.2V71.4H42.9H44V70.3V69.2H45.1H46.2V70.3V71.4H48.4H50.6V73.6V75.8H51.7H52.8V76.9V78H53.9H55V79.1V80.2H52.8H50.6V81.3V82.4H51.7H52.8V83.5V84.6H51.7H50.6V86.8V89H55H59.4V87.9V86.8H61.6H63.8V87.9V89H67.1H70.4V87.9V86.8H71.5H72.6V85.7V84.6H74.8H77V83.5V82.4H78.1H79.2V84.6V86.8H78.1H77V87.9V89H79.2H81.4V86.8V84.6H82.5H83.6V86.8V89H85.8H88V85.7V82.4H86.9H85.8V83.5V84.6H84.7H83.6V83.5V82.4H81.4H79.2V80.2V78H80.3H81.4V79.1V80.2H83.6H85.8V79.1V78H86.9H88V75.8V73.6H85.8H83.6V74.7V75.8H82.5H81.4V74.7V73.6H80.3H79.2V71.4V69.2H78.1H77V68.1V67H79.2H81.4V65.9V64.8H82.5H83.6V65.9V67H85.8H88V62.6V58.2H86.9H85.8V59.3V60.4H83.6H81.4V62.6V64.8H80.3H79.2V63.7V62.6H78.1H77V61.5V60.4H78.1H79.2V59.3V58.2H81.4H83.6V57.1V56H84.7H85.8V53.8V51.6H83.6H81.4V52.7V53.8H82.5H83.6V54.9V56H81.4H79.2V53.8V51.6H75.9H72.6V53.8V56H71.5H70.4V54.9V53.8H68.2H66V52.7V51.6H64.9H63.8V50.5V49.4H64.9H66V48.3V47.2H67.1H68.2V48.3V49.4H69.3H70.4V48.3V47.2H69.3H68.2V46.1V45H67.1H66V46.1V47.2H64.9H63.8V48.3V49.4H62.7H61.6V48.3V47.2H60.5H59.4V46.1V45H58.3H57.2V46.1V47.2H56.1H55V46.1V45H53.9H52.8V43.9V42.8H56.1H59.4V41.7V40.6H60.5H61.6V42.8V45H62.7H63.8V41.7V38.4H64.9H66V40.6V42.8H68.2H70.4V39.5V36.2H69.3H68.2V35.1V34H66H63.8V35.1V36.2H62.7H61.6V35.1V34H60.5H59.4V35.1V36.2H58.3H57.2V37.3V38.4H55H52.8V37.3V36.2H53.9H55V35.1V34H53.9H52.8V35.1ZM68.2 37.3V38.4H67.1H66V37.3V36.2H67.1H68.2V37.3ZM55 48.3V49.4H56.1H57.2V48.3V47.2H58.3H59.4V49.4V51.6H60.5H61.6V53.8V56H62.7H63.8V58.2V60.4H64.9H66V58.2V56H68.2H70.4V57.1V58.2H71.5H72.6V59.3V60.4H73.7H74.8V61.5V62.6H73.7H72.6V65.9V69.2H71.5H70.4V68.1V67H69.3H68.2V69.2V71.4H67.1H66V70.3V69.2H64.9H63.8V68.1V67H62.7H61.6V64.8V62.6H62.7H63.8V61.5V60.4H61.6H59.4V61.5V62.6H56.1H52.8V61.5V60.4H51.7H50.6V59.3V58.2H49.5H48.4V59.3V60.4H47.3H46.2V59.3V58.2H45.1H44V57.1V56H45.1H46.2V54.9V53.8H48.4H50.6V52.7V51.6H52.8H55V50.5V49.4H53.9H52.8V48.3V47.2H53.9H55V48.3ZM37.4 56V58.2H36.3H35.2V56V53.8H36.3H37.4V56ZM77 54.9V56H78.1H79.2V57.1V58.2H78.1H77V57.1V56H75.9H74.8V54.9V53.8H75.9H77V54.9ZM85.8 63.7V64.8H84.7H83.6V63.7V62.6H84.7H85.8V63.7ZM59.4 67V69.2H60.5H61.6V70.3V71.4H62.7H63.8V72.5V73.6H64.9H66V74.7V75.8H67.1H68.2V76.9V78H66H63.8V79.1V80.2H64.9H66V81.3V82.4H64.9H63.8V81.3V80.2H62.7H61.6V79.1V78H60.5H59.4V76.9V75.8H58.3H57.2V76.9V78H56.1H55V76.9V75.8H53.9H52.8V72.5V69.2H53.9H55V68.1V67H56.1H57.2V65.9V64.8H58.3H59.4V67ZM77 65.9V67H75.9H74.8V65.9V64.8H75.9H77V65.9ZM48.4 68.1V69.2H47.3H46.2V68.1V67H47.3H48.4V68.1ZM77 74.7V78H73.7H70.4V74.7V71.4H73.7H77V74.7ZM57.2 83.5V86.8H55H52.8V85.7V84.6H53.9H55V82.4V80.2H56.1H57.2V83.5ZM74.8 81.3V82.4H73.7H72.6V83.5V84.6H71.5H70.4V85.7V86.8H67.1H63.8V85.7V84.6H66H68.2V83.5V82.4H70.4H72.6V81.3V80.2H73.7H74.8V81.3Z"
                fill="#E3C3E6">
              </path>
              <path id="path_04"
                d="M55 53.8001V56.0001H52.8H50.6V57.1001V58.2001H53.9H57.2V57.1001V56.0001H58.3H59.4V54.9001V53.8001H58.3H57.2V52.7001V51.6001H56.1H55V53.8001Z"
                fill="#E3C3E6">
              </path>
              <path id="path_05"
                d="M46.1999 57.1001V58.2001H47.2999H48.3999V57.1001V56.0001H47.2999H46.1999V57.1001Z"
                fill="#E3C3E6">
              </path>
              <path id="path_06"
                d="M68.2 59.2999V60.3999H69.3H70.4V61.4999V62.5999H69.3H68.2V63.6999V64.7999H69.3H70.4V63.6999V62.5999H71.5H72.6V61.4999V60.3999H71.5H70.4V59.2999V58.1999H69.3H68.2V59.2999Z"
                fill="#E3C3E6">
              </path>
              <path id="path_07"
                d="M63.7999 63.6999V64.7999H64.8999H65.9999V63.6999V62.5999H64.8999H63.7999V63.6999Z"
                fill="#E3C3E6">
              </path>
              <path id="path_08"
                d="M57.2001 70.3V71.4H58.3001H59.4001V70.3V69.2H58.3001H57.2001V70.3Z"
                fill="#E3C3E6">
              </path>
              <path id="path_09"
                d="M61.5998 75.7998V77.9998H62.6998H63.7998V75.7998V73.5998H62.6998H61.5998V75.7998Z"
                fill="#E3C3E6">
              </path>
              <path id="path_10"
                d="M72.5997 74.7001V75.8001H73.6997H74.7997V74.7001V73.6001H73.6997H72.5997V74.7001Z"
                fill="#E3C3E6">
              </path>
              <path id="path_11"
                d="M72.5997 41.7003V49.4003H80.2997H87.9997V41.7003V34.0003H80.2997H72.5997V41.7003ZM85.7997 41.7003V47.2003H80.2997H74.7997V41.7003V36.2003H80.2997H85.7997V41.7003Z"
                fill="#E3C3E6">
              </path>
              <path id="path_12"
                d="M76.9998 41.7002V45.0002H80.2998H83.5998V41.7002V38.4002H80.2998H76.9998V41.7002Z"
                fill="#B1FF29">
              </path>
              <path id="path_13"
                d="M85.7996 70.3V71.4H86.8996H87.9996V70.3V69.2H86.8996H85.7996V70.3Z"
                fill="#E3C3E6">
              </path>
              <path id="path_14"
                d="M33 81.3V89H40.7H48.4V81.3V73.6H40.7H33V81.3ZM46.2 81.3V86.8H40.7H35.2V81.3V75.8H40.7H46.2V81.3Z"
                fill="#E3C3E6">
              </path>
              <path id="path_15"
                d="M37.4001 81.2999V84.5999H40.7001H44.0001V81.2999V77.9999H40.7001H37.4001V81.2999Z"
                fill="#B1FF29">
              </path>
              <rect id="rect_01"
                x="1"
                y="1"
                width="120"
                height="120"
                rx="30"
                stroke="#AA27B1"
                stroke-width="1.5">
              </rect>
            </svg>
            <span class="db-qr-label">
              Unleash your soul with Beat Music
            </span>
          </div>
        </div>
        <div class="db-col">
          <div class="db-inner-row">
            <div class="db-inner-col">
              <div class="db-widget-container"
                ref="widgetContainer">
                <div class="db-widget-row">
                  <div class="db-widget-col">
                    <div class="db-widget-list">
                      {% render 'widget--year-2069' %}
                      {% render 'widget--music-player' %}
                      {% render 'widget--discover-collect' %}
                      {% render 'widget--merch' %}
                      {% render 'widget--roadmap' %}
                    </div>
                  </div>
                  <div class="db-widget-col">
                    <div class="db-widget-list">
                      {% render 'widget--the-beats-radio' %}
                      {% render 'widget--the-beats-currency' %}
                      {% render 'widget--creators' %}
                      {% render 'widget--marketplace' %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="db-inner-col">
              {% render 'socials' %}
              <button class="db-btn--scroll-up"
                type="button"
                @click="widgetScrollUp();">
                <svg class="svg-icon-arrow-up db-svg"
                  width="16"
                  height="44"
                  viewBox="0 0 16 44"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path id="path_01"
                    d="M7 43C7 43.5523 7.44772 44 8 44C8.55228 44 9 43.5523 9 43L7 43ZM8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 43L9 1L7 1L7 43L9 43Z"
                    fill="#CAC7D0"
                    fill-opacity="0.3">
                  </path>
                </svg>
              </button>
              <button class="db-btn--scroll-down"
                type="button"
                @click="widgetScrollDown();">
                <svg class="svg-icon-arrow-down db-svg"
                  width="16"
                  height="44"
                  viewBox="0 0 16 44"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path id="path_01"
                    d="M9 1C9 0.447715 8.55228 -2.41411e-08 8 0C7.44772 2.41411e-08 7 0.447715 7 1L9 1ZM7.2929 43.7071C7.68342 44.0976 8.31658 44.0976 8.70711 43.7071L15.0711 37.3431C15.4616 36.9526 15.4616 36.3195 15.0711 35.9289C14.6805 35.5384 14.0474 35.5384 13.6569 35.9289L8 41.5858L2.34315 35.9289C1.95262 35.5384 1.31946 35.5384 0.928934 35.9289C0.53841 36.3195 0.53841 36.9526 0.928934 37.3431L7.2929 43.7071ZM7 1L7 43L9 43L9 1L7 1Z"
                    fill="#CAC7D0"
                    fill-opacity="0.3">
                  </path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<script>
  const DB_Page_Home_Options = {
    name: 'DB Page Home Options',
    data() {
      return {
        pageLoader: true,
        widgetSettings: {
          scrollValue: 0,
        }
      }
    },
    created() {
      this.onLoadAnimation();
    },
    mounted() {
      this.widgetDragScroll();
    },
    updated() {},
    methods: {
      onLoadAnimation() {
        console.log('onLoadAnimation');
        setTimeout(() => {
          document.querySelector('.db-site-loader').classList.remove('--show');
          // setTimeout(() => {
            document.querySelector('.db-section--banner').classList.add('--animate-now');
          // }, 1000);
        }, 3000);
      },

      widgetDragScroll() {
        var widgetContainer = this.$refs.widgetContainer;

        let startY, scrollTop, isDown;
        let self = this;

        widgetContainer.addEventListener('mousedown', e => mouseIsDown(e));  
        widgetContainer.addEventListener('mouseup', e => mouseUp(e));
        widgetContainer.addEventListener('mouseleave', e => mouseLeave(e));
        widgetContainer.addEventListener('mousemove', e => mouseMove(e));

        function mouseIsDown (e) {
          isDown = true;
          startY = e.pageY - widgetContainer.offsetTop;
          scrollTop = widgetContainer.scrollTop;
          self.widgetSettings.scrollValue = scrollTop;
        }

        function mouseUp (e) {
          isDown = false;
        }

        function mouseLeave (e) {
          isDown = false;
        }

        function mouseMove (e) {
          if (isDown) {
            e.preventDefault();
            const y = e.pageY - widgetContainer.offsetTop;
            const walkY = y - startY;
            widgetContainer.scrollTop = scrollTop - walkY;
            self.widgetSettings.scrollValue = scrollTop;
            widgetContainer.classList.add('--dragging');
          }
          else {
            widgetContainer.classList.remove('--dragging');
          }
        }
      },
      widgetScrollUp() {
        var widgetContainer = this.$refs.widgetContainer;

        let self = this;
        let scrollTop = widgetContainer.scrollTop;
        widgetContainer.scrollTop = scrollTop - 100;
      },
      widgetScrollDown() {
        var widgetContainer = this.$refs.widgetContainer;

        let self = this;
        let scrollTop = widgetContainer.scrollTop;
        widgetContainer.scrollTop = scrollTop + 100;
      },
    }
  };

  Vue.createApp(DB_Page_Home_Options).mount('.db-page--home');
</script>