<style>
  .db-footer {
    background-color: #0E0914;
  }
</style>
<div class="db-page db-page--roadmap">

  <section class="db-section db-section--main-roadmap">
    <div class="db-bg-container">
      <video class="db-bg-video"
        src="https://cdn.shopify.com/videos/c/o/v/4f34825f8d9648dfb5d54eae9e4caa06.webm"
        allow="autoplay"
        preload="auto"
        control="false"
        autoplay="true"
        volume="0"
        playsinline=""
        muted=""
        loop="">
      </video>
      <div class="db-bg-thumbnail">
        <h1>
          ROADMAP MILESTONES
        </h1>
      </div>
    </div>
    <div class="db-container">
      <div class="db-row">
        <div class="db-col">
          <h2>
            PROJECT ROADMAP
          </h2>
          <p>
            A guide to help you understand our evolving ecosystem. Want to start your next project with us? Check our website for exciting properties we have and visit our Talent Network.
          </p>
        </div>
        <div class="db-col">
          <p>
            Let's work together
          </p>
          <a class="db-btn--email-us"
            title="EMAIL US"
            href="mailto:INFO@ELEVATE-M.COM">
            <span>INFO@ELEVATE-M.COM</span>
            <svg class="svg-icon-envelope db-svg"
              width="21"
              height="17"
              viewBox="0 0 21 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path id="path_01"
                d="M0.864848 0.0605382C0.986184 0.021238 1.11563 0 1.25 0H19.25C19.3845 0 19.5141 0.0212794 19.6355 0.0606531C19.8178 0.119562 19.9892 0.221383 20.1339 0.366117C20.2786 0.51085 20.3804 0.682246 20.4393 0.864493C20.4787 0.985932 20.5 1.1155 20.5 1.25V13.25C20.5 14.112 20.1576 14.9386 19.5481 15.5481C18.9386 16.1576 18.112 16.5 17.25 16.5H3.25C2.38805 16.5 1.5614 16.1576 0.951903 15.5481C0.34241 14.9386 0 14.112 0 13.25V1.25C0 1.11563 0.021238 0.986184 0.0605382 0.864848C0.11943 0.682468 0.221289 0.510944 0.366117 0.366117C0.510944 0.221289 0.682468 0.11943 0.864848 0.0605382ZM2.5 4.26777V13.25C2.5 13.4489 2.57902 13.6397 2.71967 13.7803C2.86032 13.921 3.05109 14 3.25 14H17.25C17.4489 14 17.6397 13.921 17.7803 13.7803C17.921 13.6397 18 13.4489 18 13.25V4.26777L11.1339 11.1339C10.6457 11.622 9.85427 11.622 9.36612 11.1339L2.5 4.26777ZM16.2322 2.5H4.26777L10.25 8.48223L16.2322 2.5Z"
                fill-rule="evenodd"
                fill="#A120D2">
              </path>
            </svg>
          </a>
        </div>
        <div class="db-col">
          <p>
            Let's work together
          </p>
          <a class="db-btn--talent-network"
            title="VISIT US"
            href="https://elevatetalent.group">
            <span>ELEVATETALENT.GROUP</span>
            <svg class="db-svg"
              width="21"
              height="17"
              viewBox="0 0 21 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path id="path_01"
                d="M0.864848 0.0605382C0.986184 0.021238 1.11563 0 1.25 0H19.25C19.3845 0 19.5141 0.0212794 19.6355 0.0606531C19.8178 0.119562 19.9892 0.221383 20.1339 0.366117C20.2786 0.51085 20.3804 0.682246 20.4393 0.864493C20.4787 0.985932 20.5 1.1155 20.5 1.25V13.25C20.5 14.112 20.1576 14.9386 19.5481 15.5481C18.9386 16.1576 18.112 16.5 17.25 16.5H3.25C2.38805 16.5 1.5614 16.1576 0.951903 15.5481C0.34241 14.9386 0 14.112 0 13.25V1.25C0 1.11563 0.021238 0.986184 0.0605382 0.864848C0.11943 0.682468 0.221289 0.510944 0.366117 0.366117C0.510944 0.221289 0.682468 0.11943 0.864848 0.0605382ZM2.5 4.26777V13.25C2.5 13.4489 2.57902 13.6397 2.71967 13.7803C2.86032 13.921 3.05109 14 3.25 14H17.25C17.4489 14 17.6397 13.921 17.7803 13.7803C17.921 13.6397 18 13.4489 18 13.25V4.26777L11.1339 11.1339C10.6457 11.622 9.85427 11.622 9.36612 11.1339L2.5 4.26777ZM16.2322 2.5H4.26777L10.25 8.48223L16.2322 2.5Z"
                fill-rule="evenodd"
                fill="#A120D2">
              </path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>

</div>
<script>
  function onLoadAnimation() {
    console.log('onLoadAnimation');
    setTimeout(() => {
      document.querySelector('.db-site-loader').classList.remove('--show');
      document.querySelector('.db-section--main-roadmap').classList.add('--animate-now');
      document.querySelector('.db-header').classList.add('--animate-now');
    }, 3000);
  };

  onLoadAnimation();
</script>