<section>
  TEST
  {{ section.settings.text_input }}
</section>

{% schema %}
  {
    "name": "Section Dynamic Schema",
    "settings": [
      {
        "type": "text",
        "label": "Text Input",
        "id": "text_input",
        "default": "Default Text",
        "info": "This is a text input field."
      },
      {
        "type": "color",
        "label": "Color Picker",
        "id": "color_picker",
        "default": "#FFFFFF",
        "info": "text color picker"
      },
      {
        "type": "radio",
        "label": "Radio Option",
        "id": "radio_option",
        "default": "option1",
        "options": [
          {
            "label": "Option 1",
            "value": "option1"
          },
          {
            "label": "Option 2",
            "value": "option2"
          }
        ],
        "info": "Select Radio Option"
      },
      {
        "type": "text",
        "label": "URL Input",
        "id": "url_input",
        "default": "https://www.example.com",
        "info": "Enter a URL."
      },
      {
        "type": "range",
        "label": "Range Slider",
        "id": "range_slider",
        "default": 50,
        "min": 0,
        "max": 100,
        "step": 1,
        "info": "Select Range number from 1 to 100"
      },
      {
        "type": "image_picker",
        "label": "Upload an Image",
        "id": "image_upload",
        "info": "Upload an image."
      }
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}