<section class="db-section db-section--static-terms-of-use">
  <div class="db-container">
    <div class="db-row">
      <div class="db-col">
        <h1>Terms of Use</h1>
      </div>
    </div>
    <div class="db-row">
      <span>
        Last Updated: 11/02/2023
      </span>

      <div class="db-col">
        <div class="db-policy">
          ARBITRATION NOTICE: YOU AGREE THAT DISPUTES BETWEEN YOU AND US WILL BE RESOLVED BY
          BINDING, INDIVIDUAL ARBITRATION, AND YOU WAIVE ANY RIGHT TO PARTICIPATE IN A CLASS-ACTION
          LAWSUIT OR CLASS-WIDE ARBITRATION OR A TRIAL BY JURY. BELOW, WE EXPLAIN SOME EXCEPTIONS
          AND HOW YOU CAN OPT OUT OF ARBITRATION.
        </div>

        <p class="db-policy-content">
          EXPORT CONTROLS NOTICE: BY PARTICIPATING IN THIS SERVICE, YOU REPRESENT THAT YOU ARE NOT IN
          A SANCTIONED COUNTRY OR A “SANCTIONED PERSON,” AS DEFINED BELOW, UNDER UNITED STATES
          LAW.
        </p>
      </div>

      <div class="db-col">
        <div class="db-policy">
          INTRODUCTION
        </div>

        <p class="db-policy-content">
          Elevate Pictures, Inc. (“Elevate Pictures,” “we” “us”) provides an online service, accessible at
          www.deadbeat.gg (“Website”), that, among other things, allows eligible participants to interact with one
          or more smart contracts in order to buy or mint non-fungible tokens (“NFTs”) associated with digital
          artwork (“Artwork”), together with other services, websites, smart contracts, software, tools, features,
          and functionality made available by Elevate Pictures (collectively, the “Services”).
        </p>
      </div>

      <div class="db-col">
        <div class="db-policy">
          You are entering into a binding agreement.
        </div>

        <p class="db-policy-content">
          By accessing or using our Services, you are entering into a
          binding agreement with Elevate Pictures that includes: (a) these terms and conditions, which govern your
          access to and use of our Services, products, and properties including intangible property such as NFTs
          made available through our Services (“Terms”); (b) our Privacy Policy, which governs our collection and
          use of personal information and other data (“Privacy Policy”); and (c) any other terms, conditions, or
          policies linked to in our Terms or Privacy Policy. Therefore, please carefully review these documents. If
          you do not agree with the terms of these documents, you may not use our Services. If there is a conflict
          between these Terms and any other terms or conditions covering a specific area of the Services, the latter
          terms and conditions shall control unless they expressly state otherwise.
        </p>
      </div>

      <div class="db-col">
        <div class="db-policy">
          We may modify these Terms.
        </div>

        <p class="db-policy-content">
          We reserve the right to clarify or amend these terms by publishing an
          updated version of them to the Website. You acknowledge and agree that, in the event we publish a
          clarification or amendment of these Terms, your continued use of the Services will be contingent upon
          your acceptance of the updated Terms.
        </p>
      </div>

      <div class="db-col">
        <div class="db-policy">
          We may modify the Services.
        </div>

        <p class="db-policy-content">
          We reserve the right, at our sole discretion, to change the URL of the
          Website or modify all or part of the Services without notice to you.
        </p>
      </div>

      <div class="db-col">
        <div class="db-policy">
          Our Services are for adults only.
        </div>

        <p class="db-policy-content">
          The Services are intended solely for persons who are the age of majority
          in the applicable jurisdiction. Any access to or use of the Services by anyone under the age of majority is
          expressly prohibited. By accessing or using the Services, you represent and warrant that you are the age
          of majority.
        </p>
      </div>
      <div class="db-col">
        <div class="db-policy">
          You may use our Services to acquire NFTs from Elevate Pictures.
        </div>

        <p class="db-policy-content">
          Eligible participants may, in accordance
          with these Terms, use our Services to acquire NFTs offered by Elevate Pictures, while supplies last. Elevate
          Pictures reserves the right to change any Artwork from the look and appearance that it had at the time of
          acquisition.
        </p>
      </div>

      <div class="db-col">
        <div class="db-policy">
          You must have a digital wallet capable of transacting using NFTs. 
        </div>

        <p class="db-policy-content">
          If you wish to acquire NFTs using our
          Services, you must own or establish a compatible digital wallet that allows you to purchase, store, and
          engage in transactions using cryptocurrency and NFTs (“Wallet”), and you must connect and unlock your
          Wallet through the Services. Once you submit an order to mint or purchase an NFT, your order is passed
          on to the applicable Extension (defined below), which completes the transaction on your behalf. Each NFT
          will be transferred to the Wallet of the acquirer of the NFT, and the transaction will be completed in
          accordance with these Terms. You are solely responsible for the security of your Wallet, including, without
          limitation, safekeeping the seed phrase, private keys, and password associated with your Wallet.
        </p>
      </div>

      <div class="db-col">
        <div class="db-policy">
          You are responsible for paying any necessary transaction fees and applicable taxes.
        </div>

        <p class="db-policy-content">
          You must have
          enough funds in your Wallet to cover the total cost of your intended acquisition, including “gas” and any
          other applicable fees. All pricing and payment terms for our Services are as indicated at point of sale,
          otherwise on the Services, or in any applicable third-party terms, and any payment obligations you incur
          are binding at the time of purchase. You may not substitute any other currency, whether cryptocurrency
          or fiat currency, for the currency in which you have contracted to pay at the time of purchase. For clarity,
          no fluctuation in the value of any currency, whether cryptocurrency or otherwise, or applicable gas or
          other fees shall impact or excuse your obligations with respect to any purchase. You agree to bear sole
          responsibility for paying any and all taxes payable as the result of purchase, ownership, sale, transfer, use,
          and/or exploitation of any NFT or Artwork.
        </p>
      </div>

      <div class="db-col">
        <div class="db-policy">
          All transactions and sales are final, and all costs are non-refundable.
        </div>

        <p class="db-policy-content">
          Once an NFT has been successfully
          sold and/or transferred, it may not be returned and the payment and any associated transaction (i.e., gas)
          costs will not be refunded.
        </p>
      </div>
    </div>
  </div>
</section>