<section class="db-section db-section--static-explore-old-columbus">
  <div class="db-bg-wrap">
    <video class="db-bg-video db-video"
      id=""
      poster=""
      allow="autoplay"
      preload="auto"
      control="false"
      autoplay="true"
      volume="0"
      playsinline
      muted
      loop>
      <source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/2820077309c546bc80c521efca8ed9bd.mp4">
      <source type="video/webm" src="https://cdn.shopify.com/videos/c/o/v/e77f47c17e6845c8a5093f2e3fde59bf.webm">
    </video>
    <div class="db-bg-overlay"></div>
  </div>
  <div class="db-container">
    <div class="db-row">
      <div class="db-col">
        <h2>
          <span>EXPLORE</span>
          <span>OLD</span>
          <span>COLUMBUS</span>
        </h2>
        <p>
          The streets of Old Columbus are no longer ruled by a government, rather 7 powerful gangs fight for control of the city. Pick the faction of your choice and begin your journey to rise through the ranks and become known as the most powerful faction in Old Columbus.
          <br />
          <br />
          They are waiting on you to help lead them to victory.
        </p>
        <a class="db-btn--learn-more"
          title="Learn More"
          href="">
          <span class="label">
            Learn More
          </span>
        </a>
      </div>
    </div>
  </div>
</section>