<section class="db-section db-section--static-elevate-pictures">
  <div class="db-container">
    <div class="db-row">
      <div class="db-col">
        <h4>
          The Company
        </h4>
        <h3>
          ELEVATE PICTURES
        </h3>
      </div>
      <div class="db-col">
        <div class="db-image-container">
          <img class="db-img"
            alt=""
            title=""
            src="{{ 'About-Us__asset-elevate-v01.png' | asset_url }}"
            width=""
            height=""
            loading="lazy"/>
        </div>
        <div class="db-elevate-description">
          <p>
            Elevate is a transmedia entertainment company chasing simple ideas that can change the world.
            <br />
            <br />
            It means we understand and build ideas that scale across platforms and over time. It means we’re experts in business judo, flipping problems into promise.
          </p>
        </div>
        <div class="db-elevate-connect-with-us">
          <div class="connect-with-us">
            Explore the world of Deadbeat! Connect with us.
          </div>
          <div class="db-elevate-website">
            <span>
              WEBSITE
            </span>
            <a href="https://www.elevatepictures.com/">
              https://www.elevatepictures.com/
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>