<section class="db-section db-section--about-us">
  <div class="about-us--banner">
    <div class="db-container">
      <div class="title-wrap">
        <h1>
          <span>
            HELL YEAH
          </span>
          <span>
            WE ARE
          </span>
        </h1>
        <h4>
          We are Elevate. We’re a company. A transmedia company if you’re telling your friends about us.
        </h4>
      </div>
      <div class="db-row">
        <div class="db-col-spacer">
          <div class="db-col">
            <div class="db-logo-container">
              <img class="db-img"
                alt="Deadbeats Logo"
                title="Deadbeats Logo"
                src="{{ 'DB_Main_logo-v02-1024x394.png' | asset_url }}"
                width=""
                height=""
                loading="lazy"/>
            </div>
          </div>
          <div class="db-col">
            <div class="yaas-inner-row">
              <div class="yaas-inner-col">
                Hi. Hello. Heya.
              </div>
              <div class="yaas-inner-col">
                Thanks so much for checking us out. We’re bringing Deadbeat to the world because we believe in having fun and we want to make something awesome with YOU.
                <br/>
                <br/>
                So Deadbeat...
                <br/>
                <br/>
                It’s a wild story wrapped around a giant community game. You create your characters, discover new music, go to parties IRL, listen to our radio station, maybe even contribute to it.
                <br/>
                <br/>
                This world your world, this world is our world, from the OC waters to the OC islands. This world was made for you and us.
              </div>
              <div class="yaas-inner-col">
                <span>Hugs,</span>
                <span>Elevate</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-us--elevate">
    <div class="db-container">
      <div class="db-row">
        <div class="db-col">
          <h4>
            The Company
          </h4>
          <h3>
            ELEVATE PICTURES
          </h3>
        </div>
        <div class="db-col">
          <div class="db-image-container">
            <img class="db-img"
              alt=""
              title=""
              src="{{ 'About-Us__asset-elevate-v01.png' | asset_url }}"
              width=""
              height=""
              loading="lazy"/>
          </div>
          <div class="db-elevate-description">
            <p>
              Elevate is a transmedia entertainment company chasing simple ideas that can change the world.
              <br />
              <br />
              It means we understand and build ideas that scale across platforms and over time. It means we’re experts in business judo, flipping problems into promise.
            </p>
          </div>
          <div class="db-elevate-connect-with-us">
            <div class="connect-with-us">
              Explore the world of Deadbeat! Connect with us.
            </div>
            <div class="db-elevate-website">
              <span>
                WEBSITE
              </span>
              <a href="https://www.elevatepictures.com/">
                https://www.elevatepictures.com/
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>