<section class="db-section db-section--static-rock-n-roll-resurrected">
  <div class="db-container">
    <div class="db-row">
      <div class="db-col">
        <h2>
          Rock ‘n’ roll resurrected!
        </h2>
        <div style="padding: 4px; border: 10px solid #242031; border-radius: 12px;">
          <iframe src="https://open.spotify.com/embed/playlist/3KWtOgG4qoKIoFO9Ls6bvk?utm_source=generator&theme=0"
            width="100%"
            height="352"
            frameBorder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            style=""
            loading="lazy">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>