.db-page--product-page {

  .db-section--product-details {
    padding: 195px 30px 50px;

    .db-container {
      .breadcrumbs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3px;
        width: max-content;
        margin-bottom: 48px;

        .breadcrumb-item {
          color: rgba(255, 255, 255, 0.60);
          font-family: $secondary-font-family;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25em;
          white-space: nowrap;

          &.--current {
            color: $white-color;
            font-weight: 700;
          }
        }

        .svg-icon-angle-right {
          max-width: 6px;
          min-width: 6px;
          width: 100%;
        }
      }

      .db-row {
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px 73px;

        @media only screen and (max-width: 1440px) {
          gap: 40px 60px;
        }

        @media only screen and (max-width: 1080px) {
          gap: 40px;
        }

        @media only screen and (max-width: 1080px) {
          margin: 0 auto 30px;
        }

        @media only screen and (max-width: 768px) {
          flex-direction: column;
        }

        .db-col {
          &:nth-of-type(1) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 18px;
            max-width: 670px;
            min-width: 330px;
            width: 100%;

            .product-img-wrap {
              max-width: 80px;
              min-width: 80px;
              width: 100%;
              height: 600px;
              overflow: auto;
              scroll-behavior: smooth;

              .product-img-list {
                display: flex;
                flex-direction: column;
                gap: 15px;
                width: 100%;

                .product-img-item {
                  display: block;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  width: 100%;
                  height: 82px;
                  border: 2px solid transparent;
                  cursor: pointer;

                  &.--selected {
                    border-color: $secondary-color;
                  }
                }
              }
            }

            .product-selected-img {
              display: block;
              width: 100%;
              height: auto;
              object-fit: cover;
              object-position: center;
              overflow: hidden;

              @media only screen and (max-width: 1080px) {
                height: auto;
                margin: 0 auto;
              }
            }
          }

          &:nth-of-type(2) {
            width: 100%;

            .product-title {
              color: $white-color;
              font-family: $primary-font-family;
              font-size: 48px;
              font-style: normal;
              font-weight: 700;
              line-height: 1.3em;
              margin-bottom: 40px;

              @media only screen and (max-width: 1080px) {
                font-size: 20px;
                margin-bottom: 15px;
              }
            }

            .product-prices {
              display: flex;
              justify-content: flex-start;
              align-items: flex-end;
              gap: 12px;
              margin-bottom: 66px;

              @media only screen and (max-width: 1080px) {
                margin-bottom: 19px;
              }

              @media only screen and (max-width: 768px) {
                margin-bottom: 48px;
              }

              .current-price {
                color: #D86FFF;
                font-family: $primary-font-family;
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                font-feature-settings: 'calt' off;
                line-height: 1em;
                letter-spacing: -0.4px;

                @media only screen and (max-width: 1080px) {
                  font-size: 35px;
                }
              }

              .before-price {
                color: #787878;
                font-family: $primary-font-family;
                font-size: 22px;
                font-style: normal;
                font-weight: 300;
                font-feature-settings: 'calt' off;
                text-decoration: line-through;
                line-height: 1em;
                letter-spacing: -0.22px;

                @media only screen and (max-width: 1080px) {
                  font-size: 20px;
                }
              }
            }

            .product-option {
              border-top: 1px solid rgba(255, 255, 255, 0.40);

              &.--color {
                position: relative;

                .db-inner-row {
                  display: flex;
                  justify-content: space-between;
                  align-items: flex-start;
                  gap: 16px;
                  width: 100%;
                  padding: 32px 0;

                  @media only screen and (max-width: 1080px) {
                    flex-wrap: wrap;
                    padding: 20px 0;
                  }

                  > .label {
                    color: $white-color;
                    font-family: $secondary-font-family;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    font-feature-settings: 'calt' off;
                    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
                    line-height: 1em;
                    letter-spacing: -0.36px;

                    @media only screen and (max-width: 1080px) {
                      width: 100%;
                    }
                  }

                  .option-list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: stretch;
                    gap: 11px;
                    max-width: 270px;
                    width: 100%;

                    @media only screen and (max-width: 1080px) {
                      max-width: 100%;
                    }

                    .option-item {
                      display: block;
                      max-width: 80px;
                      min-width: 80px;
                      width: 100%;
                      height: 26px;
                      border: 2px solid #150E1F;
                      border-radius: 3px;
                      cursor: pointer;

                      &.--selected {}
                    }
                  }
                }
              }

              &.--size {
                .db-inner-row {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 17px 47px;
                  width: 100%;
                  padding: 32px 0;

                  @media only screen and (max-width: 1080px) {
                    flex-wrap: wrap;
                    padding: 20px 0;
                  }

                  > .label {
                    color: $white-color;
                    font-family: $secondary-font-family;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    font-feature-settings: 'calt' off;
                    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
                    line-height: 1em;
                    letter-spacing: -0.36px;
                  }

                  .db-btn--size-guide {
                    display: block;

                    .label {
                      color: $white-color;
                      font-family: $primary-font-family;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 700;
                      font-feature-settings: 'calt' off;
                      text-transform: uppercase;
                      text-decoration: underline;
                      line-height: 1em;
                      white-space: nowrap;
                      transition:
                        color $hover-transition-duration ease-in-out 0ms;
                    }

                    &.--toggled {
                      .label {
                        color: #D86FFF;
                      }
                    }

                    &:hover {
                      .label {
                        color: #D86FFF;
                      }
                    }
                  }

                  .option-list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 3px;
                    width: max-content;
                    margin: 0 0 0 auto;

                    @media only screen and (max-width: 1080px) {
                      margin: 0;
                    }

                    @media only screen and (max-width: 768px) {
                      justify-content: flex-start;
                      width: 100%;
                    }

                    @media only screen and (max-width: 480px) {
                      flex-wrap: wrap;
                      gap: 6px;
                    }

                    .option-item {
                      color: $white-color;
                      font-family: $secondary-font-family;
                      font-size: 14px;
                      font-style: normal;
                      font-weight: 700;
                      font-feature-settings: 'calt' off;
                      text-align: center;
                      line-height: 1em;
                      letter-spacing: -0.28px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      min-width: 34px;
                      width: 100%;
                      height: 34px;
                      padding: 0 10px;
                      border: 1px solid transparent;
                      border-radius: 5px;
                      transition:
                        color $hover-transition-duration ease-in-out 0ms,
                        border-color $hover-transition-duration ease-in-out 0ms;
                      cursor: pointer;

                      @media only screen and (max-width: 768px) {
                        max-width: 45px;
                      }

                      &.--selected,
                      &:hover {
                        color: #D86FFF;
                        border-color: #D86FFF;
                      }

                      &.--out-of-stock {
                        color: #202329;
                        background-color: #5D6068;
                        border-color: transparent;
                        // pointer-events: none;
                        cursor: no-drop;
                      }
                    }
                  }
                }

                .product-size-guide-wrap {
                  width: 100%;
                  height: 0px;
                  overflow: hidden;
                  transition:
                    height $click-transition-duration ease-in-out 0ms;

                  table {
                    border-collapse: collapse;
                    width: 100%;
                    margin: 25px 0;

                    tr {
                      td {
                        color: $white-color;
                        font-family: $secondary-font-family;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        font-feature-settings: 'calt' off;
                        text-align: center;
                        text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
                        line-height: 1.25em;
                        letter-spacing: -0.36px;
                        white-space: nowrap;
                        padding: 14px;
                        vertical-align: middle;
                        border: 1px solid rgba(255, 255, 255, 0.40);

                        &:nth-child(1) {
                          
                        }
                      }
                    }
                  }
                }
              }
            }

            .product-quantity-wrap {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 16px;
              padding: 32px 0;
              border-top: 1px solid rgba(255, 255, 255, 0.40);

              @media only screen and (max-width: 1080px) {
                flex-wrap: wrap;
                padding: 20px 0;
              }

              > .label {
                color: $white-color;
                font-family: $secondary-font-family;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                font-feature-settings: 'calt' off;
                text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
                line-height: 1em;
                letter-spacing: -0.36px;

                @media only screen and (max-width: 1080px) {
                  width: 100%;
                }
              }

              .quantity-control {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 45px;
                width: max-content;
                padding: 15px 20px;
                border: 1px solid rgba(255, 255, 255, 0.40);
                border-radius: 5px;

                .quantity-input {
                  color: $white-color;
                  font-family: $secondary-font-family;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 700;
                  text-align: center;
                  line-height: 1.25em;
                  letter-spacing: -0.28px;
                  display: block;
                  background-color: transparent;
                  max-width: 25px;
                  min-width: 25px;
                  width: 100%;
                  outline: transparent;
                  border: none;
                }

                .quantity-minus,
                .quantity-plus {
                  display: block;
                  scale: 1;

                  &:hover {
                    scale: 1.1;
                  }
                }

                .quantity-minus {
                  &:disabled {
                    pointer-events: none;
                    cursor: default;
                  }
                }
              }
            }

            hr {
              display: block;
              background-color: rgba(255, 255, 255, 0.40);
              width: 100%;
              height: 1px;
            }

            .product-buttons {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 32px;
              margin: 40px auto 70px;

              @media only screen and (max-width: 1080px) {
                gap: 12px;
              }

              @media only screen and (max-width: 768px) {
                flex-direction: column;
                margin: 20px auto 40px;
              }

              .db-btn {
                &--add-to-cart,
                &--buy-it-now,
                &--out-of-stock {
                  width: 100%;
                  padding: 15px 20px;
                  border-width: 1px;
                  border-style: solid;
                  border-radius: 50px;

                  @media only screen and (max-width: 1080px) {
                    padding: 12px 16px;
                  }

                  .label {
                    color: $white-color;
                    font-family: $primary-font-family;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.25em;
                    display: block;

                    @media only screen and (max-width: 1080px) {
                      font-size: 14px;
                    }
                  }
                }

                &--add-to-cart {
                  background-color: transparent;
                  border-color: $primary-color;

                  &:hover {
                    background-color: $primary-color;
                  }
                }

                &--buy-it-now {
                  background-color: $secondary-color;
                  opacity: 1;
                  border-color: $secondary-color;

                  &:hover {
                    opacity: 0.7;
                  }
                }

                &--out-of-stock {
                  border-color: rgba(255, 255, 255, 0.4);
                  border-radius: 0px;
                  pointer-events: none;
                  cursor: default;
                }
              }
            }

            .product-details {
              display: block;

              @media only screen and (max-width: 1080px) {
                display: none;
              }
            }
          }
        }
      }

      .product-details {
        display: none;

        @media only screen and (max-width: 1080px) {
          display: block;
        }

        h5 {
          color: $white-color;
          font-family: $secondary-font-family;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          font-feature-settings: 'calt' off;
          text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
          line-height: 1.25em;
          letter-spacing: -0.36px;
          margin-bottom: 24px;
        }

        div {
          color: #CAC7D0;
          font-family: $secondary-font-family;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 1.5em;
        }
      }
    }
  }

  .db-section--product-recommendation {
    padding: 80px 30px 50px;

    @media only screen and (max-width: 1080px) {
      padding: 25px 30px;
    }

    .db-container {
      h2 {
        color: $white-color;
        font-family: $primary-font-family;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
        line-height: 1.25em;
        margin: 0 auto 40px;
      }

      .product-list {
        display: grid;
        grid-template-columns: repeat(4, minmax(300px, 1fr));
        justify-content: center;
        align-items: stretch;
        grid-gap: 50px 40px;
        gap: 50px 40px;

        @media only screen and (max-width: 1440px) {
          grid-template-columns: repeat(4, minmax(250px, 1fr));
          grid-gap: 40px 30px;
          gap: 40px 30px;
        }

        @media only screen and (max-width: 1200px) {
          grid-template-columns: repeat(2, minmax(200px, 1fr));
          grid-gap: 50px 30px;
          gap: 50px 30px;
        }

        @media only screen and (max-width: 480px) {
          grid-template-columns: repeat(2, minmax(144px, 1fr));
          grid-gap: 20px 15px;
          gap: 20px 15px;
        }

        .product-item {
          position: relative;
          opacity: 0;
          transition:
            opacity 0ms ease-in-out 0ms;
          cursor: pointer;
          
          .product-img-link {
            display: block;
            width: 100%;
            height: 370px;
            margin: 0 auto 24px;

            @media only screen and (max-width: 1440px) {
              height: 270px;
            }

            @media only screen and (max-width: 768px) {
              margin: 0 auto 17px;
            }

            @media only screen and (max-width: 480px) {
              height: 160px;
              margin: 0 auto 7px;
            }

            .product-img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          .product-details {
            position: relative;
            z-index: 1;
            visibility: visible;
            opacity: 1;
            height: 60px;
            transition:
              opacity $hover-transition-duration ease-in-out 0ms;

            @media only screen and (max-width: 768px) {
              height: auto;
              margin: 0 auto 16px;
            }

            @media only screen and (max-width: 480px) {
              margin-bottom: 7px;
            }

            .product-title {
              color: $white-color;
              font-family: $primary-font-family;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: 1.25em;
              margin-bottom: 8px;

              @media only screen and (max-width: 480px) {
                font-size: 10px;
                margin-bottom: 5px;
              }
            }

            .product-price {
              display: flex;
              justify-content: flex-start;
              align-items: flex-end;
              gap: 8px;

              .current-price {
                color: #D86FFF;
                font-family: $primary-font-family;
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                font-feature-settings: 'calt' off;
                line-height: 1em;
                letter-spacing: -0.28px;

                @media only screen and (max-width: 480px) {
                  font-size: 15px;
                }
              }

              .before-price {
                color: #787878;
                font-family: $primary-font-family;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                font-feature-settings: 'calt' off;
                text-decoration: line-through;
                line-height: 1em;
                letter-spacing: -0.16px;

                @media only screen and (max-width: 480px) {
                  font-size: 9px;
                }
              }
            }
          }

          .product-actions {
            position: absolute;
            z-index: 2;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            visibility: hidden;
            opacity: 0;
            width: 100%;
            height: 60px;
            transition:
              opacity $hover-transition-duration ease-in-out 0ms;
            
            @media only screen and (max-width: 768px) {
              position: relative;
              bottom: unset;
              visibility: visible;
              opacity: 1;
            }

            @media only screen and (max-width: 480px) {
              height: 26px;
            }

            .db-btn--buy-it-now {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $secondary-color;
              max-width: 235px;
              width: 100%;
              padding: 17px 22px;
              border-radius: 50px;
              border: 1px solid $secondary-color;
              transition:
                all $hover-transition-duration ease-in-out 0ms;

              @media only screen and (max-width: 768px) {
                max-width: 100%;
              }

              @media only screen and (max-width: 480px) {
                padding: 7px 12px;
              }

              .label {
                color: $white-color;
                font-family: $primary-font-family;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 1.25em;
                white-space: nowrap;
                display: block;
                transition:
                  all $hover-transition-duration ease-in-out 0ms;

                @media only screen and (max-width: 768px) {
                  font-size: 14px;
                }

                @media only screen and (max-width: 480px) {
                  font-size: 8px;
                }
              }

              &:hover {
                background-color: transparent;

                .label {
                  color: $secondary-color;
                }
              }
            }

            .db-btn--add-to-cart {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: transparent;
              max-width: 56px;
              min-width: 56px;
              width: 100%;
              height: 56px;
              border: 1px solid $primary-color;
              border-radius: 50px;

              @media only screen and (max-width: 480px) {
                max-width: 26px;
                min-width: 26px;
                height: 26px;
              }

              .svg-icon-cart {
                max-width: 20px;
                min-width: 20px;
                width: 100%;

                @media only screen and (max-width: 480px) {
                  max-width: 10px;
                  min-width: 10px;
                }
              }

              &:hover {
                background-color: $primary-color;
              }
            }
          }

          &.--fade-in {
            opacity: 1;
            transition:
              opacity 500ms ease-in-out 0ms;
          }

          &:hover {
            .product-details {
              visibility: hidden;
              opacity: 0;

              @media only screen and (max-width: 768px) {
                visibility: visible;
                opacity: 1;
              }
            }

            .product-actions {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .db-section--prev-next-product {
    padding: 80px 30px 260px;

    @media only screen and (max-width: 1080px) {
      padding: 25px 30px 70px;
    }

    .db-container {
      .db-row {
        justify-content: space-between;
        align-items: stretch;
        gap: 40px;
        height: 200px;

        @media only screen and (max-width: 1200px) {
          gap: 50px 30px;
        }

        @media only screen and (max-width: 1080px) {
          height: auto;
        }

        @media only screen and (max-width: 768px) {
          gap: 20px;
        }

        .db-col {
          .prev-next-btns {
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: unset;
            width: 100%;
            height: 100%;
            border: 1px solid #D86FFF;
            border-radius: 15px;
            transition:
              box-shadow $hover-transition-duration ease-in-out 0ms;
            cursor: pointer;

            .prev-next-label {
              color: $white-color;
              font-family: $secondary-font-family;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              font-feature-settings: 'calt' off;
              text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
              line-height: 100%; /* 18px */
              letter-spacing: -0.36px;
              display: none;

              @media only screen and (max-width: 480px) {
                display: block;
                margin-bottom: 7px;
              }
            }

            .db-inner-row {
              align-items: center;
              gap: 40px;
              width: 100%;

              @media only screen and (max-width: 1080px) {
                gap: 13px;
              }

              .product-img {
                display: block;
                max-width: 143px;
                min-width: 143px;
                width: 100%;
                height: 164px;
                object-fit: cover;
                object-position: center;
                border-radius: 10px;

                @media only screen and (max-width: 1080px) {
                  max-width: 67px;
                  min-width: 67px;
                  height: 78px;
                }
              }

              .product-details {
                display: block;
                
                @media only screen and (max-width: 480px) {
                  display: none;
                }

                > .prev-next-label {
                  display: block;

                  @media only screen and (max-width: 1080px) {
                    font-size: 12px;
                    margin-bottom: 3px;
                  }
                }

                .product-title {
                  color: $white-color;
                  font-family: $primary-font-family;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 1.25em;
                  margin-bottom: 6px;

                  @media only screen and (max-width: 1080px) {
                    font-size: 16px;
                    margin-bottom: 4px;
                  }

                  @media only screen and (max-width: 768px) {
                    height: calc(1.25em * 2);
                    overflow: hidden;
                  }
                }
              }

              .product-prices {
                display: flex;
                align-items: flex-end;
                gap: 8px;

                .current-price {
                  color: #D86FFF;
                  font-family: $primary-font-family;
                  font-size: 28px;
                  font-style: normal;
                  font-weight: 500;
                  font-feature-settings: 'calt' off;
                  line-height: 1em;
                  letter-spacing: -0.28px;

                  @media only screen and (max-width: 1080px) {
                    font-size: 19px;
                  }
                }

                .before-price {
                  color: #787878;
                  font-family: $primary-font-family;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 300;
                  font-feature-settings: 'calt' off;
                  text-decoration: line-through;
                  line-height: 1em;
                  letter-spacing: -0.16px;

                  @media only screen and (max-width: 1080px) {
                    font-size: 11px;
                  }
                }
              }

              .svg-icon-angle-left,
              .svg-icon-angle-right {
                max-width: 19px;
                min-width: 19px;
                width: 100%;

                @media only screen and (max-width: 1080px) {
                  max-width: 9px;
                  min-width: 9px;
                }
              }
            }

            &.--prev {
              background-image: url('DB_ProductDetails_Prev_bg-v01-700x200.jpg');
              padding: 18px 33px 18px 40px;

              @media only screen and (max-width: 1080px) {
                padding: 9px 16px 9px 20px;
              }

              .prev-next-label {
                text-align: right;
              }

              .db-inner-row {
                justify-content: flex-end;

                .product-details {
                  > .label {
                    text-align: right;
                  }

                  .product-title {
                    text-align: right;
                  }
                }

                .product-prices {
                  justify-content: flex-end;
                }

                .svg-icon-angle-left {
                  margin: 0 auto 0 0;
                }
              }
            }

            &.--next {
              background-image: url('DB_ProductDetails_Next_bg-v01-700x200.jpg');
              padding: 18px 40px 18px 33px;

              @media only screen and (max-width: 1080px) {
                padding: 9px 20px 9px 16px;
              }

              .prev-next-label {
                text-align: left;
              }

              .db-inner-row {
                justify-content: flex-start;

                .product-details {
                  > .label {
                    text-align: left;
                  }

                  .product-title {
                    text-align: left;
                  }
                }

                .product-prices {
                  justify-content: flex-start;
                }

                .svg-icon-angle-right {
                  margin: 0 0 0 auto;
                }
              }
            }

            &:hover {
              box-shadow: 4.078px 4.078px 8.156px 0px rgba(181, 34, 235, 0.30), -4.078px -4.078px 8.156px 0px rgba(181, 34, 235, 0.30), 2.039px 2.039px 4.078px 0px rgba(216, 110, 255, 0.60), -2.039px -2.039px 4.078px 0px rgba(216, 110, 255, 0.60);
            }
          }
        }
      }
    }
  }
}
