<main class="db-main site-main">
  <section class="db-section db-section--about-us-banner">
    <div class="db-container">
      <div class="title-wrap">

        <h1>
          <span>
            HELL YEAH
          </span>

          <span>
            WE ARE
          </span>
        </h1>

        <h4>
          Welcome to the world of deadbeat, Deadbeat is a transmedia story centered around a radio station in the year 2069, where the undead rule the world.
        </h4>

      </div>

      <div class="db-row">
        <div class="db-col-spacer">
          <div class="db-col">
            <div class="db-logo-container">
              <img src="{{ 'About-Us__asset-DB-logo.png' | asset_url }}" alt="Deadbeats Logo">
            </div>
          </div>

          <div class="db-col">
            <div class="db-banner-its-year">
              IT’S YEAR
            </div>
            <div class="db-banner-content-block">
              <div class="db-banner-2069">
                2069
              </div>

              <div class="db-banner-and">
                <span>
                  A
                </span>
                <span>
                  N
                </span>
                <span>
                  D
                </span>
              </div>

              <div class="db-banner-rock-the-world">
                Undead rock the world
              </div>
            </div>

            <div class="db-banner-featured">
              
              <div class="db-banner-featured-item">
                <div class="featured-item-content">
                  <div class="featured-item-title">
                    MARKETPLACE
                  </div>

                  <div class="featured-item-description">
                    Lorem ipsum dolor sit amet consec
                  </div>
                </div>

                <div class="featured-item-image">
                  <img src="{{ 'About-Us__asset-banner-v02.png' | asset_url }}" alt="">
                </div>
              </div>

              <div class="db-banner-featured-item">
                <div class="featured-item-content">
                  <div class="featured-item-title">
                    NFT COLLECTIONS
                  </div>

                  <div class="featured-item-description">
                    Lorem ipsum dolor sit amet consec
                  </div>
                </div>

                <div class="featured-item-image">
                  <img src="{{ 'About-Us__asset-banner-v02.png' | asset_url }}" alt="">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="db-section db-section--about-us-after-life">
    <div class="db-background-overlay"></div>
    <div class="db-container">

      
      <div class="title-wrap">
        <h2>
          THE AFTER, AFTER LIFE
        </h2>
      </div>

      <div class="db-row">

        <div class="db-col">
          Welcome to BEAT 96.9, a once great independent radio station, struggling to stay alive in the world of the undead. This new animated show follows the lives of the station’s re-animated crew as they manage their post-apocalyptic lives. 
        </div>

        <div class="db-col">
          Welcome to BEAT 96.9, a once great independent radio station, struggling to stay alive in the world of the undead. This new animated show follows the lives of the station’s re-animated crew as they manage their post-apocalyptic lives. The show’s setting will allow for a broad array of colorful characters, transient guests, and somewhat live performances from the new world’s up-and-coming bands trying to bring their music and careers to life.
        </div>

        <div class="db-col">
          Welcome to BEAT 96.9, a once great independent radio station, struggling to stay alive in the world of the undead. This new animated show follows the lives of the station’s re-animated crew as they manage their post-apocalyptic lives. 
        </div>

      </div>

      <div class="db-row">

        <div class="db-the-natives-title">
          <h3>
            <span>
              THE STORY:
            </span>

            <span>
              THE NATIVES
            </span>
          </h3>

          <h3>
            Main Characters
          </h3>
        </div>
      </div>
    </div>
  </section>
</main>