/*===============*/
/*   ANIMATION   */
/*===============*/
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoom-in {
  from {
    scale: 1.0;
  }
  to {
    scale: 1.1;
  }
}

@keyframes zoom-out {
  from {
    scale: 1.1;
  }
  to {
    scale: 1.0;
  }
}

@keyframes slide-up {
  from {
    translate: 0 200px;
  }
  to {
    translate: 0 0;
  }
}

@keyframes slide-down {
  from {
    translate: 0 -200px;
  }
  to {
    translate: 0 0;
  }
}

@keyframes running-text {
  from {
    translate: 100% 0%;
  }
  to {
    translate: -100% 0%;
  }
}

@keyframes glitchTop {
  2%, 64% {
    transform: translate(2px,-2px);
  }
  4%, 60% {
    transform: translate(-2px,2px);
  }
  62% {
    transform: translate(13px,-1px) skew(-13deg);
  }
}

@keyframes glitchBotom {
  2%, 64% {
    transform: translate(-2px,0);
  }
  4%, 60% {
    transform: translate(-2px,0);
  }
  62% {
    transform: translate(-22px,5px) skew(21deg);
  }
}

@keyframes siteLoaderRotate {
  2% {
    rotate: 90deg;
  }
  40% {
    rotate: 145deg;
  }
  62% {
    rotate: 190deg;
  }
  80% {
    rotate: 240deg;
  }
  90% {
    rotate: 360deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes siteLoaderTilt {
  0% {
    rotate: 10deg;
  }
  50% {
    rotate: -10deg;
  }
  100% {
    rotate: 10deg;
  }
}