.db-page--about-us {
  .db-section--about-us {
    padding-bottom: 134px;

    @media only screen and (max-width: 480px) {
      padding-bottom: 10px;
      background: #0D0713;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-image: url('About-Us__asset-3800x2916.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media only screen and (max-width: 480px) {
        top: 0;
        left:0;
        right: 0;
        bottom:unset;
        background-image: url('About-Us__asset-750x1436.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 728px;
      }
    }

    .about-us--banner {
      padding-top: 256px;
      position: relative;
      z-index: 3;

      @media only screen and (max-width: 768px) {
        padding-top: 150px;
      }

      .db-container {
        &:nth-child(1) {
          .title-wrap {
            max-width: 795px;
            margin-inline: auto;

            @media only screen and (max-width: 480px) {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            h1 {
              text-align: center;

              span {
                font-family: $primaryFontFamily;
                font-size: 88px;
                font-style: normal;
                font-weight: 700;
                text-align: center;
                line-height: 1.1em;
                letter-spacing: -3.52px;

                @media only screen and (max-width: 768px) {
                  font-size: 50px;
                }


                &:nth-child(1) {
                  color: $secondaryColor;
                  @media only screen and (max-width:480px) {
                    

                    text-align: center;
                    font-family: $primaryFontFamily;
                    font-size: 23.91px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 100%; /* 23.91px */
                    letter-spacing: -0.956px;
                  }
                }
                
                &:nth-child(2) {
                  color: $primaryColor;
                  @media only screen and (max-width:480px) {
                    

                    text-align: center;
                    font-family: $primaryFontFamily;
                    font-size: 23.91px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 100%; /* 23.91px */
                    letter-spacing: -0.956px;
                  }
                }
              }
            }

            h4 {
              color: $whiteColor;
              font-family: $primaryFontFamily;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              text-align: center;
              text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
              line-height: 1.5em;
              margin-top: 40px;

              @media only screen and (max-width: 768px) {
                font-size: 20px;
                margin-top: 15px;
              }

              @media only screen and (max-width: 480px) {
                
                margin-top: 5px;
                max-width: 268px;
                width: 100%;
                min-width: 268px;
                color: #FFF;
                text-align: center;
                font-family: $primaryFontFamily;
                font-size: 11.747px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
              }
            }
          }

          .db-row {

            &:nth-child(2) {
              position: relative;
              background-image: url('About-Us__asset-2882x1554.png');
              background-position: left;
              background-repeat: no-repeat;
              background-size: cover;
              box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.40);
              object-fit: cover;
              margin-top: 96px;
              border-radius: 30px;
              border: 10px solid #242031;

              @media only screen and (max-width: 768px) {
                margin-top: 42px;
              }

              @media only screen and (max-width: 480px) {
                background-image: url('About-Us__asset-638x1084.png');
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 7px;
                border: 4.299px solid #242031;
                box-shadow: 0px 12.89575px 21.49292px 0px rgba(0, 0, 0, 0.40);
              }

              .db-col-spacer {
                display: flex;
                align-items: flex-start;
                column-gap: 180px;
                width: 100%;
                padding: 67px 164px 88px 138px;
                height: 777px;

                @media only screen and (max-width: 1366px) {
                  column-gap: 80px;
                  padding-right: 88px;
                }

                @media only screen and (max-width: 1080px) {
                  flex-direction: column;
                  padding-left: 80px;
                }

                @media only screen and (max-width: 480px) {
                  height: 542px;
                  max-width: 319px;
                  min-width: 319px;
                  padding-top: 17px;
                  padding-right: 19px;
                  padding-left: 30px;
                  padding-bottom: unset;
                  flex-direction: column;
                  row-gap: 24px;
                  margin-inline: auto;
                }


                .db-col {
                  &:nth-child(1) {
                    max-width: 316px;
                    width: 100%;

                    @media only screen and (max-width: 768px) {
                      max-width: 200px;
                    }

                    @media only screen and (max-width: 480px) {
                      max-width: 151px;
                      min-width: 151px;
                      align-self: center;
                    }
                    

                    .db-logo-container {
                      max-width: 316px;
                      min-width: 135px;
                      width: 100%;

                      @media only screen and (max-width: 480px) {
                        max-width: 151px;
                        min-width: 151px;
                      }

                      img {
                        display: block;
                        object-fit: cover;
                        width: 100%;
                      }
                    }
                  }

                  &:nth-child(2) {
                    position: relative;
                    z-index: 5;
                    @media only screen and (max-width: 480px) {
                      width: min-content;
                    }

                    .yaas-inner-row {
                      &:nth-child(1) {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 643px;

                        @media only screen and (max-width: 1080px) {
                          height: auto;
                          margin-top: 50px;
                        }

                        @media only screen and (max-width: 768px) {
                          margin-top: 20px;
                        }

                        @media only screen and (max-width: 480px) {
                          margin-top: unset;
                        }

                        .yaas-inner-col {
                          &:nth-child(1) {
                            color: #FFF;
                            font-family: $primaryFontFamily;
                            font-size: 56px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 115%; /* 64.4px */
                            letter-spacing: -2.24px;
                            @media only screen and (max-width: 1080px) {
                              text-align: center;
                            }

                            @media only screen and (max-width: 768px) {
                              font-size: 40px;
                              max-width: 266px;
                              width: 100%;
                              min-width: 266px;
                            }

                            @media only screen and (max-width: 480px) {
                              font-size: 27.411px;
                              letter-spacing: -1.096px;
                              text-align: left;
                            }
                          }

                          &:nth-child(2) {
                            margin-top: 32px;
                            color: #FFF;
                            text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
                            font-family: $primaryFontFamily;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 150%;
                            @media only screen and (max-width: 768px) {
                              font-size: 15px;
                            }

                            @media only screen and (max-width: 480px) {
                              font-size: 9.789px;
                              text-shadow: 2.447368621826172px 2.447368621826172px 7.342105388641357px rgba(0, 0, 0, 0.40);
                              margin-top: 15px;
                            }
                            
                          }

                          &:nth-child(3) {
                            display: flex;
                            flex-direction: column;
                            margin-top: 70px;

                            @media only screen and (max-width: 1080px) {
                              margin-top: 30px;
                            }

                            @media only screen and (max-width: 480px) {
                              margin-top: 34px;
                            }
                            span {
                              &:nth-child(1) {
                                color: #FFF;
                                font-family: $primaryFontFamily;
                                font-size: 32px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 115%;

                                @media only screen and (max-width: 768px) {
                                  font-size: 20px;
                                }

                                @media only screen and (max-width: 480px) {
                                  font-size: 15.663px;
                                }
                              }

                              &:nth-child(2) {
                                color: #FFF;
                                text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
                                font-family: $secondaryFontFamily;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 150%;
                                @media only screen and (max-width: 768px) {
                                  font-size: 15px;
                                }

                                @media only screen and (max-width: 480px) {
                                  font-size: 9.789px;
                                }
                              }
                            }
                          }
                        }
                      }

                      // &:nth-child(2) {
                      //   font-family: $primaryFontFamily;
                      //   font-size: 47.795px;
                      //   font-style: normal;
                      //   font-weight: 700;
                      //   line-height: 115%; /* 54.964px */
                      //   letter-spacing: -1.912px;
                      //   width: min-content;
                      //   display: none;

                      //    @media only screen and (max-width: 480px) {
                      //     display: block;
                          
                      //   }

                      //   span {
                      //     display: inline-block;

                      //     &:nth-child(1) {
                            
                      //       color: #FFF;
                      //     }
                      //     &:nth-child(2) {
                      //       color: #B1FF29;
                      //     }

                      //     &:nth-child(3) {
                      //       color: #B522EB;
                      //     }
                      //   }
                      // }
                    }
                  }
                }
              }
            }
            
          }
        }
      }
    }
  }

  .db-section--about-us-elevate {
    // background: #150E1F;
    background: linear-gradient(180deg, #0D0616 0%, #150E1F 100%);
    padding-top: unset;
    padding-bottom: 133px;

    @media only screen and (max-width: 480px) {
      padding: 79px 33px 61px 24px;
    }

    .db-container {
      .db-row {
        column-gap: 176px;

        @media only screen and (max-width: 1080px) {
          flex-direction: column;
          row-gap: 100px;
        }

        @media only screen and (max-width: 768px) {
          row-gap: 50px;
        }

        @media only screen and (max-width: 480px) {
          row-gap: 41px;
        }

        &:nth-child(1) {
          .db-col {
            &:nth-child(1) {
              max-width: 388px;
              padding-top: 50px;

              @media only screen and (max-width: 480px) {
                padding-top: unset;
                padding-left: 20px;
              }

              h4 {
                color: $whiteColor;
                text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
                font-family: $primaryFontFamily;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 1.1em;

                @media only screen and (max-width: 480px) {
                  font-size: 40px;
                }
              }

              h3 {
                color: #A120D2;
                font-family: $primaryFontFamily;
                font-size: 56px;
                font-style: normal;
                font-weight: 700;
                text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
                line-height: 1.1em;
                letter-spacing: -2.24px;

                @media only screen and (max-width: 480px) {
                  font-size: 50px;
                }
              }
            }

            &:nth-child(2) {
              max-width: 840px;

              
              @media only screen and (max-width: 1080px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
              }

              @media only screen and (max-width: 480px) {
                align-items: flex-start;
                align-self: flex-start;
              }

              .db-image-container {
                max-width: 408px;
                width: 100%;

                @media only screen and (max-width: 768px) {
                  max-width: 350px;
                }

                @media only screen and (max-width: 480px) {
                  max-width: 322px;
                }
                img {
                  display: block;
                  object-fit: cover;
                  width: 100%;
                }
              }

              .db-elevate-description {
                margin-top: 40px;

                @media only screen and (max-width: 480px) {
                  max-width: 373px;
                }
                p {
                  color: #CAC7D0;
                  font-family: $primaryFontFamily;
                  font-size: 36px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 1.3em;

                  @media only screen and (max-width: 768px) {
                    font-size: 30px;
                  }

                  @media only screen and (max-width: 480px) {
                    font-size: 24px;
                  }
                }
              }
              
              .db-elevate-connect-with-us {
                margin-top: 90px;

                @media only screen and (max-width: 1080px) {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                }

                @media only screen and (max-width: 480px) {
                  margin-top: 65px;
                  width: 100%;
                }

                .connect-with-us {
                  color: #CAC7D0;
                  font-family: $secondaryFontFamily;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 1.5em;

                  @media only screen and (max-width: 480px) {
                    font-size: 16px;
                    text-align: center;
                  }
                }
                .db-elevate-website {
                  display: inline-flex;
                  align-items: center;
                  column-gap: 10px;
                  margin-top: 32px;
                  padding: 16px 30px;
                  border-radius: 5px;
                  border: 1.5px solid #AA27B1;

                  @media only screen and (max-width: 480px) {
                    margin-top: 10px;
                    width: 100%;
                    justify-content: center;
                  }
                  
                  span {
                    color: #A120D2;
                    font-family: $primaryFontFamily;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.1em;
                  }

                  a {
                    color: $whiteColor;
                    font-family: $primaryFontFamily;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.1em;
                  }
                }
              }
              
            }
          }
        }
      }
    }
  }

  .db-section--about-us-subscribe {
    background: #150E1F;


    padding-bottom: 95px;

    @media only screen and (max-width: 768px) {
      padding-bottom: 103px;
    }

    @media only screen and (max-width: 480px) {
      padding-top: 0px;
      padding-bottom: 79px;
      padding-left: 24px;
      padding-right: 24px;
    }

    .db-container {
      .db-row {
        position: relative;
        justify-content: flex-end;
        background-image: url('About-Us__asset-subscribe-v02.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 4.07796px 4.07796px 8.15591px 0px rgba(181, 34, 235, 0.30), -4.07796px -4.07796px 8.15591px 0px rgba(181, 34, 235, 0.30), 2.03898px 2.03898px 4.07796px 0px rgba(216, 110, 255, 0.60), -2.03898px -2.03898px 4.07796px 0px rgba(216, 110, 255, 0.60);
        border: 3px solid #D86FFF;
        border-radius: 30px;

        @media only screen and (max-width: 1080px) {
          justify-content: center;
        }

        @media only screen and (max-width: 768px) {
          flex-direction: column-reverse;
          align-items: center;
          background-position: left 50%;
        }

        @media only screen and (max-width: 480px) {
          background-image: url('About-Us__asset-mb-subscribe-v02.png');
          background-position: left;
          box-shadow: 3.06071px 3.06071px 6.12143px 0px rgba(181, 34, 235, 0.30), -3.06071px -3.06071px 6.12143px 0px rgba(181, 34, 235, 0.30), 1.53036px 1.53036px 3.06071px 0px rgba(216, 110, 255, 0.60), -1.53036px -1.53036px 3.06071px 0px rgba(216, 110, 255, 0.60);
          border: 2px solid #D86FFF;
          border-radius: 22px;
        }

        .db-col {
          &:nth-of-type(1) {
            position: absolute;
            top:-100px;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 817px;
            overflow: hidden;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;

            @media only screen and (max-width: 768px) {
              position: static;
              max-width: unset;
              width: 100%;
            }
            
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;

              &:nth-child(1) {
                display: block;

                @media only screen and (max-width: 768px) {
                  display: none;
                }
              }

              &:nth-child(2) {
                display: none;

                @media only screen and (max-width: 768px) {
                  display: block;
                }
              }
            }
          }

          &:nth-of-type(2) {
            position: relative;
            z-index: 3;
            width: max-content;
            padding: 77px 109px 78px 26px;

            @media only screen and (max-width: 1080px) {
              padding-left: unset;
              padding-right: unset;
            }

            @media only screen and (max-width: 768px) {
              width: 100%;
              max-width: 611px;
              padding-left: 20px;
              padding-right: 20px;
            }

            @media only screen and (max-width: 480px) {
              padding:36px 25px 40px 25px;
            }

            &::before {
              content:"";
              position: absolute;
              z-index: -1;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              display: block;
              background: linear-gradient(-90deg, #08050C 0%, rgba(8, 5, 12, 0.00) 100%);
              border-top-right-radius: 30px;
              border-bottom-right-radius: 30px;

              @media only screen and (max-width: 1080px) {
                display: none;
              }
            }
            
            h4 {
              color: $whiteColor;
              font-family: $primaryFontFamily;
              font-size: 56px;
              font-style: normal;
              font-weight: 700;
              text-transform: uppercase;
              line-height: 1.1em;

              @media only screen and (max-width: 768px) {
                font-size: 45px;
              }

              @media only screen and (max-width: 480px) {
                font-size: 28px;
              }
            }

            p {
              color: $whiteColor;
              text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
              font-family: $secondaryFontFamily;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 1.1em;
              letter-spacing: -0.36px;
              margin-top: 24px;
              width: max-content;

              @media only screen and (max-width: 768px) {
                max-width: 300px;
                width: 100%;
              }

              @media only screen and (max-width: 480px) {
                font-size: 17px;
                letter-spacing: -0.345px;
                max-width: 283px;
              }
            }

            form {
              margin-top: 64px;
              
              svg {
                width: 100%;
              }

              .form-control {
                display: flex;
                justify-content: space-between;

                input[type="email"] {
                  color: rgba(202, 199, 208, 0.60);
                  font-family: $secondaryFontFamily;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 1.1em;
                  letter-spacing: -0.64px;
                  flex: 1;
                  background: transparent;
                  outline: none;

                  &::placeholder {
                    color: rgba(202, 199, 208, 0.60);
                    font-family: $secondaryFontFamily;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.1em;
                    letter-spacing: -0.64px;
                  }

                  @media only screen and (max-width: 480px) {
                    letter-spacing: -0.537px;
                    font-size: 13px;

                    &::placeholder {
                      letter-spacing: -0.537px;
                      font-size: 13px;
                    }
                  }
                }

                button {
                  color: #B1FF29;
                  font-family: $tertiaryFontFamily;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 1.1em;
                  letter-spacing: -0.64px;
                  margin-right: 20px;

                  @media only screen and (max-width: 480px) {
                    margin-right: unset;
                    letter-spacing: -0.581px;
                    font-size: 14px;
                  }
                }
              }
            }

            .db-form--newsletter {
              .db-form-wrap {
                .db-form-group {
                  &:nth-of-type(1) {
                    display: none;
                  }

                  &:nth-of-type(2) {
                    position: relative;
                    display: block;
                    width: 100%;

                    .db-form-input {
                      color: $whiteColor;
                      font-family: $secondaryFontFamily;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 1.1em;
                      letter-spacing: -0.64px;
                      position: relative;
                      z-index: 1;
                      display: block;
                      background-color: transparent;
                      width: 100%;
                      padding: 14px 112px 14px 10px;
                      outline: transparent;
                      border-bottom: 2px solid $whiteColor;

                      &::placeholder {
                        color: rgba(202, 199, 208, 0.60);
                      }
                    }

                    .db-btn--form-subscribe {
                      color: #B1FF29;
                      font-family: $tertiaryFontFamily;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 700;
                      line-height: 1.1em;
                      letter-spacing: -0.64px;
                      position: absolute;
                      z-index: 2;
                      top: 50%;
                      right: 0;
                      translate: 0 -50%;
                      display: block;
                      padding: 14px 10px;
                    }
                  }
                }
              }

              #mce-responses {
                #mce-success-response,
                #mce-error-response {
                  font-family: $primaryFontFamily;
                  font-size: 15px;
                  font-weight: 600;
                  text-align: center;
                  line-height: 1.25em;
                  padding: 10px 0;
                }
                
                #mce-success-response {
                  color: $secondaryColor;
                }

                #mce-error-response {
                  color: #FF2020;
                }
              }
            }
          }
        }
      }
    }
  }
}