.db-page--terms-of-use {
  .db-section--terms-of-use {
    padding-top: 256px;
    background-color: #0A070E;

    .db-container {
      .db-row {
        &:nth-child(1) {
          .db-col {
            &:nth-child(1) {
              h1 {
                color: #FFF;
                font-family: $primaryFontFamily;
                font-size: 56px;
                font-weight: 700;
                line-height: 115%;
                letter-spacing: -2.24px;
              }
            }
          }
        }

        &:nth-child(2) {
          max-width: 1300px;
          margin-inline: auto;
          margin-top: 50px;
          flex-direction: column;

          span {
            color: #CAC7D0;
            font-family: $secondaryFontFamily;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5em;
          }

          .db-col {
            margin-top: 80px;
            .db-policy {
              color: #CAC7D0;
              font-family: $primaryFontFamily;
              font-size: 36px;
              font-style: normal;
              font-weight: 500;
              line-height: 1.3em;
            }

            .db-policy-content {
              margin-top: 32px;
              color: #FFF;
              font-family: $primaryFontFamily;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;

            }
          }
        }
      }
    }
  }
}