.db-section--about-us-banner {
  background-image: url('AboutUs__asset-bg-v01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  padding-top: 256px;

  .db-container {
    .title-wrap {
      max-width: 795px;
      margin-inline: auto;

      h1 {
        text-align: center;

        span {
          &:nth-child(1) {
            color: $primaryColor;
            text-align: center;
            font-family: $primaryFontFamily;
            font-size: 88px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            /* 88px */
            letter-spacing: -3.52px;
          }

          &:nth-child(2) {
            color: $secondaryColor;
            font-family: $primaryFontFamily;
            font-size: 88px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: -3.52px;
          }
        }
      }

      h4 {
        color: #FFF;
        text-align: center;
        text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
        font-family: $primaryFontFamily;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        margin-top: 40px;
      }
    }

    .db-row {
      background-image: url('AboutUs__asset-banner.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      height: 634px;
      border-radius: 30px;
      border: 10px solid #242031;
      box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.40);
      margin-top: 96px;

      .db-col-spacer {
        padding-top: 49px;
        padding-left: 92px;
        padding-right: 85px;
        padding-bottom: 71px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        column-gap: 130px;

        .db-col {
          &:nth-child(1) {
            max-width: 316px;
            width: 100%;

            .db-logo-container {
              max-width: 316px;
              height: 118px;

              img {
                display: block;
                object-fit: cover;
                width: 100%
              }
            }
          }

          &:nth-child(2) {
            .db-banner-its-year {
              color: #FFF;
              text-align: center;
              display: inline-flex;
              font-family: $primaryFontFamily;
              font-size: 32px;
              font-style: normal;
              font-weight: 700;
              line-height: 100%;
            }

            .db-banner-content-block {
              display: flex;
              column-gap: 38px;
              align-items: center;
              justify-content: flex-start;
              margin-top: -15px;

              .db-banner-2069 {
                text-align: right;
                text-shadow: 1.674121379852295px 1.674121379852295px 12.55591106414795px rgba(0, 0, 0, 0.15);
                font-family: $primaryFontFamily;
                font-size: 250px;
                font-style: normal;
                font-weight: 600;
                line-height: 100%;
                /* 250px */
                letter-spacing: -10px;
                color: #FFF;
                background: linear-gradient(180deg, #C0B7FF 5.47%, rgba(185, 200, 255, 0.30) 50.74%, rgba(182, 207, 255, 0.10) 72.91%, rgba(181, 210, 255, 0.00) 90.8%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }

              .db-banner-and {
                text-align: center;
                font-family: $primaryFontFamily;
                font-size: 27px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                color: #fff;
                width: min-content;
                background: linear-gradient(180deg, #A9A4E5 0%, rgba(169, 164, 229, 0.00) 109.26%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

              }

              .db-banner-rock-the-world {
                color: rgba(255, 255, 255, 0.80);
                font-family: $primaryFontFamily;
                font-size: 64px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                /* 64px */
                letter-spacing: -1.92px;
                max-width: 226px;
              }
            }

            .db-banner-featured {
              display: flex;
              column-gap: 40px;
              margin-top: 77px;
              justify-content: flex-end;

              .db-banner-featured-item {
                display: flex;
                border-radius: 15px;
                overflow: hidden;

                .featured-item-content {
                  background: #2B1830;
                  padding: 34px 28px 33px 31px;

                  .featured-item-title {
                    color: #FFF;
                    font-family: $primaryFontFamily;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%;
                  }

                  .featured-item-description {
                    color: #CAC7D0;
                    font-family: $secondaryFontFamily;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    max-width: 165px;
                    margin-top: 24px;
                    /* 20.8px */
                    letter-spacing: -0.64px;
                  }
                }

                .featured-item-image {
                  width: 113px;

                  img {
                    display: block;
                    object-fit: cover;
                    width: 100%;
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}

.db-section--about-us-after-life {
  background-image: url('About-Us__asset-bg-v02.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 1900px;
  position: relative;

  .db-background-overlay {
    position: absolute;
    background-image: url('About-Us__asset-bg-v03.png'), linear-gradient(180deg, #0E0712 0%, #402C50 100%);
    background-blend-mode: color-dodge;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 1120px;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .db-container {
    padding-top: 213px;
    .title-wrap {
      h2 {
        color: #FFF;
        text-align: center;
        font-family: $primaryFontFamily;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        /* 80px */
        letter-spacing: -3.2px;
      }
    }

    .db-row {
      flex-direction: column;
      justify-content: space-between;
      margin-top: 70px;

      .db-col {
        &:nth-child(1) {
          display: flex;
          column-gap: 70px;
          justify-content: center;
          
          .db-inner-row {

            &:nth-child(1) {
              color: #CAC7D0;
              text-align: right;
              font-family: $secondaryFontFamily;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
                /* 24px */
              letter-spacing: -0.64px;
              max-width: 351px;
            }
            
            &:nth-child(2) {
              color: #CAC7D0;
              text-align: center;
              font-family: $secondaryFontFamily;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              /* 24px */
              letter-spacing: -0.64px;
              max-width: 460px;
            }

            &:nth-child(3) {
              color: #CAC7D0;
              font-family: $secondaryFontFamily;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              /* 24px */
              letter-spacing: -0.64px;
              max-width: 350px;
            }
          }
        }

        &:nth-child(2) {
          margin-top: 658px;
          .db-the-natives-title {
            text-align: center;
            margin-inline: auto;

            h3 {
              text-align: center;
              &:nth-child(1) {
                span {
                  font-family: $primaryFontFamily;
                  font-size: 48px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 100%;
                  &:nth-child(1) {
                    color: #B1FF29;
                  }

                  &:nth-child(2) {
                    color: #A120D2;
                  }
                }
              }

              &:nth-child(2) {
                color: #FFF;
                text-align: center;
                text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
                font-family: $primaryFontFamily;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                /* 48px */
                text-decoration-line: underline;
              }
            }
          }

          .wrapper {
            width: 100%;
            position: relative;

            .carousel {
              display: grid;
              // grid-template-columns: repeat(3, 450px);
              grid-auto-columns: calc((100% / 3.2));
              grid-template-rows: 367px;
              column-gap: 40px;
              padding-top: 90px;
              overflow-x:hidden;
              grid-auto-flow: column;
              scroll-snap-type: x mandatory;
              scroll-behavior: smooth;
              scrollbar-width: none;

              &::-webkit-scrollbar {
                display: none;
              }

              &.no-transition {
                scroll-behavior: auto;
              }

              &.dragging {
                scroll-snap-type: none;
                scroll-behavior: auto;

                .native-card {
                  cursor: grab;
                  user-select: none;
                }
              }

              
              .native-card {
                border-radius: 28.669px;
                border: 1.108px solid rgba(62, 62, 62, 0.40);
                background: rgba(0, 0, 0, 0.20);
                transition: transform 0.1s linear;

                .card-wrapper {
                  padding-top: 75px;
                  padding-right: 25px;
                  padding-bottom: 76px;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-end;
                  position: relative;
                  height: 100%;

                  &::before {
                    content:"";
                    position: absolute;
                    display: block;
                    bottom:0;
                    top:0;
                    width: 136px;
                    left:0;
                    background-image: url('About-Us__asset-native-bg-v01.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    object-fit: cover;
                    border-top-left-radius: 28px;
                    border-bottom-left-radius: 28px;
                    overflow: hidden;
                  }

                  .db-natives-image-container {
                    position: absolute;
                      left: -20px;
                      bottom: -15px;
                      img {
                        display: block;
                        object-fit: cover;
                        height: 100%;
                      }             
                  }

                  .db-natives-profile {
                    display: flex;
                    flex-direction: column;
                    max-width: 213px;
                    row-gap: 19px;
                    position: relative;
                    z-index: 2;
                    .db-native-name {
                      color: #FFF;
                      font-family: $primaryFontFamily;
                      font-size: 33.23px;
                      font-style: normal;
                      font-weight: 700;
                      line-height: 115%; /* 38.215px */
                      letter-spacing: -1.329px;
                    }

                    .db-native-description {
                      color: #CAC7D0;
                      font-family: $secondaryFontFamily;
                      font-size: 13.292px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 130%; /* 17.28px */
                      letter-spacing: -0.532px;
                    }

                  }
                }
                
              }
            }
          }

          .db-buttons-slider {
            max-width: 1146px;
            margin-inline: auto;
            margin-top: 70px;
            .buttons {
              display: flex;
              justify-content: flex-end;
              column-gap: 70px;
              .svg-icon-prev, .svg-icon-next {
                width: 20px;
                cursor:pointer;
                transition: all $hoverTransitionDuration ease-in;

                &:hover {
                  > path {
                    fill: #AA27B1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.db-section--about-us-resurrection {
  background-image: url('About-Us__asset-resurrection-bg-v01.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 100.158% 100%;
  padding-top: 141px;
  padding-bottom: 141px;

  .db-container {
    max-width: 1240px;
    .db-row {
      column-gap: 127px;
      .db-col {
        &:nth-child(1) {
          .title-wrap {
            text-align: center;
            color: #B522EB;
            font-family: $primaryFontFamily;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
          }

          .db-cards-image-container {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            row-gap: 91px;
            .db-cards-image {
              max-width: 518px;
              img {
                display: block;
                object-fit: cover;
                width: 100%;
              }

              &:nth-child(1) {
                align-self: flex-start;
              }

              &:nth-child(2) {
                align-self: flex-end;
              }
            }
          }
        }

        &:nth-child(2) {
          h3 {
            color: #FFF;
            font-family: $primaryFontFamily;
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: 115%; /* 92px */
            letter-spacing: -3.2px;
          }

          .db-resurrection-description {
            color: #FFF;
            text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
            font-family: $secondaryFontFamily;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; 
            margin-top: 20px;
          }

          .db-resurrection-content-block {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            row-gap: 30px;
            span {
              color: #CAC7D0;
              font-family: $secondaryFontFamily;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
            }
          }

          .db-resurrection-cta {
            margin-top: 70px;
            display: flex;
            align-items: center;
            column-gap: 41px;
            .db-btn {
              display: flex;
              width: 165px;
              padding: 16px 32px;
              justify-content: center;
              align-items: center;
              border-radius: 36.364px;
              border: 1px solid #B1FF29;
              color: #B1FF29;
              font-family: $tertiaryFontFamily;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 100%; /* 16px */
              letter-spacing: -0.64px;
              transition: all $hoverTransitionDuration ease-in;
              &:hover {
                color: $whiteColor;
                background-color: $secondaryColor;
              }
            }

            a {
              color: $whiteColor;
              font-family: $tertiaryFontFamily;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 100%; /* 16px */
              letter-spacing: -0.64px;
              display: flex;
              flex-direction: column;
              
              span {
                margin-bottom: 2px;
              }
              svg {
                width: max-content;
              }
            }
          }
        }
      }
    }
  }
}

.db-section--about-us-elevate {
  .db-container {
    .db-row {
      &:nth-child(1) {
        .db-col {
          &:nth-child(1) {
            h4 {
              color: #FFF;
              text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
              font-family: $primaryFontFamily;
              font-size: 48px;
              font-style: normal;
              font-weight: 700;
              line-height: 100%; 
            }

            h3 {
              color: #A120D2;
              text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.40);
              font-family: $primaryFontFamily;
              font-size: 56px;
              font-style: normal;
              font-weight: 700;
              line-height: 100%; /* 56px */
              letter-spacing: -2.24px;
            }
          }
        }
      }
    }
  }
}