/*===============*/
/*   VARIABLES   */
/*===============*/
:root {
  --primaryFontFamily: 'Owswald', sans-serif;
  --secondaryFontFamily: 'Quattrocento', serif;
  --tertiaryFontFamily: 'Montserrat', sans-serif;

  --blackColor: #000000;
  --whiteColor: #FFFFFF;

  --primaryColor: #AA27B1;
  --secondaryColor: #95CC0E;
  --tertiaryColor: '';

  --container: 1440px;

  --hoverTransitionDuration: 200ms;
  --clickTransitionDuration: 400ms;
}

$primaryFontFamily: var(--primaryFontFamily);
$secondaryFontFamily: var(--secondaryFontFamily);
$tertiaryFontFamily: var(--tertiaryFontFamily);

$blackColor: var(--blackColor);
$whiteColor: var(--whiteColor);

$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);
$tertiaryColor: var(--tertiaryColor);

$container: var(--container);

$hoverTransitionDuration: var(--hoverTransitionDuration);
$clickTransitionDuration: var(--clickTransitionDuration);
