.db-widget-item {
  padding: 3px;
  user-select: none;

  .db-widget-box {
    transition:
      box-shadow 200ms ease-in-out 0ms,
      scale 200ms ease-in-out 0ms !important;
  }

  &.--columbus {
    .db-widget-box {
      background-image: url('DB_Widget01_bg-v02-1312x886.jpg');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      max-width: 656px;
      width: 100%;
      height: 443px;
      padding-top: 67px;
      padding-right: 57px;
      scale: 1.0;
      border-radius: 30px;
      display: flex;
      justify-content: flex-end;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        display: block;
        box-shadow: unset;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-radius: inherit;
        transition:
          all 200ms ease-in-out 0ms;
      }


      .db-columbus {
        max-width: 314px;
        width: 100%;
      }

      &:hover {
        scale: 1.05;
        &::before {
          box-shadow:
            4.07796px 4.07796px 8.15591px #B522EB4D,
            -4.07796px -4.07796px 8.15591px #B522EB4D,
            2.03898px 2.03898px 4.07796px #D86EFF99,
            -2.03898px -2.03898px 4.07796px #D86EFF99;
          border-color: #D47FF3;
        }
      }
    }
  }

  &.--year-2069 {
    .db-widget-box {
      // position: relative;
      // display: flex;
      // flex-direction: column;
      // justify-content: flex-start;
      // align-items: flex-end;
      // background-image: url('DB_Widget01_bg-v02-814x770.jpg');
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover;
      // height: 385px;
      // padding: 25px 37px;
      // scale: 1.0;
      // border-radius: 30px;

      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      background-image: url('DB_Widget01_bg-v02-1312x886.jpg');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      height: 420px;
      padding: 43px 48px 28px 48px;
      scale: 1.0;
      border-radius: 30px;

      @media only screen and (max-width: 1440px) {
        background-position: left;
      }

      @media only screen and (max-width: 1080px) {
        background-position: bottom;
      }

      @media only screen and (max-width: 768px) {
        background-position: left;
      }

      @media only screen and (max-width: 480px) {
        padding: 25px;
      }

      // @media only screen and (max-width: 768px) {
      //   padding: 25px;
      // }

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        display: block;
        box-shadow: unset;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-radius: inherit;
        transition:
          all 200ms ease-in-out 0ms;
      }

      .year-wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 3px;

        span {
          &:nth-of-type(1) {
            // font-family: $primaryFontFamily;
            // font-size: 27px;
            // font-style: normal;
            // font-weight: 700;
            // text-align: center;
            // text-orientation: upright;
            // writing-mode: vertical-lr;
            // line-height: 1.1em;
            // letter-spacing: -13px;
            // display: block;
            // background: linear-gradient(180deg, #A9A4E5 0%, rgba(169, 164, 229, 0.00) 109.26%);
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;

            text-orientation: upright;
            writing-mode: vertical-lr;
            text-align: center;
            font-family: $primaryFontFamily;
            font-size: 31px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: -13px;
            background: linear-gradient(180deg, #A9A4E5 0%, rgba(169, 164, 229, 0.00) 109.26%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          &:nth-of-type(2) {
            // font-family: $primaryFontFamily;
            // font-size: 128px;
            // font-style: normal;
            // font-weight: 600;
            // text-align: right;
            // text-shadow: 1.674121379852295px 1.674121379852295px 12.55591106414795px rgba(0, 0, 0, 0.15);
            // line-height: 0.9em;
            // letter-spacing: -5.12px;
            // display: block;
            // background: linear-gradient(180deg, #C0B7FF 5.47%, rgba(185, 200, 255, 0.30) 63.11%, rgba(181, 210, 255, 0.00) 95.31%);
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;

            text-align: right;
            text-shadow: 1.9270234107971191px 1.9270234107971191px 14.452675819396973px rgba(0, 0, 0, 0.15);
            font-family: $primaryFontFamily;
            font-size: 147px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%; /* 147px */
            letter-spacing: -5.88px;
            background: linear-gradient(180deg, #C0B7FF 5.47%, rgba(185, 200, 255, 0.30) 63.11%, rgba(181, 210, 255, 0.00) 95.31%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @media only screen and (max-width: 768px) {
              font-size: 110px;
            }
          }
        }
      }

      p {
        // color: rgba(255, 255, 255, 0.80);
        // font-family: $primaryFontFamily;
        // font-size: 36px;
        // font-style: normal;
        // font-weight: 700;
        // text-align: right;
        // line-height: 1.1em;
        // letter-spacing: -1.08px;
        // max-width: 130px;
        // width: 100%;

        color: rgba(255, 255, 255, 0.80);
        text-align: right;
        font-family: $primaryFontFamily;
        font-size: 41px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 41px */
        letter-spacing: -1.23px;
        max-width: 183px;
        width: 100%;

        // @media only screen and (max-width: 768px) {
        //   font-size: 30px;
        // }
      }

      .db-btn--explore-the-world {
        // display: block;
        // background-color: #0C0720;
        // width: max-content;
        // margin: auto 0 0;
        // padding: 12px 32px;
        // border-radius: 50px;

        display: block;
        background-color: #0C0720;
        width: max-content;
        margin: auto 0 0;
        padding: 13.813px 36.834px;
        border-radius: 43.74px;
        align-self: center;

        .db-btn-wrap {
          .db-btn-label {
            // color: $whiteColor;
            // font-family: $primaryFontFamily;
            // font-size: 14px;
            // font-style: normal;
            // font-weight: 600;
            // line-height: 1.1em;
            // letter-spacing: -0.56px;
            // display: block;

            display: block;
            color: #FFF;
            font-family: $primaryFontFamily;
            font-size: 16.115px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%; /* 16.115px */
            letter-spacing: -0.645px;
            transition:
              color 200ms ease-in-out 0ms;
          }
        }

        &:hover {
          .db-btn-wrap {
            .db-btn-label {
              color: $secondaryColor;
            }
          }
        }
      }

      &:hover {
        scale: 1.05;

        &::before {
          box-shadow:
            4.07796px 4.07796px 8.15591px #B522EB4D,
            -4.07796px -4.07796px 8.15591px #B522EB4D,
            2.03898px 2.03898px 4.07796px #D86EFF99,
            -2.03898px -2.03898px 4.07796px #D86EFF99;
          border-color: #D47FF3;
        }
      }
    }
  }

  &.--music-player {
    .db-widget-box {
      display: block;
      background-color: transparent;
      padding: 15px;
      scale: 1.0;
      border: 1px solid rgba(255, 255, 255, 0.40);
      border-radius: 30px;

      .db-inner-row {
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        width: 100%;

        .db-inner-col {
          &:nth-of-type(1) {
            width: max-content;

            .db-btn--toggle-play {
              .svg-icon-play {
                width: 60px;
                height: 60px;
              }
            }
          }

          &:nth-of-type(2) {
            width: 100%;
            overflow: hidden;

            .music-title {
              color: $whiteColor;
              font-family: $primaryFontFamily;
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: 1.1em;
              letter-spacing: -0.6px;
              white-space: nowrap;
              display: block;
              margin: 0 0 14px;
            }

            .music-artist {
              color: #CAC7D0;
              font-family: $secondaryFontFamily;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 1.1em;
              letter-spacing: -0.64px;
              display: block;
              height: calc(1.1em * 1);
              overflow: hidden;
            }
          }

          &:nth-of-type(3) {
            max-width: 25px;
            min-width: 25px;
            width: 100%;

            .music-duration {
              color: #CAC7D0;
              font-family: $primaryFontFamily;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 1.1em;
              display: block;
              width: max-content;
            }
          }
        }
      }

      &.--is-playing {
        .db-inner-row {
          .db-inner-col {
            &:nth-of-type(2) {
              .music-title {
                animation:
                  running-text 15s linear infinite;
              }
            }
          }
        }
      }

      // &:hover {
      //   scale: 1.05;
      //   border-color: #D47FF3;
      // }
    }
  }

  &.--discover-collect {
    .db-widget-box {
      background-image: url('DB_Widget03_bg-v02-814x700.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: unset;
      height: 350px;
      padding: 27px 60px;
      scale: 1.0;
      border: none;
      border-radius: 30px;

      @media only screen and (max-width: 768px) {
        padding: 25px 40px;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        display: block;
        box-shadow: unset;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-radius: inherit;
        transition:
          all 200ms ease-in-out 0ms;
      }

      h5 {
        color: #373249;
        font-family: $primaryFontFamily;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5em;
      }

      &:hover {
        scale: 1.05;

        &::before {
          box-shadow:
            4.07796px 4.07796px 8.15591px 0px rgba(255, 255, 255, 0.30),
            -4.07796px -4.07796px 8.15591px 0px rgba(255, 255, 255, 0.30),
            2.03898px 2.03898px 4.07796px 0px rgba(255, 255, 255, 0.60),
            -2.03898px -2.03898px 4.07796px 0px rgba(255, 255, 255, 0.60);
          border: 3px solid $whiteColor;
        }
      }
    }
  }

  &.--merch {
    .db-widget-box {
      display: block;
      background-image: url('DB_Widget04_bg-v02-814x580.png');
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: cover;
      box-shadow: unset;
      height: 290px;
      scale: 1.0;
      border: none;
      border-radius: 30px;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        display: block;
        box-shadow: unset;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-radius: inherit;
        transition:
          all 200ms ease-in-out 0ms;
      }

      &:hover {
        scale: 1.05;

        &::before {
          box-shadow:
            4.07796px 4.07796px 8.15591px 0px rgba(181, 34, 235, 0.30),
            -4.07796px -4.07796px 8.15591px 0px rgba(181, 34, 235, 0.30),
            2.03898px 2.03898px 4.07796px 0px rgba(216, 110, 255, 0.60),
            -2.03898px -2.03898px 4.07796px 0px rgba(216, 110, 255, 0.60);
          border: 3px solid #D86FFF;
        }
      }
    }
  }

  &.--roadmap {
    .db-widget-box {
      // display: block;
      // background-image: url('DB_Widget05_bg-v01-860x480.jpg');
      // background-position: center;
      // background-repeat: no-repeat;
      // background-color: transparent;
      // background-size: cover;
      // box-shadow: unset;
      // width: 100%;
      // height: 195px;
      // padding: 20px;
      // scale: 1.0;
      // border: none;
      // border-radius: 30px;

      display: block;
      background-image: url('DB_Widget05_bg-v01-860x480.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: cover;
      box-shadow: unset;
      width: 100%;
      height: 335px;
      padding: 64px 50px 80px;
      scale: 1.0;
      border: none;
      border-radius: 30px;

      @media only screen and (max-width: 480px) {
        padding: 38px 34px 38px 34px;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        display: block;
        box-shadow: unset;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-radius: inherit;
        transition:
          all 200ms ease-in-out 0ms;
      }

      // h5 {
      //   font-family: $primaryFontFamily;
      //   font-size: 88px;
      //   font-style: normal;
      //   font-weight: 600;
      //   text-align: center;
      //   text-shadow: 1.674121379852295px 1.674121379852295px 12.55591106414795px rgba(0, 0, 0, 0.15);
      //   line-height: 1em;
      //   letter-spacing: -3.52px;

      //   background: linear-gradient(180deg, #C0B7FF 5.47%, rgba(185, 200, 255, 0.30) 57.21%, rgba(181, 210, 255, 0.00) 89.93%);
      //   background-clip: text;
      //   -webkit-background-clip: text;
      //   -webkit-text-fill-color: transparent;

      //   margin: 0 auto 29px;

      //   @media only screen and (max-width: 768px) {
      //     font-size: 60px;
      //   }
      // }

      img {
        display: block;
        object-fit: cover;
        width: 100%;
        margin: 0 auto;
      }

      p {
        // color: $whiteColor;
        // font-family: $primaryFontFamily;
        // font-size: 20px;
        // font-style: normal;
        // font-weight: 600;
        // text-align: center;
        // line-height: 1.1em;

        color: $whiteColor;
        font-family: $primaryFontFamily;
        font-size: 32px;
        font-style: normal;
        text-align: center;
        font-weight: 600;
        line-height: 1.1em;
        margin-top: 46px;

        @media only screen and (max-width: 768px) {
          font-size: 27px;
        }
        
        @media only screen and (max-width: 480px) {
          font-size: 19px;
        }
      }

      &:hover {
        scale: 1.05;

        &::before {
          box-shadow:
            4.07796px 4.07796px 8.15591px 0px rgba(181, 34, 235, 0.30),
            -4.07796px -4.07796px 8.15591px 0px rgba(181, 34, 235, 0.30),
            2.03898px 2.03898px 4.07796px 0px rgba(216, 110, 255, 0.60),
            -2.03898px -2.03898px 4.07796px 0px rgba(216, 110, 255, 0.60);
          border: 3px solid #D86FFF;
        }
      }
    }
  }

  &.--the-beats-radio {
    .db-widget-box {
      position: relative;
      background-image: url('DB_Widget06_bg-v02-524x522.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: unset;
      height: 260px;
      padding: 12px 20px;
      scale: 1.0;
      border-radius: 30px;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        display: block;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-radius: inherit;
        transition:
          all 200ms ease-in-out 0ms;
      }

      .svg-logo-92-nine {
        display: block;
      }

      h5 {
        color: $whiteColor;
        font-family: $primaryFontFamily;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        text-shadow: 1.674121379852295px 1.674121379852295px 12.55591106414795px rgba(0, 0, 0, 0.15);
        line-height: 1.1em;
        letter-spacing: -1.12px;
        -webkit-text-stroke: 1.2px $blackColor;
        margin: -11px 0 0;
      }

      &:hover {
        scale: 1.05;
        
        &::before {
          box-shadow:
            4.07796px 4.07796px 8.15591px 0px rgba(193, 255, 44, 0.30),
            -4.07796px -4.07796px 8.15591px 0px rgba(193, 255, 44, 0.30),
            2.03898px 2.03898px 4.07796px 0px rgba(193, 255, 44, 0.60),
            -2.03898px -2.03898px 4.07796px 0px rgba(193, 255, 44, 0.60);
          border-color: #C1FF2C;
        }
      }
    }
  }

  &.--the-beats-currency {
    .db-widget-box {
      background-image: url('DB_Widget07_bg-v01-524x510.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: unset;
      height: 255px;
      padding: 40px 20px;
      border: none;
      border-radius: 30px;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        display: block;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-radius: inherit;
        transition:
          all 200ms ease-in-out 0ms;
      }

      span {
        color: rgba(202, 199, 208, 0.80);
        font-family: $primaryFontFamily;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.1em;
        display: block;
        width: max-content;

        &:nth-of-type(1) {
          margin: 0 0 5px 65px;
        }

        &:nth-of-type(2) {
          margin: 5px 0 0 120px;
        }
      }

      .svg-text-beats {
        display: block;
        margin: 0 auto;
      }

      &:hover {
        scale: 1.05;

        &::before {
          box-shadow:
            4.07796px 4.07796px 8.15591px 0px rgba(181, 34, 235, 0.30),
            -4.07796px -4.07796px 8.15591px 0px rgba(181, 34, 235, 0.30),
            2.03898px 2.03898px 4.07796px 0px rgba(216, 110, 255, 0.60),
            -2.03898px -2.03898px 4.07796px 0px rgba(216, 110, 255, 0.60);
          border: 3px solid #D86FFF;
        }
      }
    }
  }

  &.--creators {
    .db-widget-box {
      background-image: url('DB_Widget08_bg-v01-524x1126.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: unset;
      height: auto;
      scale: 1.0;
      padding: 32px 33px 0;
      border: none;
      border-radius: 30px;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        display: block;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-radius: inherit;
        transition:
          all 200ms ease-in-out 0ms;
      }

      > span {
        color: #0E003D;
        font-family: $primaryFontFamily;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.1em;
        display: block;
        margin: 0 0 3px;
      }
      
      h5 {
        color: $whiteColor;
        font-family: $primaryFontFamily;
        font-size: 80px;
        font-style: normal;
        font-weight: 500;
        text-shadow: 1.674121379852295px 1.674121379852295px 12.55591106414795px rgba(0, 0, 0, 0.15);
        line-height: 1.1em;
        letter-spacing: -3.2px;
        word-break: keep-all;
        display: inline-block;
        vertical-align: middle;
        overflow-wrap: anywhere;
        margin: 0 0 38px;
        
        .db-svg {
          display: inline-block;
          vertical-align: middle;
          margin: -15px 0 0;
        }
      }

      .db-img-figure-01 {
        display: block;
        width: auto;
        height: 290px;
        margin: 0 auto;
      }

      &:hover {
        scale: 1.05;

        &::before {
          box-shadow:
            4.02237px 4.02237px 8.04474px 0px rgba(193, 255, 44, 0.30),
            -4.02237px -4.02237px 8.04474px 0px rgba(193, 255, 44, 0.30),
            2.01118px 2.01118px 4.02237px 0px rgba(193, 255, 44, 0.60),
            -2.01118px -2.01118px 4.02237px 0px rgba(193, 255, 44, 0.60);
          border: 3px solid #C1FF2C;
        }
      }
    }
  }

  &.--marketplace {
    .db-widget-box {
      background-image: url('DB_Widget09_bg-v01-524x487.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: unset;
      height: 243px;
      padding: 32px 40px;
      scale: 1.0;
      border: none;
      border-radius: 30px;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        display: block;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-radius: inherit;
        transition:
          all 200ms ease-in-out 0ms;
      }

      h5 {
        color: #373249;
        font-family: Oswald;
        font-size: 31.244px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        line-height: 1.1em;
      }

      &:hover {
        scale: 1.05;

        &::before {
          box-shadow:
            4.07796px 4.07796px 8.15591px 0px rgba(255, 255, 255, 0.30),
            -4.07796px -4.07796px 8.15591px 0px rgba(255, 255, 255, 0.30),
            2.03898px 2.03898px 4.07796px 0px rgba(255, 255, 255, 0.60),
            -2.03898px -2.03898px 4.07796px 0px rgba(255, 255, 255, 0.60);
          border: 3px solid $whiteColor;
        }
      }
    }
  }
}