.db-widget-item {
  &.--year-2069 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url('DB_Widget01_bg-v01-407x385.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 385px;
    padding: 25px 37px;
    border-radius: 30px;

    .year-wrap {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 3px;

      span {
        &:nth-of-type(1) {
          font-family: $primaryFontFamily;
          font-size: 27px;
          font-style: normal;
          font-weight: 700;
          text-align: center;
          text-orientation: upright;
          writing-mode: vertical-lr;
          line-height: 1.1em;
          letter-spacing: -13px;
          display: block;
          background: linear-gradient(180deg, #A9A4E5 0%, rgba(169, 164, 229, 0.00) 109.26%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &:nth-of-type(2) {
          font-family: $primaryFontFamily;
          font-size: 128px;
          font-style: normal;
          font-weight: 600;
          text-align: right;
          text-shadow: 1.674121379852295px 1.674121379852295px 12.55591106414795px rgba(0, 0, 0, 0.15);
          line-height: 0.9em;
          letter-spacing: -5.12px;
          display: block;
          background: linear-gradient(180deg, #C0B7FF 5.47%, rgba(185, 200, 255, 0.30) 63.11%, rgba(181, 210, 255, 0.00) 95.31%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    p {
      color: rgba(255, 255, 255, 0.80);
      font-family: $primaryFontFamily;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      text-align: right;
      line-height: 1.1em;
      letter-spacing: -1.08px;
      max-width: 160px;
      width: 100%;
    }

    .db-btn--explore-the-world {
      display: block;
      background-color: #0C0720;
      width: max-content;
      margin: auto 0 0;
      padding: 12px 32px;
      border-radius: 50px;

      .db-btn-wrap {
        .db-btn-label {
          color: $whiteColor;
          font-family: $primaryFontFamily;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 1.1em;
          letter-spacing: -0.56px;
          display: block;
        }
      }
    }
  }

  &.--music-player {
    display: block;
    background-color: transparent;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    border-radius: 30px;

    .db-inner-row {
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      width: 100%;

      .db-inner-col {
        &:nth-of-type(1) {
          width: max-content;

          .svg-icon-play {
            width: 60px;
            height: 60px;
          }
        }

        &:nth-of-type(2) {
          width: 100%;
          overflow: hidden;

          .music-title {
            color: $whiteColor;
            font-family: $primaryFontFamily;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.1em;
            letter-spacing: -0.6px;
            white-space: nowrap;
            display: block;
            margin: 0 0 14px;
          }

          .music-artist {
            color: #CAC7D0;
            font-family: $secondaryFontFamily;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.1em;
            letter-spacing: -0.64px;
            display: block;
            height: calc(1.1em * 1);
            overflow: hidden;
          }
        }

        &:nth-of-type(3) {
          max-width: 25px;
          min-width: 25px;
          width: 100%;

          .music-duration {
            color: #CAC7D0;
            font-family: $primaryFontFamily;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.1em;
            display: block;
            width: max-content;
          }
        }
      }
    }
  }

  &.--discover-collect {
    background-image: url('DB_Widget03_bg-v01-407x350.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    padding: 27px 60px;
    border-radius: 30px;

    p {
      color: #373249;
      font-family: $primaryFontFamily;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5em;
    }
  }
}